@import "styles";

@mixin Code($comp: "code-inline") {
	--text-color: #000;
	--font-weight: 500;
	--font-family: monospace;

	@include useTextColor($comp);
	@include useFontWeight($comp);
	@include useFontFamily($comp);
}
