/*
---------------------------------
DEBUG
---------------------------------
*/
/* Debug Media Queries */
/* @st-import Responsive from "./responsive-mixin.st.css"; */
/* .root {
	-st-mixin: Responsive;
} */

/*
	Debug Line Index
*/
/* @st-scope .root {	
	ContentComponent:type(paragraph):hover::before {
		color: red;
	}
	ContentComponent:type(paragraph)::before {
		content: attr(data-line-index);
		color: #c0c0c0;
		width: 20px;
		padding-right: 20px;
		text-align: right;
		display: inline-block;
	}
} */
