@namespace "Popover";

.root {
}

.triggerInner {
	position: relative;
}

.trigger {
	color: blue;
	background: none;
	border: none;
	padding: 0;
}

.trigger:hover {
	/* color: orange; */
	text-decoration: underline;
	cursor: pointer;
	background: none;
	border: none;
}

.content {
	height: 250px;
	background-color: yellow;
	overflow: hidden;
	overflow-y: scroll;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
	border: 2px solid #404040;
	/* color: #fff; */
	font-family: sans-serif;
	padding: 2rem;
	border-radius: 4px;
	width: 250px;
}

.arrow {
	/* fill: #fff; */
	width: 12px;
	height: 8px;
}

.closeButton {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: 50%;
	border: none;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 15px;
	text-transform: lowercase;
	font-family: sans-serif;
}

.x {
	color: blue;
}