@namespace "PopoverCloseButton";

@st-import [level4, primary3] from "../../theme/common.st.css";
@st-import [preventSelection] from "../../theme/mixins.st.css";

:vars {
	PopoverCloseIconColor: value(level4);
	PopoverCloseIconColorHover: value(primary3);
}

.root {
	-st-mixin: preventSelection;
	cursor: pointer;
	border: none;
	background: none;
	flex-grow: 0;
}

.cross {
	border-radius: 50%;
}
.cross path {
	fill: value(PopoverCloseIconColor);
}
.cross:hover path {
	fill: value(PopoverCloseIconColorHover);
}
