@use '../../styles/lib/merge';
@import '../component';

$__stylesheet__: (
	name: popover-trigger,
);
$states: merge.deep(
	$COMPONENT_STATES,
	(
		selected: open,
		selected-hovered: (
			(open, hover),
		),
		selected-clicked: (
			(open, active),
		),
	)
);

@function -text-color($state: '') {
	@return compRef(name(), text-color, $state);
}

@function -bg-color($state: '') {
	@return compRef(name(), background-color, $state);
}

@function -suffix-color($state: '') {
	@return compRef(name(), astriek-color, $state);
}

$color: varName(popover-trigger-text-color);
$bgColor: varName(popover-trigger-background-color);
$suffixColor: varName(term-suffix-text-color);

.root {
	&[data-popover-state='closed'] {
		#{$suffixColor}: -suffix-color();

		&:hover {
			#{$color}: -text-color(state(hovered));
			#{$suffixColor}: -suffix-color(state(hovered));
		}

		// todo: expand theme to support this state
		// &:active {
		// 	#{$color}: -text-color(clicked);
		// 	#{$bgColor}: -bg-color(clicked);
		// 	#{$suffixColor}: -suffix-color(clicked);
		// }
	}

	&[data-popover-state='open'] {
		#{$color}: -text-color(state(selected));
		#{$bgColor}: -bg-color(state(selected));
		#{$suffixColor}: -suffix-color(state(selected));

		// todo: expand theme to support this state
		// &:hover {
		// 	#{$color}: -text-color(selected-hovered);
		// 	#{$bgColor}: -bg-color(selected-hovered);
		// 	#{$suffixColor}: -suffix-color(selected-hovered);
		// }

		// todo: expand theme to support this state
		// &:active {
		// 	#{$color}: -text-color(selected-clicked);
		// 	#{$bgColor}: -bg-color(selected-clicked);
		// 	#{$suffixColor}: -suffix-color(selected-clicked);
		// }
	}
}
