@namespace "PopoverMixin";

@st-import Popover from "./popover.st.css";

:vars {
	BgColor: #000;
	TriggerTextColor: black;
	TriggerTextColor_Hover: #808080;
	TriggerTextColor_Open: magenta;
	TriggerTextBgColor_Open: #c0c0c0;
	TriggerMarkerColor_Open: magenta;
	TriggerRadius: 4px;
	PopoverContentShadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.root {
	-st-extends: Popover;
}

.root::content {
	box-shadow: value(PopoverContentShadow);
	border-radius: 10px;
	border: 1px solid value(BgColor);
}

.root:type(annotation)::trigger,
.root:type(glossary)::trigger {
	color: value(TriggerTextColor);
}

.root:type(glossary)::triggerWrapper {
	border-radius: value(TriggerRadius);
}

.root::trigger:hover,
.root:type(glossary)[data-state="closed"]::trigger:hover,
.root:type(glossary)[data-state="closed"]::trigger:hover::after {
	color: value(TriggerTextColor_Hover);
}

.root:type(glossary)[data-state="open"]::triggerWrapper,
.root:type(glossary)[data-state="open"]::triggerWrapper:hover {
	background-color: value(TriggerTextBgColor_Open);
	color: value(TriggerTextColor_Open);
}

.root:type(glossary)[data-state="open"]::trigger::after {
	color: value(TriggerMarkerColor_Open);
}
