@namespace "PopoverTrigger";

@st-import [preventSelection] from "../../theme/mixins.st.css";

:vars {
  triggerColor: blue;
  triggerColorOpen: green;
  triggerColorHover: orange;
}

.root {
  -st-states: type(string);
  cursor: pointer;
  color: value(triggerColor);
  padding: inherit;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: inherit;
}

.root[data-state="open"],
.root[data-state="open"]:hover {
  color: value(triggerColorOpen);
}

.root:hover {
  color: value(triggerColorHover);
}

.root[data-state="open"]:type(glossary) {
  background-color: yellow;
}

.root:type(glossary)::after {
  content: '※';
  -st-mixin: preventSelection;
  /* font-size: 50%; */
  z-index: 0;
  position: relative;
  top: -5px;
}

