@import 'styles/lib/component';
@import 'styles/lib/themeVars';
@import 'styles/lib/states';
@import 'styles/mixins/animationMixins';

$__stylesheet__: (
	name: popover-dialog,
);

.root {
	--animation-type: fade-in;
	--animation-duration: 250ms;
	--animation-easing: ease-out forwards;
	--width: 20em;
	--border-width: 1px;
	--border-style: solid;
	--border-color: #808080;
	--radius: 4px;
	--shadow: none;
	--background-color: #e0e0e0;

	overflow: hidden;

	@include use-width;
	@include use-background-color;
	@include use-shadow;
	@include use-border-size;
	@include use-border-style;
	@include use-border-color;
	@include use-radius;
	@include fade-in(name());

	.content {
		@include use-background-color;
	}
}
