@use '../toolbar-item/ToolbarItem.module';
@import 'styles/lib/component';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: popover,
);

.trigger {
	background: none;
	border: none;
	padding: 0;
}

.toolbar {
	display: flex;
	justify-content: space-between;

	@include useInnerGutter(popover-toolbar);
	@include useBorderSize(popover-dialog);
	@include useBorderStyle(popover-dialog);
	@include useBorderColor(popover-dialog);

	// toolbar displays only a bottom-border
	border-top: none;
	border-left: none;
	border-right: none;

	// .panel {
	// }

	// .closeButton {
	// }

	.closePopoverButton {
		@include ToolbarItem.ToolbarButtonMixin;
	}
}
