@namespace "PopoverToolbar";

@st-import PopoverCloseButton from "./popover-close-button.st.css";
@st-import CopyUrlButton from "../copy-button/copy-url-button.st.css";

.root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
  padding: 0.5rem 0.25rem;
}

.toolbarContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-grow: 1;
}

.item {
	cursor: pointer;
}

.copy {
	-st-extends: CopyUrlButton;
}

.close {
	-st-extends: PopoverCloseButton;
}
