@namespace "PopoverTriggerTheme";

@st-import PopoverTrigger from "./popover-trigger.st.css";

:vars {
  triggerColor: #000;
  triggerColorOpen: #000;
  triggerColorHover: #000;
}

.root {
  -st-extends: PopoverTrigger;
  color: value(triggerColor);
}

.root[data-state="open"],
.root[data-state="open"]:hover {
  color: value(triggerColorOpen);
}

.root:hover {
  color: value(triggerColorHover);
}

.root[data-state="open"]:type(glossary) {
  border-bottom: 3px double red;
  background-color: yellow;
}
