@use '../../styles/lib/merge';
@import '../../styles/lib/component';
@import '../../styles/lib/states';
@import '../../styles/lib/themeVars';

$__stylesheet__: (
	name: popover-trigger,
);
$states: merge.deep(
	$COMPONENT_STATES,
	(
		selected: open,
		selected-hovered: (
			(open, hover),
		),
		selected-clicked: (
			(open, active),
		),
	)
);

@function -text-color($state: '') {
	@return compRef(name(), text-color, state($state));
}

@function -bg-color($state: '') {
	@return compRef(name(), background-color, state($state));
}

@function -suffix-color($state: '') {
	@return compRef(name(), astriek-color, state($state));
}

$color: varName(popover-trigger-text-color);
$bgColor: varName(popover-trigger-background-color);
$suffixColor: varName(term-suffix-text-color);

.root {
	&[data-popover-state='closed'] {
		#{$suffixColor}: -suffix-color();

		&:hover {
			#{$color}: -text-color(hovered);
			#{$suffixColor}: -suffix-color(hovered);
		}

		&:active {
			#{$color}: -text-color(clicked);
			#{$bgColor}: -bg-color(clicked);
			#{$suffixColor}: -suffix-color(clicked);
		}
	}

	&[data-popover-state='open'] {
		#{$color}: -text-color(selected);
		#{$bgColor}: -bg-color(selected);
		#{$suffixColor}: -suffix-color(selected);

		&:hover {
			#{$color}: -text-color(selected-hovered);
			#{$bgColor}: -bg-color(selected-hovered);
			#{$suffixColor}: -suffix-color(selected-hovered);
		}

		&:active {
			#{$color}: -text-color(selected-clicked);
			#{$bgColor}: -bg-color(selected-clicked);
			#{$suffixColor}: -suffix-color(selected-clicked);
		}
	}
}
