@use '../toolbar-item/ToolbarItem.module' as toolbar-item;
@import '../component.scss';

$__stylesheet__: (
	name: popover,
);

.trigger {
	background: none;
	border: none;
	padding: 0;
}

.toolbar {
	display: flex;
	justify-content: space-between;

	@include use-inner-gutter(popover-toolbar);
	@include use-border-size(popover-dialog);
	@include use-border-style(popover-dialog);
	@include use-border-color(popover-dialog);

	// toolbar displays only a bottom-border
	border-top: none;
	border-left: none;
	border-right: none;

	// .panel {
	// }

	// .closeButton {
	// }

	.close {
		@include toolbar-item.toolbar-button-mixin;
	}
}
