@namespace "PopoverToolbar";

@st-import PopoverToolbar from "./popover-toolbar.st.css";
@st-import [IconFill] from "../../theme/common/mixins.st.css";

:vars {
	PopoverToolbarBgColor: #fff;
	IconFill_Color: #000;
	IconFill_Hover: #808080;
	IconFill_Active: #c0c0c0;
	SeperatorColor: #000;
}

.root {
	-st-extends: PopoverToolbar;
	background-color: value(PopoverToolbarBgColor);
	border-bottom-color: value(SeperatorColor);
}

.root::item {
	-st-mixin: IconFill(
		FillColor value(IconFill_Color),
		FillColor_Hover value(IconFill_Hover),
		FillColor_Active value(IconFill_Active)
	)
}
