@use 'styles/lib/merge';
@import 'styles/lib/component';
@import 'styles/lib/states';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: popover-trigger,
);
$states: merge.deep(
	$COMPONENT_STATES,
	(
		selected: open,
		selected-hovered: (
			(open, hover),
		),
		selected-clicked: (
			(open, active),
		),
	)
);

@function refTextColor($state: '') {
	@return compRef(name(), text-color, state($state));
}

@function refBgColor($state: '') {
	@return compRef(name(), background-color, state($state));
}

@function refSuffixColor($state: '') {
	@return compRef(name(), astriek-color, state($state));
}

$color: varName(popover-trigger-text-color);
$bgColor: varName(popover-trigger-background-color);
$suffixColor: varName(term-suffix-text-color);

.root {
	&[data-popover-state='closed'] {
		#{$suffixColor}: refSuffixColor();

		&:hover {
			#{$color}: refTextColor(hovered);
			#{$suffixColor}: refSuffixColor(hovered);
		}

		&:active {
			#{$color}: refTextColor(clicked);
			#{$bgColor}: refBgColor(clicked);
			#{$suffixColor}: refSuffixColor(clicked);
		}
	}

	&[data-popover-state='open'] {
		#{$color}: refTextColor(selected);
		#{$bgColor}: refBgColor(selected);
		#{$suffixColor}: refSuffixColor(selected);

		&:hover {
			#{$color}: refTextColor(selected-hovered);
			#{$bgColor}: refBgColor(selected-hovered);
			#{$suffixColor}: refSuffixColor(selected-hovered);
		}

		&:active {
			#{$color}: refTextColor(selected-clicked);
			#{$bgColor}: refBgColor(selected-clicked);
			#{$suffixColor}: refSuffixColor(selected-clicked);
		}
	}
}
