@namespace "PopoverContent";

:vars {
  PopoverContentBorder: none;
  PopoverContentRadius: 6px;
  PopoverContentBgColor: #fff;
  PopoverContentMaxWidth: 350px;
  PopoverContentMaxHeight: 300px;
  PopoverContentShadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.root {
  z-index: 1;
  overflow-y: scroll;
  border: value(PopoverContentBorder);
  border-radius: value(PopoverContentRadius);
  background: value(PopoverContentBgColor);
  width: value(PopoverContentMaxWidth);
  max-height:value(PopoverContentMaxHeight);
  box-shadow: value(PopoverContentShadow);
  animation: fadeIn 300ms ease-out forwards;
  min-height: value(PopoverContentMaxHeight);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
