@namespace "PopoverMixin";

@st-import Popover from "./popover.st.css";
@st-import [preventSelection, verticalAlignSuper] from "../../theme/mixins.st.css";

:vars {
	LinkColor: blue;
	LinkColorHover: red;
  TriggerOpenTextColor: magenta;
  TriggerOpenBgColor: magenta;
  GlossaryMarkerOpenColor: blue;
}

.root {
  -st-extends: Popover;
}

.root:type(annotation)::trigger,
.root:type(glossary)::trigger {
  color: value(LinkColor);
}

.root:type(glossary)::triggerWrapper {
  border-radius: 4px;
}

.root:type(annotation)::trigger:hover,
.root:type(glossary)[data-state="closed"]::trigger:hover,
.root:type(glossary)[data-state="closed"]::trigger:hover::after {
  color: value(LinkColorHover);
}

.root:type(glossary)[data-state="open"]::triggerWrapper,
.root:type(glossary)[data-state="open"]::triggerWrapper:hover {
  background-color: value(TriggerOpenBgColor);
  color: value(TriggerOpenTextColor);
}

.root:type(glossary)::trigger::after {
  -st-mixin: preventSelection, verticalAlignSuper;
  content: "\203B";
}

.root:type(glossary)[data-state="open"]::trigger::after {
  color: value(GlossaryMarkerOpenColor);
}

.root::content {
  margin-top: 20px;
}
