@namespace "PopoverCloseButton";

@st-import [preventSelection] from "../../theme/mixins.st.css";

:vars {
  PopoverCloseBorder: none;
  PopoverCloseMarginTop: 1rem;
  PopoverCloseBorderRadius: 50%;
  PopoverCloseFontSize: 12px;
  PopoverCloseSize: 30px;
  PopoverCloseBgHover: red;
  PopoverClosePosRight: 1rem;
  PopoverClosePosLeft: 1rem;
  PopoverCloseIconColor: blue;
  PopoverCloseIconColorHover: #fff;
  PopoverCloseCase: lowercase;
}

.root {
  -st-states: posX(enum(right, left));
  -st-mixin: preventSelection;
  position: absolute;
  cursor: pointer;

  top: value(PopoverCloseMarginTop);
  border-radius: value(PopoverCloseBorderRadius);
  border: value(PopoverCloseBorder);
  font-size: value(PopoverCloseFontSize);
  width: value(PopoverCloseSize);
  height: value(PopoverCloseSize);
  line-height: value(PopoverCloseSize);
  text-transform: value(PopoverCloseCase);
}

.root:hover {
  background-color: value(PopoverCloseBgHover);
}

.root:posX(right) {
  right: value(PopoverClosePosRight);
}
.root:posX(left) {
  left: value(PopoverClosePosLeft);
}

.icon {}

.root::icon {
  color: value(PopoverCloseIconColor);
}

.root:hover::icon {
  color: value(PopoverCloseIconColorHover);
}

