@namespace "PopoverContentTheme";

@st-import PopoverContent from "./popover-content.st.css";

:vars {
  PopoverContentBorder: 1px solid black;
  PopoverContentRadius: 0;
  PopoverContentBgColor: #f0f0f0;
  PopoverContentMaxWidth: auto;
  PopoverContentMaxHeight: auto;
  PopoverContentShadow: none;
}

.root {
  -st-extends: PopoverContent;
		border: value(PopoverContentBorder);
    border-radius: value(PopoverContentRadius);
		background: value(PopoverContentBgColor);
		width: value(PopoverContentMaxWidth);
		max-height:value(PopoverContentMaxHeight);
		box-shadow: value(PopoverContentShadow);
}
