@import 'styles/baseComponentStyle';

$__stylesheet__: (
	name: popover,
);

.trigger {
	background: none;
	border: none;
	padding: 0;
}

.toolbar {
	border-bottom: 1px solid red;
	padding: 0.5em;
}

.toolbarButton {
	border: 2px solid blue;
}
