@import 'styles/baseComponentStyle';
@import 'styles/lib/themeVars';
@import 'styles/lib/states';

$__stylesheet__: (
	name: popover-dialog,
);

.root {
	--animation-type: fadeIn;
	--animation-duration: 250ms;
	--animation-easing: ease-out forwards;
	--width: 20em;
	--border-width: 1px;
	--border-style: solid;
	--border-color: #808080;
	--radius: 4px;
	--shadow: none;
	--background-color: #e0e0e0;

	overflow: hidden;

	@include useWidth();
	@include useBackgroundColor();
	@include useShadow();
	@include useBorderSize();
	@include useBorderStyle();
	@include useBorderColor();
	@include useRadius();
	@include useFadeIn(name());

	.content {
		@include useBackgroundColor();
	}
}
