@namespace "Popover";

@st-import PopoverToolbar from "./popover-toolbar.st.css";

:vars {
	PopoverContentBorder: none;
	PopoverContentRadius: 2px;
	PopoverContentBgColor: #fff;
	PopoverContentMaxWidth: 414px;
	PopoverContentMaxHeight: 300px;
	PopoverContentShadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	PopoverCloseBorder: none;
	PopoverCloseMarginTop: 0;
	PopoverCloseBorderRadius: 0;
	PopoverCloseFontSize: 12px;
	PopoverCloseSize: 30px;
	PopoverCloseBgHover: red;
	PopoverClosePosMargin: 8px;
	PopoverCloseIconColor: blue;
	PopoverCloseIconColorHover: red;
	PopoverCloseCase: lowercase;
}

.root {
	-st-states: type(string);
}

.trigger {
	cursor: pointer;
	padding: inherit;
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
	border: none;
	background: inherit;
}

.triggerWrapper {}

.contentWrapper {}

.toolbar {
	-st-extends: PopoverToolbar;
}

.content {
	overflow: hidden;
	width: value(PopoverContentMaxWidth);
	background: value(PopoverContentBgColor);
	border-radius: value(PopoverContentRadius);
	box-shadow: value(PopoverContentShadow);
	animation: fadeIn 300ms ease-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.portal {}

@media (min-width: 320px) and (max-width: 767px) {
	[data-radix-popper-content-wrapper] {
		transform: none !important;
		top: auto !important;
		bottom: 0;
	}
	.content {
		width: 100vw;
	}
}
