@namespace "Popover";

@st-import PopoverToolbar from "./popover-toolbar.st.css";
@st-import [preventSelection, verticalAlignSuper] from "../../theme/mixins.st.css";

:vars {
	PopoverContentMaxWidth: 414px;
	PopoverContentShadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.root {
	-st-states: type(string);
}

.popoverWrapper {}

.trigger {
	cursor: pointer;
}

.triggerWrapper {}

.contentWrapper {}

.toolbar {
	-st-extends: PopoverToolbar;
}

.portal {}

.content {
	overflow: hidden;
	width: value(PopoverContentMaxWidth);
	/* border-radius: value(PopoverContentRadius); */
	box-shadow: value(PopoverContentShadow);
	animation: fadeIn 300ms ease-out forwards;
}

.root:type(glossary)::trigger::after {
	-st-mixin: preventSelection, verticalAlignSuper;
	content: "\203B";
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	[data-radix-popper-content-wrapper] {
		transform: none !important;
		top: auto !important;
		bottom: 0;
	}
	.content {
		width: 100vw;
	}
}
