@namespace "DropDown";

:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

:import {
	-st-from: "../dropdown/option.st.css";
	-st-default: Option;
}

.root {
}

.optionListTrigger {
	-st-states: id(string), optionListVisible(boolean);
}

.optionListContainer {
	background: #fff;
}

.optionList {
}

.option {
	-st-extends: Option;
	-st-states: isCurrent(boolean), id(string);
}

