@namespace "DropDown";

:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

:import {
	-st-from: "../dropdown/option.st.css";
	-st-default: Option;
}

.root {
}

.optionListTrigger {
	-st-states: optionListVisible(boolean);
}

.optionListOpen {
}

.optionListClose {
}

.optionListContainer {
	background: #fff;
}

.optionList {
}

.optionFromDropDown {
	-st-extends: Option;
	-st-states: current(boolean), id(string);
}

