@namespace "DropDown";

:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

:import {
	-st-from: "../dropdown/option.st.css";
	-st-default: Option;
}

.root {
}

.optionListTrigger {
}

.optionListOpen {
	/* -st-extends: NavButton; */
}
.optionListClose {
	/* -st-extends: NavButton; */
}

.optionListContainer {
	background: #fff;
}
.optionList {}

.optionFromDropDown {
	-st-extends: Option;
	/* -st-mixin: NavButton; */
}

.optionFromDropDown::optionContent {
	display: block;
}

.optionFromDropDown:current:id(en)::after {
	content: 'V';
	position: absolute;
	top: 0;
	left: 0px;
}

