@namespace "DropDown";

:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

:import {
	-st-from: "../dropdown/option.st.css";
	-st-default: Option;
}

.root {
}

.optionListTrigger {
}

.optionListOpen {
	-st-extends: NavButton;
}
.optionListClose {
	-st-extends: NavButton;
}

.optionListContainer {}
.optionList {}

.optionFromDropDown {
	-st-states: current(boolean);;
	-st-extends: Option;
	-st-mixin: NavButton;
}

.optionFromDropDown::optionContent {
	display: block;
}


.optionFromDropDown:current::after {
	content: 'XXX';
	position: absolute;
}

