@namespace "Option";

:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

.root {
	/* -st-mixin: NavButton; */
	text-decoration: none;
	-st-states: current, id;
}

.optionContent {
}
