@namespace "ThemeSelectorMixin";

@st-import ThemeSelector from "./theme-selector.st.css";
@st-import [IconFill] from "../../theme/common/mixins.st.css";

.root {
	-st-mixin: ThemeSelector;
	-st-states: theme(enum(light, dark));
}

:vars {
	IconBgColor: none;
	IconBgColor_Hover: #000;
	IconFillColor: #000;
	IconFillColor_Hover: #444;
}

.root {
	-st-extends: ThemeSelector;
	background-color: value(IconBgColor);
}

.root:hover {
	background-color: value(IconBgColor_Hover);
}

.root::icon {
	-st-mixin: IconFill(FillColor value(IconFillColor))
}

.root:hover::icon {
	-st-mixin: IconFill(FillColor value(IconFillColor_Hover))
}
