@namespace "ThemeSelectorMixin";

@st-import ThemeSelector from "./theme-selector.st.css";

.root {
	-st-mixin: ThemeSelector;
	-st-states: theme(enum(light, dark));
}

:vars {
	BgColor: red;
	IconColor: green;
}

.root {
	background: value(BgColor);
}

.root:hover {
	background: value(IconColor);
}

.icon {}
