// @use "../../theme/common/theme.scss";
@use "../../../scss/utils/components.scss";
@use "../../../scss/mixins/gradient.scss";

$__namespace__: footer;

.root {
	--footer-strip-color-start: red;
	--footer-strip-color-mid: green;
	--footer-strip-color-end: blue;

	&.footer {
		background: var(--footer-background-color);
		margin-top: 2rem;
	}

	.pageContainer {
		margin: 0 auto;
		padding: 2rem;
		max-width: 1600px;
	}

	.layout {
		display: flex;
	}

	.title {
		text-transform: uppercase;
	}

	.strip {
		height: 0.3vh;

		@include gradient.simple(
			var(--site-footer-strip-color-start, var(--footer-strip-color-start)),
			var(--site-footer-strip-color-mid, var(--footer-strip-color-mid)),
			var(--site-footer-strip-color-end, var(--footer-strip-color-end))
		);
	}

	.link {
		background: lightgreen;
	}
}
