@import "styles";

$__namespace__: footer;

.root {
	--background-color: #f0f0f0;

	--strip-color-start: red;
	--strip-color-mid: green;
	--strip-color-end: blue;
	--strip-background-color: linear-gradient(
		90deg,
		var(--strip-color-start) 0%,
		var(--strip-color-mid) 50%,
		var(--strip-color-end) 100%
	);

	background-color: compRef(site-footer, background-color);

	// &.footer {
	// 	margin-top: 2rem;
	// }

	// todo: get from mixin
	.pageContainer {
		margin: 0 auto;
		padding: 2rem;
		max-width: 1600px;
	}

	.layout {
		display: flex;
	}

	.title {
		text-transform: uppercase;
	}

	.strip {
		height: 0.3em;
		background: compRef(site-footer, strip-background-color);
	}

	.link {
		background-color: red;
	}
}
