@namespace "Note";

@st-import Bibliography from "../bibliography/bibliography.st.css";
@st-import [heading6, bodyTextNormal] from "../../theme/typography.st.css";
@st-import [primary2, level2] from "../../theme/common.st.css";


.root {
	-st-states: type(enum(note, ref));
	overflow: hidden;
	padding: 1rem;
	position: relative;
}

.header {}

.topic {}

.title {}

.content {
	-st-mixin: bodyTextNormal;
}

.sourceList {}

.root:type(ref)::topic {
	-st-mixin: heading6;
	padding: 0 6px;
	border-radius: 4px;
	background: value(level2);
	display: inline-block;
	margin-bottom: 1.5rem;
	color: value(primary2);
}

.root:type(ref)::title {
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.bibliography {
  -st-extends: Bibliography;
}

.scrollable {
  border: 2px solid red;
  overflow: hidden;
}
