@namespace "NoteMixin";

@st-import Note from "./note.st.css";

:vars {
	NotePadding: 1rem;
	TopicBgColor: blue;
	TopicTextColor: red;
	TopicRadius: 4px;
	TopicPadding: 6px;
	TopicMargin: 1.5rem;
	TitleFontSize: 2rem;
	TitleFontWeight: 300;
	TitleMargin: 1rem;
}

.root {
	-st-extends: Note;
	padding: value(NotePadding);
}

.root:type(ref)::topic {
	padding: 0 value(TopicPadding);
	border-radius: value(TopicRadius);
	background: value(TopicBgColor);
	color: value(TopicTextColor);
	margin-bottom: value(TopicMargin);
}

.root:type(ref)::title {
	font-weight: value(TitleFontWeight);
	font-size: value(TitleFontSize);
	margin-bottom: value(TitleMargin);
}
