@namespace "NoteMixin";

@st-import Note from "./note.st.css";

:vars {
	TopicBgColor: blue;
	TopicTextColor: red;
	TopicRadius: 4px;
}

.root {
	-st-extends: Note;
}

.root:type(ref)::topic {
	border-radius: value(TopicRadius);
	background-color: value(TopicBgColor);
	color: value(TopicTextColor);
}
