@namespace "NoteMixin";

@st-import Note from "./note.st.css";

:vars {
	NotePadding: 1rem;
	TopicBgColor: blue;
	TopicTextColor: red;
	TopicRadius: 4px;
	TopicPadding: 6px;
	TopicMargin: 1.5rem;
	TitleFontSize: 2rem;
	TitleFontWeight: 300;
	TitleMargin: 1rem;
	NoteTextColor: inherit;
}

.root {
	-st-extends: Note;
}

.root:type(ref)::topic {
	border-radius: value(TopicRadius);
	background: value(TopicBgColor);
	color: value(TopicTextColor);
}

.root::bibliography::list {
	padding: 0;
}

/* .root::header,
.root::content {
	padding-bottom: 0;
} */
