@namespace "Note";

@st-import Bibliography from "../bibliography/bibliography.st.css";

.root {
	-st-states: type(enum(note, ref));
	overflow: hidden;
	position: relative;
}

.header {}

.topic {}

.title {}

.content {}

.sourceList {}

.root:type(ref)::topic {
	display: inline-block;
}

.bibliography {
  -st-extends: Bibliography;
}

.scrollable {
  overflow: hidden;
}
