@namespace "CopyUrlButtonTriggerMixin";

@st-import CopyUrlButtonTrigger from "./copy-url-button-trigger.st.css";
@st-import [IconFill] from "../../theme/mixins.st.css";

:vars {
	IconFillColor: black;
}

.root {
	-st-extends: CopyUrlButtonTrigger;
}

.root:checked {
	-st-mixin: IconFill(FillColor value(IconFillColor));
}
