.header {
	margin-top: var(--ml-space-md);
	margin-bottom: var(--ml-space-xl);
	padding-bottom: var(--ml-space-lg);
	border-bottom: 1px solid var(--ml-border-color);
}

.header h1 {
	margin-bottom: var(--ml-space-sm);
	letter-spacing: -0.03em;
	background: linear-gradient(
		to right,
		var(--ml-gradient-start),
		var(--ml-gradient-end)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
