@use '../annotation/Annotation.mixin' as annotation;
@use '../popover/Popover.mixin' as popover;
@use '../popover/PopoverTrigger.module' as trigger;
@import '../component';

$__stylesheet__: (
	name: term,
);

.root {
	--content: '*';
	--offset-y: -0.3em;
	--decoration-color: #000;

	.label {
		@include popover.trigger(trigger.name());
	}

	&::after {
		position: relative;
		cursor: pointer;

		@include use-text-color(name(suffix));
		@include use-offset-y(name(suffix));
		@include annotation.suffix(name());
	}
}
