@use '../../styles/mixins/popoverMixin';
@use '../popover/PopoverTrigger.module.scss' as trigger;
@use '../../styles/mixins/typographyMixins';
@import '../../styles/lib/component';
@import '../../styles/lib/themeVars';

$__stylesheet__: (
	name: term,
);

.root {
	--content: '*';
	--offset-y: -0.3em;
	--decoration-color: #000;

	.label {
		@include popoverMixin.trigger(trigger.name());
	}

	&::after {
		position: relative;
		cursor: pointer;

		@include use-text-color(name(suffix));
		@include use-offset-y(name(suffix));
		@include typographyMixins.suffix(name());
	}
}
