.card {
	background-color: var(--ml-bg-surface);
	border-radius: var(--ml-border-radius);
}

.withBorder {
	border: 1px solid var(--ml-border);
}

.padding-sm {
	padding: var(--ml-space-sm);
}

.padding-md {
	padding: var(--ml-space-md);
}

.padding-lg {
	padding: var(--ml-space-lg);
}
