@import "styles";

.root {
	--size: 24px;
	--height: 20em;
	--label-margin: 1em;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include useHeight(loading-indicator);

	.image {
		animation: rotation 2s infinite linear;

		@include useSize(loading-indicator);
		@include useContentUrl(site-title-logo);
	}
}

.label {
	--margin-top: var(--label-margin);
	display: block;
	@include useVerticalMargin(loading-indicator-label);
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
