@use '../../../styles/lib/refs';
@use '../../generic-content-layout/GenericContentLayout.module' as custom-layout;
@import '../../../styles/lib/component';

$__stylesheet__: (
	name: custom-layout-blog-post,
);

.root {
	&:not(:last-child) {
		// margin-bottom: 2em;
	}

	img {
		max-width: 100%;
	}

	// @include custom-layout.generic-content-layout-mixin(
	// 	$rootPaddingTop: 2em,
	// 	$rootPaddingBottom: 2em,
	// 	$rootPaddingLeft: 2em,
	// 	$rootPaddingRight: 2em,
	// 	$rootBoxShadow: refs.globalRef(shadow-md),
	// 	$rootRadius: 30px,
	// 	$titleBgColor: pink
	// );
}
