@use 'styles/lib/refs';
@use '../../generic-content-layout/GenericContentLayout.module' as CustomLayout;
@import 'styles/lib/component';

$__stylesheet__: (
	name: custom-layout-blog-post,
);

.root {
	&:not(:last-child) {
		margin-bottom: 2em;
	}

	img {
		max-width: 100%;
	}

	@include CustomLayout.GenericContentLayoutMixin(
		$rootPaddingTop: 2em,
		$rootPaddingBottom: 2em,
		$rootPaddingLeft: 2em,
		$rootPaddingRight: 2em,
		$rootBoxShadow: refs.globalRef(shadow-md),
		$rootRadius: 30px,
		$titleBgColor: pink
	);
}
