@use 'styles/mixins/typographyMixins';
@import 'styles/lib/component';

$__stylesheet__: (
	name: list-item,
);

.root {
	margin: 0;
	list-style: none;

	@include typographyMixins.running-text-mixin;
}
