@import "styles";
@import "styles/mixins/buttonMixin.scss";
@import "styles/mixins/stripMixin.scss";

.root {
	height: 100vh;
	background: #333;

	.dialogPanel {
		@include disableUserSelection;

		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 0 2em;
		// todo: should be same as top bar (extract to mixin)
		// height: 48px;
		// background-color: ref(color-container-dark);
		color: #fff;

		.close {
			@include IconButtonWithLabelMixin;
		}
	}

	.strip {
		@include GradientStrip(site-footer);
		height: 2px;
	}

	// .header {
	// 	padding: 2em;
	// 	// margin: 1em 0;
	// 	background-color: ref(color-container-dark);
	// 	box-shadow: globalRef(shadow-md);
	// }

	.panel {
		direction: ltr;
		// background-color: ref(color-surface-light);
		display: flex;
		justify-content: space-between;
		gap: 0.5em;
	}

	.menu {
		.verticalNavMenuItem {
			background-color: green;
			color: red;
		}
	}
}
