@import 'styles/lib/component';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: gradient-strip,
);

.root {
	--background-color: #808080;
	--height: 6px;

	@include use-gradient;
	@include use-height;
}
