@namespace "AnnotationLink";

@st-import [preventSelection, verticalAlignSuper] from "../../../../theme/common/mixins.st.css";
@st-import [InlineAnnotation] from "../../../../theme/common/typography.st.css";

:vars {
	paranthesisMargin: 0.05rem;
}

.root {
	-st-mixin: InlineAnnotation, verticalAlignSuper, preventSelection;
}

.root::before {
	content: '[';
	margin-right: value(paranthesisMargin);
}

.root::after {
	content: ']';
	margin-left: value(paranthesisMargin);
}

.content::after {
	content: attr(data-prefix) attr(data-seq);
}
