@use "../../popover/PopoverMixin.scss";

.root {
	--annotation-trigger-color: var(--link-color);
	--annotation-font-size: var(--font-size-xs);
	--annotation-font-weight: var(--font-weight-light);
	--annotation-paren-opacity: 0.8;
	--annotation-offset-top: -0.5em;
	--annotation-prefix: "[";
	--annotation-suffix: "]";
	--annotation-padding: 0.05em;

	// include shared trigger styles
	@include PopoverMixin.PopoverTrigger;

	position: relative;
	font-size: var(--annotation-font-size);
	top: var(--annotation-offset-top);

	&::before,
	&::after {
		opacity: var(--annotation-paren-opacity);
	}

	&::before {
		content: var(--annotation-prefix);
	}

	&::after {
		content: var(--annotation-suffix);
	}

	.content::after {
		content: attr(data-prefix) attr(data-seq);
		font-weight: var(--annotation-font-weight);
		padding: 0 var(--annotation-padding);
	}
}
