@namespace "AnnotationLinkMixin";

@st-import AnnotationLink from "./annotation-link.st.css";
@st-import [InlineAnnotation] from "../../../../theme/common/typography.st.css";

:vars {
	ParanthesisColor: 0.05rem;
}

.root {
	-st-extends: AnnotationLink;
	-st-mixin: InlineAnnotation;
}

.root::before,
.root::after {
	color: value(ParanthesisColor);
}
