@namespace "AnnotationLinkMixin";

@st-import AnnotationLink from "./annotation-link.st.css";
@st-import [TextNode] from "../../../../theme/mixins.st.css";

:vars {
	AnnotationFontSize: 12px;
	AnnotationFontWeight: 12px;
	AnnotationParanthesisMargin: 0;
}

.root {
	-st-extends: AnnotationLink;
	-st-mixin: TextNode(
		TextWeight value(AnnotationFontWeight),
		TextSize value(AnnotationFontSize)
	);
}

.root::before {
	padding-right: value(AnnotationParanthesisMargin);
}

.root::after {
	padding-left: value(AnnotationParanthesisMargin);
}
