@import "../../../lib/refs";

$index: (
	locale: (
		en: (
			font-family: globalRef(typography-font-family-font1),
			font-size: globalRef(typography-font-size-base),
			font-weight: globalRef(typography-font-weight-regular),
			direction: ltr,
		),
		he: (
			font-family: globalRef(typography-font-family-font2),
			font-size: globalRef(typography-font-size-base),
			font-weight: globalRef(typography-font-weight-regular),
			direction: rtl,
		),
	),
);
