@import "styles/lib/refs";

$index: (
	text-direction: (
		font-size: ref(typography-font-size-base),
		font-weight: ref(typography-font-weight-regular),
		ltr: (
			font-family: ref(typography-font-family-font1),
		),
		rtl: (
			family: ref(typography-font-family-font2),
		),
	),
);
