@namespace "MobileMenuMixin";

@st-import MobileMenu from "./mobile-menu.st.css";
@st-import ButtonMixin from "../ui/button/button-mixin.st.css";
@st-import HeaderMixin from "../header/header-mixin.st.css";
@st-import [GradientStrip, preventSelection] from "../../theme/common/mixins.st.css";

:vars {
	BgColor: #373a47;
	BurgerBars: #373a47;
	BurgerCrossColor: #bdc3c7;
	StripGradientStartColor: #fff;
	StripGradientMidColor: #c0c0c0;
	StripGradientEndColor: #000;
	ItemTextColor: inherit;
	ItemTextColor_Hover: inherit;
	ItemPadding: 1rem;
	ItemRadius: 0;
	ItemLabelTextColor: inherit;
	ItemLabelTextColor_Hover: inherit;
	ItemBgColor_Hover: inherit;
	ItemLabelTextSize: 1rem;
	ItemLabelTextWeight: 500;
	ItemSubtitleLineHeight: inherit;
	ItemSubtitleTextSize: 0.75rem;
	ItemBorderColor: inherit;
	ItemSubtitleTextColor: inherit;
	ItemBorderSize: 1px;
	SectionTitleColor: inherit;
	HeaderLogoProps: none;
	SiteTitleColor: #fff;
}

.root {
	-st-extends: MobileMenu;
	background-color: value(BgColor);
}

.root::header {
	-st-mixin: HeaderMixin(
		HeaderSiteSubtitleColor white,
		SiteLogoBgProps value(HeaderLogoProps),
	);
}

.root::header,
.root::toolbar {
	background-color: value(BgColor);
}

.root::header::siteTitle {
	color: value(SiteTitleColor);
}

.root::burgerCross {
	background-color: value(BurgerCrossColor);
}

.root::toolbar {
	border-bottom: 1px solid value(ItemBorderColor);
}

.root::strip {
	-st-mixin: GradientStrip(
		StripGradientStartColor value(StripGradientStartColor),
		StripGradientMidColor value(StripGradientMidColor),
		StripGradientEndColor value(StripGradientEndColor),
		StripGradientHeight 2px
	);
}

.root::section {
	color: #c0c0c0;
}

.root::sectionTitle {
	color: value(SectionTitleColor)
}

.root::menuItemButton {
	-st-mixin: ButtonMixin(
		ButtonPadding value(ItemPadding),
		ButtonRadius value(ItemRadius),
		ButtonTextColor value(ItemTextColor),
		ButtonTextColor_Hover value(ItemTextColor_Hover),
		ButtonBgColor_Hover value(ItemBgColor_Hover),
		ButtonSubtitleTextSize value(ItemSubtitleTextSize),
		ButtonChildrenTextColor value(ItemSubtitleTextColor),
		ButtonBorderBottomSize value(ItemBorderSize),
		ButtonBorderBottomColor value(ItemBorderColor)
	);
}
