@namespace "MobileMenu";

@st-import Header from "../header/header.st.css";
@st-import LocaleSelector from "../locale-selector/locale-selector.st.css";
@st-import ThemeSelector from "../theme-selector/theme-selector.st.css";
@st-import [preventSelection] from "./../../theme/mixins.st.css";

.root {
	-st-states: side(enum(right, left));
	-st-mixin: preventSelection;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
.root:side(left) {
	left: 0;
}

.burgerButton {
	-st-states: right(boolean);
	position: fixed;
	width: 24px;
	height: 20px;
	top: 16px;
}
.burgerButton:right(true) {
	right: 16px;
}
.burgerButton:not(:right) {
	left: 16px;
}

.burgerMenu {}

.burgerBars {
	background: #373a47;
	position: absolute;
}

.crossButton {
	-st-states: right(boolean);
	height: 24px;
	width: 24px;
}
.crossButton:right {
	top: 10px !important;
	left: 10px;
	right: auto !important;
}
.crossButton:not(:right) {
	top: 10px !important;
	left: auto !important;
	right: 10px;
}

.burgerCross {}

.overlay {
	top: 0;
}

.itemList {}

.header {
	-st-extends: Header;
}

.localeSelector {
	-st-extends: LocaleSelector;
}

.themeSelector {
	-st-extends: ThemeSelector;
}

.strip {}
