@namespace "MobileMenuMixin";

@st-import MobileMenu from "./mobile-menu.st.css";
@st-import [GradientStrip] from "../../theme/mixins.st.css";
@st-import [preventSelection] from "./../../theme/mixins.st.css";
@st-import ButtonMixin from "../ui/button/button-mixin.st.css";
@st-import LocaleSelectorMixin from "../locale-selector/locale-selector-mixin.st.css";

:vars {
	MenuBgColor: #373a47;
	MenuBurgerBars: #373a47;
	MenuBurgerCross: #bdc3c7;
  StripGradientStartColor: white;
  StripGradientMidColor: gray;
  StripGradientEndColor: black;
	MenuItemTextColor: inherit;
	MenuItemTextColor_Hover: inherit;
	MenuItemPadding: 0;
	MenuItemRadius: 0;
	MenuItemLabelTextColor: inherit;
	MenuItemLabelTextColor_Hover: inherit;
	MenuItemBgColor_Hover: inherit;
	MenuItemLabelTextSize: inherit;
	MenuItemLabelLineHeight: inherit;
	MenuItemLabelTextWeight: inherit;
	MenuItemSubtitleLineHeight: inherit;
	MenuItemSubtitleTextSize: inherit;
	MenuItemBorderColor: inherit;
	MenuItemSubtitleTextColor: inherit;
	MenuSectionTitleColor: inherit;
	LocaleSelectorSelectedItemTextColor: inehrit;
	LocaleSelectorSelectedItemBgColor: inehrit;	
}

.root {
	-st-extends: MobileMenu;
	background-color: value(MenuBgColor);
}

.root::header {
	padding: 1rem;
	color: white;
}

.root::header::siteTitle {
	color: white;
}

.root::menu {}

.root::burgerMenu {
	font-size: 1.15em;
}

.root::burgerBars {
	background: #fa9ad9;
}

.root::burgerCross {
	background: value(MenuBurgerCross);
}

.root::toolbar {
	border-bottom: 1px solid value(MenuItemBorderColor);
	padding: 1rem;
}

.root::strip {
  -st-mixin: GradientStrip(
    StripGradientStartColor value(StripGradientStartColor),
    StripGradientMidColor value(StripGradientMidColor),
    StripGradientEndColor value(StripGradientEndColor),
		StripGradientHeight 2px
  );
}

.root::section {
	color: #c0c0c0;
}

.root::sectionTitle {
	padding: 1rem;
	color: value(MenuSectionTitleColor)
}

.root::menuItemButton {
	-st-mixin: ButtonMixin(
		ButtonPadding value(MenuItemPadding),
		ButtonRadius value(MenuItemRadius),
		ButtonTextColor value(MenuItemTextColor),
		ButtonTextColor_Hover value(MenuItemTextColor_Hover),
		ButtonLabelTextColor value(MenuItemLabelTextColor),
		ButtonLabelTextColor_Hover value(MenuItemLabelTextColor_Hover),
		ButtonBgColor_Hover value(MenuItemBgColor_Hover),
		ButtonLabelTextSize value(MenuItemLabelTextSize),
		ButtonLabelLineHeight value(MenuItemLabelLineHeight),
		ButtonLabelTextWeight value(MenuItemLabelTextWeight),
		ButtonSubtitleLineHeight value(MenuItemSubtitleLineHeight),
		ButtonSubtitleTextSize value(MenuItemSubtitleTextSize),
		ButtonChildrenTextColor value(MenuItemSubtitleTextColor)
	);
}
.root::menuItemButton {
	border-bottom: 1px solid value(MenuItemBorderColor);
}

.root::localeSelector {
	-st-mixin: LocaleSelectorMixin(
		SelectedItemTextColor value(LocaleSelectorSelectedItemTextColor),
		SelectedItemBgColor value(LocaleSelectorSelectedItemBgColor)
	);
}
