@namespace "MobileMenuMixin";

@st-import MobileMenu from "./mobile-menu.st.css";
@st-import [GradientStrip] from "../../theme/mixins.st.css";
@st-import [preventSelection] from "./../../theme/mixins.st.css";
@st-import ButtonMixin from "../ui/button/button-mixin.st.css";
@st-import HeaderMixin from "../header/header-mixin.st.css";
@st-import LocaleSelectorMixin from "../locale-selector/locale-selector-mixin.st.css";

:vars {
	BgColor: #373a47;
	BurgerBars: #373a47;
	BurgerCrossColor: #bdc3c7;
	StripGradientStartColor: white;
	StripGradientMidColor: gray;
	StripGradientEndColor: black;
	ItemTextColor: inherit;
	ItemTextColor_Hover: inherit;
	ItemPadding: 0;
	ItemRadius: 0;
	ItemLabelTextColor: inherit;
	ItemLabelTextColor_Hover: inherit;
	ItemBgColor_Hover: inherit;
	ItemLabelTextSize: inherit;
	ItemLabelLineHeight: inherit;
	ItemLabelTextWeight: inherit;
	ItemSubtitleLineHeight: inherit;
	ItemSubtitleTextSize: inherit;
	ItemBorderColor: inherit;
	ItemSubtitleTextColor: inherit;
	ItemBorderSize: 1px;
	SectionTitleColor: inherit;
	LocaleSelectorItemTextColor: inherit;
	LocaleSelectorSelectedItemTextColor: inehrit;
	LocaleSelectorSelectedItemBgColor: inehrit;
	HeaderLogoProps: none;
	SiteTitleColor: white;
}

.root {
	-st-extends: MobileMenu;
	background-color: value(BgColor);
}

.root::header {
	-st-mixin: HeaderMixin(
		HeaderSiteSubtitleColor white,
		HeaderPadding 1rem,
		SiteLogoBgProps value(HeaderLogoProps),
	);
}

.root::header,
.root::toolbar {
	background-color: value(BgColor);
}

.root::header::siteTitle {
	color: value(SiteTitleColor);
}

.root::menu {}

.root::burgerCross {
	background: value(BurgerCrossColor);
}

.root::toolbar {
	border-bottom: 1px solid value(ItemBorderColor);
	padding: 1rem;
}

.root::strip {
	-st-mixin: GradientStrip(
		StripGradientStartColor value(StripGradientStartColor),
		StripGradientMidColor value(StripGradientMidColor),
		StripGradientEndColor value(StripGradientEndColor),
		StripGradientHeight 2px
	);
}

.root::section {
	color: #c0c0c0;
}

.root::sectionTitle {
	padding: 1rem;
	color: value(SectionTitleColor)
}

.root::menuItemButton {
	-st-mixin: ButtonMixin(
		ButtonPadding value(ItemPadding),
		ButtonRadius value(ItemRadius),
		ButtonTextColor value(ItemTextColor),
		ButtonTextColor_Hover value(ItemTextColor_Hover),
		/* ButtonLabelTextColor value(ItemLabelTextColor),
		ButtonLabelTextColor_Hover value(ItemLabelTextColor_Hover), */
		ButtonBgColor_Hover value(ItemBgColor_Hover),
		ButtonLabelTextSize value(ItemLabelTextSize),
		ButtonLabelLineHeight value(ItemLabelLineHeight),
		ButtonLabelTextWeight value(ItemLabelTextWeight),
		ButtonSubtitleTextSize value(ItemSubtitleTextSize),
		ButtonChildrenTextColor value(ItemSubtitleTextColor),
		ButtonBorderBottomSize value(ItemBorderSize),
		ButtonBorderBottomColor value(ItemBorderColor)
	);
}

.root::localeSelector {
	-st-mixin: LocaleSelectorMixin(
		ItemTextColor value(LocaleSelectorItemTextColor),
		SelectedItemTextColor value(LocaleSelectorSelectedItemTextColor),
		SelectedItemBgColor value(LocaleSelectorSelectedItemBgColor)
	);
}
