{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-prettier-scss"
	],
	"rules": {
		"selector-class-pattern": null,
		"function-name-case": null,
		"scss/at-function-pattern": null,
		"scss/at-mixin-pattern": null,
		"scss/dollar-variable-pattern": null,
		"keyframes-name-pattern": null,
		"value-keyword-case": null,
		"scss/at-mixin-argumentless-call-parentheses": null
	}
}
