@use "../../../styles/mixins/buttonMixin";
@use "../../../styles/mixins/layoutMixins.scss";
@import "../../../styles/mixins/typographyMixins.scss";
@import "../../../styles/baseComponentStyle";
@import "../../../styles/lib/refs";
@import "../../../styles/lib/states";

$__stylesheet__: (
	name: site-footer,
);

$states: (
	hovered: hover,
	clicked: active,
	selected: selected,
);

.root {
	// --primary-text-transform: uppercase;
	// --primary-font-weight: 700;
	// --primary-letter-spacing: 0.035em;
	// --background-color: #f0f0f0;

	@include useBackgroundColor(site-footer);

	.pageContainer {
		@include layoutMixins.PageContainerMixin(site-footer-container);
	}

	.layout {
		display: flex;
		flex-direction: row;
		gap: 2em;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.title {
		@include RunningTextMixin(site-footer-primary-label);
	}

	.column {
		flex: 1;
		display: flex;
		gap: 0.5em;
		flex-direction: column;

		&.large {
			flex: 4;
		}
	}

	.list {
		margin: 0;
		padding: 0;

		.item {
			list-style: none;
		}
	}

	.link {
		@include buttonMixin.TextLinkMixin;
		// color: ref(link-text-color);
		// display: inline-flex;
		// text-decoration: none;

		// &:hover {
		// 	color: ref(link-text-color#{state(hovered)});
		// 	text-decoration: underline;
		// }
	}

	@media (min-width: 0px) and (max-width: 767px) {
		.layout {
			display: block;
			padding-top: 0;
			padding-bottom: 0;
		}

		.column {
			margin-bottom: 1em;
		}
	}
}
