@import "../../../../../baseThemeStyle";
@import "../../../../../lib/refs";

$index: (
	background-color: ref(color-surface-main),
	container: (
		gutter: 2em,
	),
	primary-label: (
		text-transform: uppercase,
		font-weight: 700,
		letter-spacing: 0.05em,
	),
);
