@import "styles";

$index: (
	header: (
		background-color: ref(color-surface-main),
		separator: (
			content: '"|"',
		),
		logo: (
			margin-end: 0.5em,
		),
	),
	title: (
		logo-url: ref(assets-logo-url),
		text-color: ref(color-primary-dark),
	),
);
