@use "../../../../../../components/site/SiteNav/HorizontalMenu/HorizontalNav.module.scss"
	as HorizontalNav;
@import "styles";

$easing: ease;

$hovered: HorizontalNav.state(hovered);
$opened: HorizontalNav.state(opened);

$index: (
	nav: (
		item: (
			title: (
				text-color: #fff,
				background-color: #000,
			),
		),
	),
	horizontal-menu: (
		scaleIn-animation: (
			duration: globalRef(animation-duration-sm),
			easing: globalRef(animation-easing-default),
		),
		scaleOut-animation: (
			duration: globalRef(animation-duration-sm),
			easing: globalRef(animation-easing-default),
		),
		fadeIn-animation: (
			duration: globalRef(animation-duration-sm),
			easing: globalRef(animation-easing-default),
		),
		fadeOut-animation: (
			duration: globalRef(animation-duration-sm),
			easing: globalRef(animation-easing-default),
		),
		enterFromRight-animation: (
			duration: globalRef(animation-duration-md),
			easing: globalRef(animation-easing-default),
		),
		enterFromLeft-animation: (
			duration: globalRef(animation-duration-md),
			easing: globalRef(animation-easing-default),
		),
		exitToRight-animation: (
			duration: globalRef(animation-duration-md),
			easing: globalRef(animation-easing-default),
		),
		exitToLeft-animation: (
			duration: globalRef(animation-duration-md),
			easing: globalRef(animation-easing-default),
		),
		trigger: (
			text-color: red,
			caret: (
				text-color: ref(color-surface-contrast),
				#{$hovered}: (
						text-color: ref(color-surface-contrast),
					),
			),
			#{$hovered}: (
					background-color: ref(color-surface-dark),
					text-color: ref(color-primary-dark),
				),
			#{$opened}: (
					background-color: ref(color-surface-dark),
					text-color: ref(color-primary-dark),
				),
		),
		item: (
			text-color: ref(color-primary-main),
			#{$hovered}: (
					text-color: ref(color-secondary-main),
					background-color: ref(color-container-main),
				),
		),
	),
);
