@import "styles";
@import "../../../../../../components/site/ThemeSelector/ThemeSelector.module.scss";

$index: (
	mixins: (
		toggle-button: (
			size: 2.2855em,
			radius: globalRef(radius-md),
			background-color: none,
			font-weight: globalRef(typography-font-weight-thin),
			state(hovered): (
				background-color: ref(color-container-main),
				text-color: ref(color-surface-contrast),
			),
			__selected: (
				background-color: ref(color-surface-dark),
				text-color: ref(color-surface-contrast),
			),
		),
	),
	theme-selector: (
		// button: (
		// 	background-color: ref(color-surface-dark),
		// 	text-color: ref(color-container-dark),
		// ),
		icon:
			(
				color: ref(color-surface-contrast),
				state(hovered): (
					color: ref(color-surface-contrast),
				),
			),
	),
);
