@import 'styles/baseComponentStyle';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: figure,
);

.root {
	--border-size: 2px;
	--border-color: #000;
	--border-style: solid;
	--radius: 4px;

	max-width: 100%;
	text-align: center;
	margin: 0;

	img {
		max-width: 100%;
	}

	padding: 1em;

	@include useBorderSize();
	@include useBorderStyle();
	@include useBorderColor();
	@include useRadius();

	// variant mixins
	&[data-type='no-border'] {
		border: none;
	}

	&[data-type='codeblock'] {
		border: none;
		margin: 0;
		padding-right: 0;
		padding-left: 0;
	}

	// .figureContent {
	// }
}
