@use 'sass:map';
@use '../../components/nav/nav-item/NavItem.mixin' as mixin;

@mixin item($vars) {
	@include mixin.item($radius: map.get($vars, item-radius), $bg-color-hover: map.get($vars, item-bg-color-hover));

	@include mixin.title(
		$text-transform: map.get($vars, title-text-transform),
		$text-color: map.get($vars, title-text-color),
		$font-weight: map.get($vars, title-font-weight),
		$text-color-hover: map.get($vars, title-text-color-hover),
		// $text-color-selected: map.get($vars, text-color-selected),
		// $bg-color: map.get($vars, bg-color),
		// $bg-color-hover: map.get($vars, bg-color-hover),
		// $bg-color-selected: map.get($vars, bg-color-selected)
	);

	@include mixin.subtitle(
		$text-transform: map.get($vars, subtitle-text-transform),
		$text-color: map.get($vars, subtitle-text-color),
		$font-weight: map.get($vars, subtitle-font-weight),
		$text-color-hover: map.get($vars, subtitle-text-color-hover),
		// $text-color-selected: map.get($vars, text-color-selected),
		// $bg-color: map.get($vars, bg-color),
		// $bg-color-hover: map.get($vars, bg-color-hover),
		// $bg-color-selected: map.get($vars, bg-color-selected)
	);
}
