@import 'styles/lib/component';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: button,
);

.root {
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	&[data-size] {
		padding: 0.5em 0.75em;
	}
}
