@import '../component';

$__stylesheet__: (
	name: button,
);

.root {
	display: inline-flex;
	align-items: center;
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;

	&[disabled] {
		cursor: default;
	}
}
