.stack {
	display: flex;
	flex-direction: column;
}

.gap-xs {
	gap: var(--ml-space-xs);
}

.gap-sm {
	gap: var(--ml-space-sm);
}

.gap-md {
	gap: var(--ml-space-md);
}

.gap-lg {
	gap: var(--ml-space-lg);
}

.gap-xl {
	gap: var(--ml-space-xl);
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.text-center {
	text-align: center;
}
