@namespace "CAPTCHA";

.root {
	-st-states: highlight(boolean);
	animation: fadeIn 2000ms;
	display: inline-block;
	width: 302px;
	height: 76px;
	border-radius: 6px;
}

.root:highlight {
	animation: flickerAnimation 1s infinite;
}

.error {}

.captcha {}

@keyframes fadeIn {
  0%   { opacity:0; }
  50%  { opacity:0.9; }
  100% { opacity:1; }
}

@keyframes flickerAnimation {
  0%   { box-shadow: 0 0 10px rgba(255, 0, 0, 0.2); }
  50%  { box-shadow: 0 0 10px rgba(255, 0, 0, 1); }
  100% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.2); }
}
