@import '../../styles/lib/component';
@import '../../styles/lib/themeVars';
@import '../../styles/lib/states';

$__stylesheet__: (
	name: form-field,
);
$states: deep(
	$COMPONENT_STATES,
	(
		invalid: invalid,
	)
);

.root {
	display: flex;
	width: 100%;
	position: relative;

	.fieldset {
		display: flex;
		border: 2px solid blue;
	}

	.content {
		width: 100%;
	}

	.layout {
		display: flex;
	}

	.container {
		flex-grow: 1;
	}

	.label {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		gap: 0.5em;
		user-select: none;
		padding: 0.5em 0;
		cursor: pointer;

		@include use-text-color(name(label));

		.text {
			// background-color: green;
			display: flex;
			align-items: center;
			gap: 0.15em;

			.requiredIndicator {
				&::after {
					content: '*';
					opacity: 0.5;
				}
			}
		}

		.icon {
			display: flex;
			@include use-text-color(name(icon));
		}
	}

	.inputField {
		display: flex;

		.inputFieldContainer {
			flex-grow: 1;
		}
	}

	.validation {
		font-size: 0.75em;
		padding: 0.5em 0;
		opacity: 1;
		transition: opacity 275ms ease-in;

		@include use-text-color(name(validation));

		&.showValidation {
			visibility: visible;
			opacity: 1;
		}
	}

	.checkIcon {
		color: green;
	}

	&[data-is-invalid='true'] {
		.label {
			@include use-text-color(name(label), state(invalid));
		}
	}

	&[data-is-valid='true'] {
		.label {
			// @include use-text-color(name(label), state(invalid));

			.text {
				.requiredIndicator {
					&::after {
						display: none;
					}
				}
			}
		}
	}
}
