@namespace "Field";

@st-import Field from "./field.st.css";

:vars {
	LabelTextColor: #000;
	LabelIconColor: #000;
	LabelBorderColor: #000;
	LabelBorderColor_Focus: #000;
	FieldLabelBorderColor_Success: #0f0;
	LabelBorderColor_Error: #f00;
	LabelBorderRadius: 0;
	InputTextColor: #000;
	InputBgColor: #fff;
	InputBgColor_Hover: #f0f0f0;
	InputBgColor_Focus: #fff;
	InputPlaceholderTextColor: #808080;
	FieldInputErrorTextColor: #000;
	FieldInputSuccessTextColor: #000;
}

.root {
	-st-extends: Field;
}

.root::text {
	color: value(LabelTextColor);
}

.root::input {
	border-color: value(LabelBorderColor);
	border-radius: value(LabelBorderRadius);
	background-color: value(InputBgColor);
	color: value(InputTextColor);
}

.root::input::placeholder {
	color: value(InputPlaceholderTextColor);
}

.root::input:hover {
	background-color: value(InputBgColor_Hover);
}

.root::input:validation(valid) {
	border-color: value(FieldLabelBorderColor_Success);
}

.root::input:validation(invalid) {
	border-color: value(LabelBorderColor_Error);
}

.root::input:focus {
	outline-color: value(LabelBorderColor_Focus);
	border-color: value(LabelBorderColor_Focus);
	background-color: value(InputBgColor_Focus);
}

.root::icon path {
	color: value(LabelIconColor);
}

.root::input:-webkit-autofill {
	background: none;
}

.root::error {
	color: value(FieldInputErrorTextColor);
}

.root::errorIcon path {
	fill: value(FieldInputErrorTextColor);
}

.root::checkMark path {
	fill: value(FieldInputSuccessTextColor);
}