@namespace "Field";

@st-import [boxSizing, preventSelection] from "../../theme/common/mixins.st.css";

.root {}

.label {
	-st-mixin: preventSelection;
}

.caption {
	-st-states: required(boolean);
}

.icon {}

.text {
	cursor: pointer;
	padding: 0 10px;
}

.inputContainer {}

.input {
	-st-states: validation(enum(initial, valid, invalid, empty)), tag(enum(input, textarea));
	-st-mixin: boxSizing;
	display: block;
	cursor: pointer;
	background: none;
	outline: 1;
}

.input:tag(textarea) {
	resize: none;
}

.input:active,
.input:focus {
	cursor: text;
}

.error {}

.errorText {}

.errorIcon {}

.checkMark {}
