@namespace "FormMixin";

@st-import Form from "./form.st.css";
@st-import FieldMixin from "./field-mixin.st.css";

:vars {
	SubmitButtonBgColor: #808080;
	SubmitButtonTextColor: #fff;
	SubmitButtonBgColor_Hover: #404040;
	SubmitButtonTextColor_Hover: #e0e0e0;
	SubmitButtonRadius: 0;
	FieldLabelTextColor: #000;
	FieldLabelIconColor: #000;
	FieldLabelBorderColor: #000;
	FieldLabelBorderColor_Success: #000;
	FieldLabelBorderColor_Error: #000;
	FieldLabelBorderColor_Focus: #000;
	FieldLabelBorderRadius: 0;
	FieldInputIconColor: #000;
	FieldInputTextColor: #000;
	FieldInputBgColor: #f0f0f0;
	FieldInputBgColor_Hover: #f0f0f0;
	FieldInputBgColor_Focus: #fff;
	FieldInputPlaceholderTextColor: #808080;
	FieldInputErrorTextColor: #808080;
	FieldInputSuccessTextColor: #808080;
}

.root {
	-st-extends: Form;
}

.root::button {
	border-radius: value(SubmitButtonRadius);
	background-color: value(SubmitButtonBgColor);
	color: value(SubmitButtonTextColor);
}
.root::button:hover {
	background-color: value(SubmitButtonBgColor_Hover);
	color: value(SubmitButtonTextColor_Hover);
}

.root::field {
	-st-mixin: FieldMixin(
		LabelTextColor value(FieldLabelTextColor),
		LabelIconColor value(FieldLabelIconColor),
		LabelBorderColor value(FieldLabelBorderColor),
		LabelBorderColor_Focus value(FieldLabelBorderColor_Focus),
		FieldLabelBorderColor_Success value(FieldLabelBorderColor_Success),
		LabelBorderColor_Error value(FieldLabelBorderColor_Error),
		LabelBorderRadius value(FieldLabelBorderRadius),
		InputTextColor value(FieldInputTextColor),
		InputBgColor value(FieldInputBgColor),
		InputBgColor_Hover value(FieldInputBgColor_Hover),
		InputBgColor_Focus value(FieldInputBgColor_Focus),
		InputPlaceholderTextColor value(FieldInputPlaceholderTextColor),
		FieldInputErrorTextColor value(FieldInputErrorTextColor),
		FieldInputSuccessTextColor value(FieldInputSuccessTextColor),
	);
}
