@namespace "Form";

@st-import Field from "./field.st.css";
@st-import LoadingIndicator from "./../loading-indicator/loading-indicator.st.css";

:vars {
	fail: #c00;
	success: #0a0;
}

.root {
	position: relative;
}

.form {}

.formTitle {}

.captcha {
	-st-states: highlight(boolean);
}
.captcha:highlight {
	border: 2px solid red;
    animation: flickerAnimation 1s infinite;}

.submit {
	/* display: flex;
	align-items: center;
	justify-content: space-between; */
}

.submitButton {
	/* position: relative; */
}

.buttonTooltip {
	border: 1px solid red;
	position: absolute;
	top: 40px;
}

.button {
	-st-states: disabled(boolean);
	background-color: #da0;
	padding: 0.5rem 2rem;
	border-radius: 4px;
	cursor: pointer;
}
.button:hover {
	background-color: #0af;
	color: #fff;
}
.button[disabled] {
	cursor: no-drop;
	background-color: #808080;
	color: #303030;
}

.error {
	color: value(fail);
}

.checkMark path {
	fill: value(success);
}

.loadingIndicator {
	-st-extends: LoadingIndicator;
}

.field {
	-st-extends: Field;
}



@keyframes flickerAnimation {
  0%   { border-color: rgba(255, 0, 0, 0.2); }
  50%  { border-color: rgba(255, 0, 0, 1); }
  100% { border-color: rgba(255, 0, 0, 0.2); }
}
/* @-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
} */

