@use './menuBarAnimationMixin' as animations;
@import 'styles/mixins/buttonMixin';

@mixin caret-mixin($var) {
	.caret {
		transition: transform 250ms ease;

		@include use-text-color($var);
	}

	[data-state='open'] > .caret {
		transform: rotate(-180deg);
	}
}

@mixin indicator-mixin($var) {
	--indicator-height: 10px;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: var(--indicator-height);

	// todo: fix calc
	top: calc(var(--bar-height) - var(--indicator-height) - 8px);
	overflow: hidden;
	z-index: 2;
	transition: width, transform 250ms ease;

	@include animations.indicator-animations($var);
}

@mixin viewport-mixin($var) {
	width: 100%;
	position: relative;
	transform-origin: top center;
	overflow: hidden;
	background-color: white;
	border-radius: 6px;
	box-shadow: globalRef(shadow-md);
	height: var(--radix-navigation-menu-viewport-height);
	transition: width, height, 300ms ease;

	// margin-top: 0;

	@include animations.viewport-animations($var);
}

@mixin viewport-position-mixin {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 100%;
	left: 0;
	perspective: 2000px;
}

@mixin arrow-mixin {
	position: relative;
	top: 70%;
	background-color: white;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-top-left-radius: 2px;
}

@mixin content-mixin($var) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	margin: 0;

	@include animations.content-animations($var);
}

@mixin list-mixin {
	@include use-direction(locale);

	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin trigger-button-mixin($module, $states) {
	@include menu-trigger-button-mixin;

	// this `hover` state aims to fix the slight delay in applying
	// background-color to the menu trigger which his based on its
	// `open` state
	&[data-state='open'],
	&:hover {
		@include use-background-color($module, state(opened, $states));

		.caret {
			@include use-text-color(#{$module}-caret, state(hovered, $states));
		}
	}
}
