@use './menuBarMixins.scss' as menu-bar-mixins;
@use '../nav-item/navListItemMixin.scss' as nav-list-item-mixin;
@import '../../../styles/lib/component';
@import '../../../styles/lib/themeVars';
@import '../../../styles/lib/states';
@import '../../../styles/lib/merge';

$__stylesheet__: (
	name: site-horizontal-menu,
);
$states: deep(
	$COMPONENT_STATES,
	(
		opened: open,
	)
);

.root {
	width: 250px;

	@include menu-bar-mixins.caret-mixin(name(trigger-caret));

	.list {
		@include menu-bar-mixins.list-mixin;
	}

	.items {
		width: 100%;
		margin: 0;

		@include use-inner-gutter(name(list));
	}

	.trigger {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include menu-bar-mixins.menu-trigger-button-mixin;
		@include menu-bar-mixins.trigger-button-mixin(name(trigger), $states);
	}

	.content {
		@include menu-bar-mixins.content-mixin(name());
	}

	.indicator {
		@include menu-bar-mixins.indicator-mixin(name());
	}

	.viewport {
		@include menu-bar-mixins.viewport-mixin(name());
	}

	// stylelint-disable-next-line selector-class-pattern
	.viewportPosition {
		@include menu-bar-mixins.viewport-position-mixin;
	}

	.arrow {
		@include menu-bar-mixins.arrow-mixin;
	}

	@include nav-list-item-mixin.list-item-mixin(name(item), $states);
}
