@use './menuBarMixins' as mixins;
@use '../nav-item/navListItemMixin' as nav-list-item-mixin;
@use '../../../styles/lib/merge';
@import '../../component.scss';

$__stylesheet__: (
	name: site-horizontal-menu,
);
$states: merge.deep(
	$COMPONENT_STATES,
	(
		opened: open,
	)
);

.root {
	width: 250px;

	@include mixins.caret-mixin(name(trigger-caret));

	.list {
		@include mixins.list-mixin;
	}

	.list {
		width: 100%;
		// margin: 0;
		// padding: 0;

		@include use-inner-gutter(name(list));

		.listItem {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}

	.trigger {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mixins.trigger-button-mixin(name(trigger), $states);
	}

	.content {
		@include mixins.content-mixin(name());
	}

	.indicator {
		@include mixins.indicator-mixin(name());
	}

	.viewport {
		@include mixins.viewport-mixin(name());
	}

	// stylelint-disable-next-line selector-class-pattern
	.viewportPosition {
		@include mixins.viewport-position-mixin;
	}

	.arrow {
		@include mixins.arrow-mixin(name(arrow));
	}

	@include nav-list-item-mixin.list-item-mixin(name(item), $states);
}
