@namespace "LightTheme";

@st-import PageBase from "../../pages/page-base.st.css";
@st-import PageBaseMixin from "../../pages/page-base-mixin.st.css";
@st-import Scrollbar from "../../components/scrollbar/scrollbar.st.css";
@st-import ScrollbarMixin from "../../components/scrollbar/scrollbar-mixin.st.css";
@st-import Layout from "../../components/layout/layout.st.css";
@st-import LayoutMixin from "../../components/layout/layout-mixin.st.css";
@st-import TopBar from "../../components/top-bar/top-bar.st.css";
@st-import TopBarMixin from "../../components/top-bar/top-bar-mixin.st.css";
@st-import MobileMenu from "../../components/mobile-menu/mobile-menu.st.css";
@st-import MobileMenuMixin from "../../components/mobile-menu/mobile-menu-mixin.st.css";
@st-import SiteFooter from "../../components/footer/footer.st.css";
@st-import SiteFooterMixin from "../../components/footer/footer-mixin.st.css";
@st-import LocaleSelector from "../../components/locale-selector/locale-selector.st.css";
@st-import LocaleSelectorMixin from "../../components/locale-selector/locale-selector-mixin.st.css";
@st-import ThemeSelector from "../../components/theme-selector/theme-selector.st.css";
@st-import ThemeSelectorMixin from "../../components/theme-selector/theme-selector-mixin.st.css";
@st-import ContactForm from "../../components/contact-form/contact-form.st.css";
@st-import ContactFormMixin from "../../components/contact-form/contact-form-mixin.st.css";
@st-import Button from "../../components/ui/button/button.st.css";
@st-import Popover from "../../components/popover/popover.st.css";
@st-import PopoverMixin from "../../components/popover/popover-mixin.st.css";
@st-import PopoverToolbar from "../../components/popover/popover-toolbar.st.css";
@st-import PopoverToolbarMixin from "../../components/popover/popover-toolbar-mixin.st.css";
@st-import DynamicContentViewer from "../../components/content/dynamic-content-viewer/dynamic-content-viewer.st.css";
@st-import DynamicContentViewerMixin from "../../components/content/dynamic-content-viewer/dynamic-content-viewer-mixin.st.css";
@st-import AnnotationLink from "../../components/content/content-blocks/annotation-link/annotation-link.st.css";
@st-import AnnotationLinkMixin from "../../components/content/content-blocks/annotation-link/annotation-link-mixin.st.css";
@st-import LoadingIndicator from "../../components/loading-indicator/loading-indicator.st.css";
@st-import LoadingIndicatorMixin from "../../components/loading-indicator/loading-indicator-mixin.st.css";

@st-import [
	SITE_LOGO_DARK,
	SITE_LOGO_BRIGHT,
] from "../common/assets.st.css";

@st-import [
	LAYOUT_SCROLLBAR_COLOR,
	LAYOUT_BG_COLOR,
	LAYOUT_TEXT_COLOR,
	LAYOUT_ALT_BG_COLOR,
	LAYOUT_TEXT_COLOR_ALT,
	LAYOUT_SECTION_BG_COLOR,
	LAYOUT_SECTION_SHADOW,
	HEADING1_TEXT_COLOR,
	HEADING2_TEXT_COLOR,
	HEADING3_TEXT_COLOR,
	HEADING4_TEXT_COLOR,
	HEADING5_TEXT_COLOR,
	HEADING6_TEXT_COLOR,
	HEADING1_TEXT_ALT_COLOR,
	BODY_TEXT_COLOR,
	LINK_TEXT_COLOR,
	LINK_HOVER_TEXT_COLOR,
	CODE_TEXT_COLOR,
	CODE_BLOCK_BG_COLOR,
	CODE_INLINE_BORDER_COLOR,
	HIGHLIGHT_OPEN_TEXT_COLOR,
	HIGHLIGHT_OPEN_BG_COLOR,
	DIALOG_TOOLBAR_ICON_FILL_COLOR,
	DIALOG_TOOLBAR_ICON_FILL_HOVER_COLOR,
	DIALOG_TOOLBAR_ICON_FILL_HOVER_BG_COLOR,
	DIALOG_TOOLBAR_ICON_FILL_ACTIVE_COLOR,
	DIALOG_TOOLBAR_SEPERATOR,
	DIALOG_TRIGGER_DECORATION_COLOR,
	DIALOG_TOPIC_BG_COLOR,
	DIALOG_TOPIC_TEXT_COLOR,
	FORM_SUBMIT_BG_COLOR,
	FORM_SUBMIT_BG_COLOR_HOVER,
	FORM_SUBMIT_TEXT_COLOR,
	INPUT_LABEL_TEXT_COLOR,
	INPUT_LABEL_HOVER_BG_COLOR,
	INPUT_BORDER_COLOR,
	INPUT_BORDER_COLOR_FOCUS,
	INPUT_PLACEHOLDER_TEXT_COLOR,
	INPUT_VALIDATION_SUCCESS_COLOR,
	INPUT_VALIDATION_FAIL_COLOR,
	MENU_ITEM_HOVER_BG_COLOR,
	MOBILE_MENU_BG_COLOR,
	MOBILE_MENU_ITEM_TEXT_COLOR,
	MOBILE_MENU_ITEM_SUBTITLE_TEXT_COLOR,
	MOBILE_MENU_ITEM_HOVER_TEXT_COLOR,
	MOBILE_MENU_ITEM_HOVER_BG_COLOR,
	MOBILE_MENU_ITEM_BORDER_COLOR,
	MOBILE_MENU_SECTION_TITLE_TEXT_COLOR,
	DARK_LOCALE_SELECTOR_TEXT_COLOR,
	DARK_LOCALE_SELECTOR_HOVER_BG_COLOR,
	DARK_LOCALE_SELECTOR_ITEM_SELECTED_TEXT_COLOR,
	DARK_LOCALE_SELECTOR_ITEM_SELECTED_BG_COLOR,
	CONTENT_BORDER_COLOR,
	GRADIENT1_START,
	GRADIENT1_MID,
	GRADIENT1_END,

	DIALOG_BG_COLOR
] from "./vars.st.css";

@st-scope .root {
	Scrollbar {
		-st-mixin: ScrollbarMixin(
			ThumbColor value(LAYOUT_SCROLLBAR_COLOR)
		);
	}

	Layout {
		-st-mixin: LayoutMixin(
			BgColor value(LAYOUT_BG_COLOR)
		);
	}

	PageBase {
		-st-mixin: PageBaseMixin(
			LinkColor value(LINK_TEXT_COLOR),
			LinkColor_Hover value(LINK_HOVER_TEXT_COLOR),
			TopicTextColor value(HEADING1_TEXT_ALT_COLOR),
			Heading1TextColor value(HEADING1_TEXT_COLOR),
			Heading2TextColor value(HEADING2_TEXT_COLOR),
			Heading3TextColor value(HEADING3_TEXT_COLOR),
			Heading4TextColor value(HEADING4_TEXT_COLOR),
			Heading5TextColor value(HEADING5_TEXT_COLOR),
			Heading6TextColor value(HEADING6_TEXT_COLOR),
			ParagraphTextColor value(BODY_TEXT_COLOR),
			InlineCodeBgColor value(CODE_BLOCK_BG_COLOR),
			InlineCodeBorderColor value(CODE_INLINE_BORDER_COLOR),
			CodeSyntaxColor value(CODE_TEXT_COLOR),
			ContentHeaderMetaBorderColor value(CONTENT_BORDER_COLOR),
			ImageBorderColor value(CONTENT_BORDER_COLOR),
			SectionBgColor value(LAYOUT_SECTION_BG_COLOR),
			SectionBoxShadowColor value(LAYOUT_SECTION_SHADOW),
		);
	}

	TopBar {
		-st-mixin: TopBarMixin(
			LinkColor value(LINK_TEXT_COLOR),
			LinkColor_Hover value(LINK_HOVER_TEXT_COLOR),
			BgColor value(LAYOUT_ALT_BG_COLOR),
			SiteTitleLinkTextColor value(LAYOUT_TEXT_COLOR),
			SiteLogoBgProps value(SITE_LOGO_DARK),
			MenuViewPortBgColor value(LAYOUT_BG_COLOR),
			MenuViewPortShadow value(LAYOUT_SECTION_SHADOW),
			MenuTriggerTextColor value(LAYOUT_TEXT_COLOR),
			MenuTriggerBgColorHover value(LAYOUT_TEXT_COLOR_ALT),
			MenuItemBgColor_Hover value(MENU_ITEM_HOVER_BG_COLOR),
			ArrowColor value(LAYOUT_BG_COLOR)
		);
	}
	TopBar LocaleSelector {
		-st-mixin: LocaleSelectorMixin(
			ItemTextColor value(LAYOUT_TEXT_COLOR),
			ItemBgColorHover value(MENU_ITEM_HOVER_BG_COLOR),
			SelectedItemTextColor value(LAYOUT_TEXT_COLOR),
			SelectedItemBgColor value(LAYOUT_TEXT_COLOR_ALT),
		);
	}

	MobileMenu {
		-st-mixin: MobileMenuMixin(
			BgColor value(MOBILE_MENU_BG_COLOR),
			ItemTextColor value(MOBILE_MENU_ITEM_TEXT_COLOR),
			ItemTextColor_Hover value(MOBILE_MENU_ITEM_HOVER_TEXT_COLOR),
			ItemBgColor_Hover value(MOBILE_MENU_ITEM_HOVER_BG_COLOR),
			ItemSubtitleTextColor value(MOBILE_MENU_ITEM_SUBTITLE_TEXT_COLOR),
			ItemBorderColor value(MOBILE_MENU_ITEM_BORDER_COLOR),
			SectionTitleColor value(MOBILE_MENU_SECTION_TITLE_TEXT_COLOR),
			StripGradientStartColor value(GRADIENT1_START),
			StripGradientMidColor value(GRADIENT1_MID),
			StripGradientEndColor value(GRADIENT1_END),
			HeaderLogoProps value(SITE_LOGO_BRIGHT),
		);
	}
	MobileMenu LocaleSelector {
		-st-mixin: LocaleSelectorMixin(
			ItemTextColor value(DARK_LOCALE_SELECTOR_TEXT_COLOR),
			ItemBgColorHover value(DARK_LOCALE_SELECTOR_HOVER_BG_COLOR),
			SelectedItemTextColor value(DARK_LOCALE_SELECTOR_ITEM_SELECTED_TEXT_COLOR),
			SelectedItemBgColor value(DARK_LOCALE_SELECTOR_ITEM_SELECTED_BG_COLOR)
		);
	}

	SiteFooter {
		-st-mixin: SiteFooterMixin(
			BgColor value(LAYOUT_ALT_BG_COLOR),
			TextColor value(LAYOUT_TEXT_COLOR),
			LinkColor value(LINK_TEXT_COLOR),
			LinkColor_Hover value(LINK_HOVER_TEXT_COLOR),
			StripGradientStartColor value(GRADIENT1_START),
			StripGradientMidColor value(GRADIENT1_MID),
			StripGradientEndColor value(GRADIENT1_END),
		);
	}

	ThemeSelector {
		-st-mixin: ThemeSelectorMixin(
			IconBgColor value(LAYOUT_ALT_BG_COLOR),
			IconFillColor value(LAYOUT_TEXT_COLOR),
			IconBgColor_Hover value(DIALOG_TOOLBAR_ICON_FILL_HOVER_BG_COLOR),
			IconFillColor_Hover value(DIALOG_TOOLBAR_ICON_FILL_HOVER_COLOR),
		);
	}

	ContactForm {
		-st-mixin: ContactFormMixin(
			SubmitButtonBgColor value(FORM_SUBMIT_BG_COLOR),
			SubmitButtonBgColor_Hover value(FORM_SUBMIT_BG_COLOR_HOVER),
			SubmitButtonTextColor value(FORM_SUBMIT_TEXT_COLOR),
			FieldLabelTextColor value(INPUT_LABEL_TEXT_COLOR),
			FieldInputBgColor_Hover value(INPUT_LABEL_HOVER_BG_COLOR),
			FieldLabelBorderColor value(INPUT_BORDER_COLOR),
			FieldLabelBorderColor_Focus value(INPUT_BORDER_COLOR_FOCUS),
			FieldInputPlaceholderTextColor value(INPUT_PLACEHOLDER_TEXT_COLOR),
			FieldInputSuccessTextColor value(INPUT_VALIDATION_SUCCESS_COLOR),
			FieldInputErrorTextColor value(INPUT_VALIDATION_FAIL_COLOR),
		);
	}

	Popover {
		-st-mixin: PopoverMixin(
			BgColor value(DIALOG_BG_COLOR),
			TriggerTextColor value(LINK_TEXT_COLOR),
			TriggerTextColor_Hover value(LINK_HOVER_TEXT_COLOR),
			TriggerTextColor_Open value(HIGHLIGHT_OPEN_TEXT_COLOR),
			TriggerTextBgColor_Open value(HIGHLIGHT_OPEN_BG_COLOR),
			TriggerMarkerColor_Open value(HIGHLIGHT_OPEN_BG_COLOR),
			PopoverContentShadow value(LAYOUT_SECTION_SHADOW),
		);
	}
	PopoverToolbar {
		-st-mixin: PopoverToolbarMixin(
			PopoverToolbarBgColor value(DIALOG_BG_COLOR),
			SeperatorColor value(DIALOG_TOOLBAR_SEPERATOR),
			IconFill_Color value(DIALOG_TOOLBAR_ICON_FILL_COLOR),
			IconFill_Hover value(DIALOG_TOOLBAR_ICON_FILL_HOVER_COLOR),
			IconFill_Active value(DIALOG_TOOLBAR_ICON_FILL_ACTIVE_COLOR),
		);
	}
	DynamicContentViewer {
		-st-mixin: DynamicContentViewerMixin(
			LinkColor value(LINK_TEXT_COLOR),
			LinkColor_Hover value(LINK_HOVER_TEXT_COLOR),
			BgColor value(DIALOG_BG_COLOR),
			NoteTopicBgColor value(DIALOG_TOPIC_BG_COLOR),
			NoteTopicTextColor value(DIALOG_TOPIC_TEXT_COLOR),
			NoteTitleTextColor value(HEADING1_TEXT_COLOR),
		);
	}
	AnnotationLink {
		-st-mixin: AnnotationLinkMixin(
			ParanthesisColor value(DIALOG_TRIGGER_DECORATION_COLOR)
		);
	}
	LoadingIndicator {
		-st-mixin: LoadingIndicatorMixin(
			IndicatorImage value(SITE_LOGO_DARK),
		);
	}
}
