@import '../component';

$__stylesheet__: (
	name: text-link,
);

.root {
	--text-color: #000;
	--primary-letter-spacing: 1px;
	--primary-font-weight: 500;
	--primary-text-transform: uppercase;
	--secondary-letter-spacing: 0;
	--secondary-font-weight: 300;
	--secondary-text-transform: lowercase;
	--subtitle-visibility: block;

	display: flex;
	align-items: center;

	.link {
		&:hover {
			text-decoration: none;
		}
	}
}
