@use "./utils/colors.scss";
@use "./mixins/typography.scss";
@use "./mixins/gradient.scss";

@mixin link-hover {
	border-bottom: 1px solid currentcolor;
}

[data-theme] {
	background-color: var(--layout-background-color);

	h1 {
		@include typography.variant(h1);
	}

	h2 {
		@include typography.variant(h2);

	}

	h3 {
		@include typography.variant(h3);
	}

	h4 {
		@include typography.variant(h4);
	}

	h5 {
		@include typography.variant(h5);
	}

	h6 {
		@include typography.variant(h6);
	}

	ul li,
	ol li,
	table {
		@include typography.variant(text);

		margin-bottom: 0;
	}

	p {
		@include typography.variant(text);
	}

	code {
		// color: var(--color-text-main);

		background-color: var(--color-surface-dark);
		padding: 0 0.2rem;
		border-radius: 4px;
	}

	pre {
		background-color: var(--color-surface-dark);
		padding: 2rem;
		border-radius: 4px;

		// code {
		// 	// color: #000;
		// }
	}

	.subtitle {
		@include typography.variant(h5);
	}

	// small {
	// 	@include typography.get(sm, xs, regular);
	// }

	ul,
	ol,
	table,
	p,
	pre {
		color: var(--text-color);
	}

	blockquote {
		padding: 0 2rem;

		p {
			@include typography.variant(h6);

			margin: 2rem 0;
			font-style: italic;
		}

		cite {
			@include typography.variant(text);
		}
	}


	[data-link-type],
	a {
		cursor: pointer;
		color: var(--link-color);

		&:link,
		&:visited {
			color: var(--link-color);
		}

		&:hover {
			color: var(--link-color-hover);
		}

		&:active {
			color: var(--link-color-active);
		}
	}

	[data-link-type="annotation"] {
		&:hover .content {
			@include link-hover;
		}
	}

	[data-link-type="glossary"] {
		&:hover .trigger .content-component-text {
			@include link-hover;
		}
	}

	[data-link-type="annotation"],
	[data-link-type="glossary"] {
		&:hover {
			color: var(--annotation-text-color-hover);
		}

		&:hover span.content {
			@include link-hover;
		}
	}

	// Page Layout
	.page {
		margin: 0 auto;
		min-height: 70vh;
		max-width: 80vh;

		// max-width: 40vw;
		// padding: 0 2rem;
		// min-width: 100%;
		// padding-top: 80px;
	}

	article {
		padding: 4rem;
		background-color: var(--color-surface-light);
		border-radius: var(--border-radius-md);
		box-shadow: var(--box-shadow-md);
	}

	footer {
		background-color: var(--color-surface-dark);
	}

	.strip {
		@include gradient.simple(
			var(--gradient-color-1),
			var(--gradient-color-2),
			var(--gradient-color-3)
		);
	}

	.annotation {
		$annotation-paren-gap: 0.05rem;
		$annotation-paren-opacity: 0.8;
		$annotation-offset-top: -2px;

		font-size: var(--font-size-xs);
		top: $annotation-offset-top;

		&::before,
		&::after {
			opacity: $annotation-paren-opacity;
		}

		&::before {
			content: "[";
			margin-right: $annotation-paren-gap;
		}

		&::after {
			content: "]";
			margin-left: $annotation-paren-gap;
		}

		.content::after {
			font-weight: var(--font-weight-bold);
		}
	}

	[data-link-type="annotation"] [data-popover-visibility="true"] .content,
	[data-link-type="glossary"] [data-popover-visibility="true"] span {
		border-radius: 3px;
		background-color: var(--color-primary-dark);
		color: var(--color-primary-contrast);
	}
}


small {
	display: block;
}

code {
	// display: block;
}

table {
	padding: 10.25rem 10.5rem;
	border: 1px solid;
}

.line {
	display: block;
}

img {
	max-width: 100%;
}


// Text Components
.annotation {
	position: relative;

	.content::after {
		content: attr(data-prefix) attr(data-seq);
	}
}

// CONTENT COMPONENTS
// .moto {
// 	margin-bottom: 2rem;
// }

// .layout[data-text-direction="ltr"] .blockquote {
// 	margin-left: 1rem;
// 	border-left: 3px solid #000;
// }

// .layout[data-text-direction="rtl"] .blockquote {
// 	margin-right: 1rem;
// 	border-right: 3px solid #000;
// }

// .annotation {
// 	position: relative;
// 	top: -6px;
// 	font-size: 0.7rem;
// 	// font-weight: typography.$FONT_WEIGHT_BOLD;
// }

// UI
.popover-content {
	overflow: hidden;
	width: 414px;
	animation: fadeIn 300ms ease-out forwards;
	padding: 1rem;
	border-radius: 6px;

	// border: 2px solid red;
	// box-shadow: colors.$shadow0;
}

.popover .trigger {
	// @include typography.Link;
}

.popover.type-glossary .trigger[data-popover-visibility="true"] .wrapper {
	border-radius: 3px;
}

.popover.type-glossary .trigger::after {
	position: relative;
	top: -6px;
	content: "\203B";
}

/* UI */
.top-bar {
	// position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 1;

	// padding: 0.5rem 2rem;
	// background-color: #ffa;
}

.top-bar .header {
	// background-color: blue;
}

.menu {
	display: flex;
	align-items: center;

	// margin: 0 2rem;
}

.top-bar .menu {
	// background-color: green;
}

// .top-bar-items {
// 	display: flex;
// 	align-items: center;
// }

.locale-selector .list .item {
	border: 2px solid red;
	display: inline-block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}

.locale-selector .list .item[data-locale="en"] {
	// @include typography.LatinText;
}

.locale-selector .list .item[data-locale="he"] {
	// @include typography.HebrewText;
}

.locale-selector .list .item[data-selected="true"] {
	cursor: default;
}

// Scrollbar
.scrollbar-root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.scrollbar {
	display: flex;
	user-select: none;
	touch-action: none;
	padding: 0 12px;
	transition: background 160ms ease-out;
	cursor: pointer;
	z-index: 2;
}

.scrollbar[data-orientation="vertical"] {
	width: 8px;
}

.scrollbar-thumb {
	flex: 1;
	border-radius: 0;
	position: relative;

	/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */

	/* background-color: '$background-neutral-strong' */
}

.scrollbar-thumb::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	min-width: 44px;
	min-height: 44px;
}

// loading indicator
.loading-indicator .loading-indicator-animation {
	width: 32px;
	height: 32px;
	animation: rotation 2s infinite linear;

	// background-image: url(../../../public/assets/ml-logo.png);
}

.loading-indicator .rotate {
	animation: rotation 2s infinite linear;
}

// footer
.footer {
	margin-top: 2rem;

	// background-color: colors.$color2;
	// color: colors.$color8;
}

.strip {
	height: 0.3vh;

	// background: linear-gradient(90deg, #fff 0%, #c0c0c0 50%, #000 100%);
}

// popover close
.popover-close-button {
	cursor: pointer;
	border: none;
	background: none;
	flex-grow: 0;
}

// captcha
.captcha {
	animation: fadeIn 2000ms;
	display: inline-block;
	width: 302px;
	height: 76px;
	border-radius: 6px;
}

// .root:highlight {
// 	animation: flickerAnimation 1s infinite;
// }

// light theme
// body {
// 	background-color: colors.$level1;
// }
// .scrollbar-thumb {
// 	background-color: colors.$color3;
// }
// .top-bar {
// 	background-color: colors.$level2;
// }
// .header .site-title {
// 	text-transform: uppercase;
// 	font-weight: 500;
// }
// .paragraph {
// 	color: colors.$level6;
// }
// .annotation::before,
// .annotation::after {
// 	color: colors.$level4;
// }
// .popover-content {
// 	background-color: colors.$level0;
// }
// .popover .trigger:hover {
// 	color: colors.$color10;
// }
// .popover.type-annotation .trigger[data-popover-visibility="true"] .annotation {
// 	background: colors.$color10;
// 	color: #fff;
// }
// .popover.type-glossary .trigger[data-popover-visibility="true"]::after {
// 	color: colors.$color10;
// }
// .popover.type-glossary .trigger[data-popover-visibility="true"] .wrapper {
// 	background: colors.$color10;
// 	color: #fff;
// 	border-radius: 3px;
// }
// .NavigationMenuViewport {
// 	background-color: colors.$level0;
// }
