html {
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-size: 16px;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

cite {
	font-style: normal;
}

button {
	border: none;
	padding: 0;
	background: none;
}

blockquote {
	margin: 0;
	padding: 0;
}

li,
ul,
ol,
ul li,
ol li {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
	width: 100%;
}

table {
	width: 100%;
}