$index: (
	color: (
		surface: (
			main: var(--ml-color-a2-main),
			light: var(--ml-color-a1-light),
			dark: var(--ml-color-a3-dark),
			contrast: var(--ml-color-a7-contrast),
		),
		primary: (
			main: var(--ml-color-c1-main),
			light: var(--ml-color-c2-light),
			dark: var(--ml-color-c3-dark),
			contrast: var(--ml-color-c3-contrast),
		),
		secondary: (
			main: var(--ml-color-b3-main),
			light: var(--ml-color-b4-light),
			dark: var(--ml-color-b2-dark),
			contrast: var(--ml-color-b2-contrast),
		),
		error: (
			main: var(--ml-color-y1-main),
			light: var(--ml-color-y1-light),
			dark: var(--ml-color-y1-dark),
			contrast: var(--ml-color-y1-contrast),
		),
		success: (
			main: var(--ml-color-z1-main),
			light: var(--ml-color-z1-light),
			dark: var(--ml-color-z1-dark),
			contrast: var(--ml-color-z1-contrast),
		),
	),
	gradient: (
		primary: (
			main:
				linear-gradient(
					90deg,
					var(--ml-color-b1-main) 0%,
					var(--ml-color-b4-main) 50%,
					var(--ml-color-b5-main) 100%
				),
		),
	),
);
