@import '../component.scss';

$__stylesheet__: (
	name: list,
);

.root {
	margin-bottom: 1em;
	padding: 0 2em;

	.items {
		// margin: 0;
		// padding: 0;
	}

	.item {
		border: 1px solid red;
	}

	// .label {
	// }
}
