@namespace "ContactFormMixin";

@st-import ContactForm from "./contact-form.st.css";
@st-import FormMixin from "../form/form-mixin.st.css";
@st-import ButtonMixin from "../ui/button/button-mixin.st.css";

:vars {
	SubmitButtonBgColor: #c0c0c0;
	SubmitButtonTextColor: #000;
	SubmitButtonBgColor_Hover: #c0c0c0;
	SubmitButtonTextColor_Hover: value(SubmitButtonTextColor);
	SubmitButtonRadius: 4px;

	FieldLabelTextColor: #000;
	FieldLabelIconColor: value(FieldLabelTextColor);
	FieldLabelBorderColor: #000;
	FieldLabelBorderColor_Focus: #000;
	FieldLabelBorderRadius: 3px;

	FieldInputTextColor: #000;
	FieldInputBgColor: #f0f0f0;
	FieldInputBgColor_Hover: #f0f0f0;
	FieldInputBgColor_Focus: inherit;
	FieldInputPlaceholderTextColor: #000;

	FieldInputSuccessTextColor: #0f0;
	FieldInputErrorTextColor: #f00;
	FieldLabelBorderColor_Success: value(FieldInputSuccessTextColor);
	FieldLabelBorderColor_Error: value(FieldInputErrorTextColor);
}

.root {
	-st-extends: ContactForm;
	-st-mixin: FormMixin(
		SubmitButtonBgColor value(SubmitButtonBgColor),
		SubmitButtonTextColor value(SubmitButtonTextColor),
		SubmitButtonBgColor_Hover value(SubmitButtonBgColor_Hover),
		SubmitButtonTextColor_Hover value(SubmitButtonTextColor_Hover),
		SubmitButtonRadius value(SubmitButtonRadius),
		FieldLabelTextColor value(FieldLabelTextColor),
		FieldLabelIconColor value(FieldLabelIconColor),
		FieldLabelBorderColor value(FieldLabelBorderColor),
		FieldLabelBorderColor_Focus value(FieldLabelBorderColor_Focus),
		FieldLabelBorderColor_Success value(FieldLabelBorderColor_Success),
		FieldLabelBorderColor_Error value(FieldLabelBorderColor_Error),
		FieldLabelBorderRadius value(FieldLabelBorderRadius),
		FieldInputTextColor value(FieldInputTextColor),
		FieldInputBgColor value(FieldInputBgColor),
		FieldInputBgColor_Hover value(FieldInputBgColor_Hover),
		FieldInputBgColor_Focus value(FieldInputBgColor_Focus),
		FieldInputPlaceholderTextColor value(FieldInputPlaceholderTextColor),
		FieldInputErrorTextColor value(FieldInputErrorTextColor),
		FieldInputSuccessTextColor value(FieldInputSuccessTextColor),
	);
}
