@import "styles";
@import "./animations.module.scss";

.root {
	position: relative;
	display: flex;
	justify-content: center;
	width: 500px;
	z-index: 1;

	.list {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
		// margin: ;
	}

	.trigger {
		display: flex;
		align-items: center;
		justify-content: space-between;
		user-select: none;
		// border: none;

		&:hover {
			background: blue;
		}

		&[data-state="open"] {
			background: blue;
		}
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		animation-duration: 250ms;
		animation-timing-function: ease;

		&[data-motion="from-start"] {
			animation-name: enterFromLeft;
		}
		&[data-motion="from-end"] {
			animation-name: enterFromRight;
		}
		&[data-motion="to-start"] {
			animation-name: exitToLeft;
		}
		&[data-motion="to-end"] {
			animation-name: exitToRight;
		}

		@media only screen and (min-width: 600px) {
			// .content {
			width: auto;
			// }
		}
	}

	.indicator {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 10px;
		top: 45px;
		overflow: hidden;
		z-index: 2;
		transition: width, transform 250ms ease;

		&[data-state="visible"] {
			animation: fadeIn 200ms ease;
		}
		&[data-state="hidden"] {
			animation: fadeOut 200ms ease;
		}
	}

	.viewport {
		position: relative;
		transform-origin: top center;
		margin-top: 5px;
		width: 100%;
		background-color: white;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: globalRef(shadow-md);
		height: var(--radix-navigation-menu-viewport-height);
		transition: width, height, 300ms ease;

		&[data-state="open"] {
			animation: scaleIn 200ms ease;
		}
		&[data-state="closed"] {
			animation: scaleOut 200ms ease;
		}

		@media only screen and (min-width: 600px) {
			// .viewport {
			width: 500px; //var(--radix-navigation-menu-viewport-width);
			// }
		}
	}

	.viewportPosition {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
		top: 100%;
		left: 0;
		perspective: 2000px;
	}

	.caretDown {
		position: relative;
		color: var(--violet-10);
		top: 1px;
		transition: transform 250ms ease;
	}
	[data-state="open"] > .caretDown {
		transform: rotate(-180deg);
	}

	.arrow {
		position: relative;
		top: 70%;
		background-color: white;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		border-top-left-radius: 2px;
	}
}
