@use "./HorizontalMenuMixins.scss";
@import "styles/baseComponentStyle";
@import "styles/lib/themeVars";
@import "styles/lib/states";
@import "styles/lib/merge";

$__stylesheet__: (
	name: site-horizontal-menu,
);

$states: deep(
	$COMPONENT_STATES,
	(
		opened: open,
	)
);

.root {
	width: 250px;

	.list {
		@include HorizontalMenuMixins.ListMixin;
	}

	.items {
		width: 100%;
		margin: 0;
		@include useInnerGutter(site-horizontal-menu-list);
	}

	.trigger {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include HorizontalMenuMixins.MenuTriggerButtonMixin;
		@include HorizontalMenuMixins.TriggerButtonMixin(
			site-horizontal-menu-trigger
		);
	}

	.content {
		@include HorizontalMenuMixins.ContentMixin;
		@include HorizontalMenuMixins.contentAnimations(site-horizontal-menu);
	}

	.indicator {
		@include HorizontalMenuMixins.IndicatorMixin;
	}

	.viewport {
		@include HorizontalMenuMixins.ViewPortMixin;
	}

	.viewportPosition {
		@include HorizontalMenuMixins.ViewPortPosition;
	}

	@include HorizontalMenuMixins.ButtonCaret(site-horizontal-menu-trigger-caret);

	.arrow {
		@include HorizontalMenuMixins.ArrowMixin;
	}

	.listItem {
		list-style: none;
	}

	@include HorizontalMenuMixins.ListItemMixin(site-horizontal-menu-item);
}
