@import "styles";
@import "./animations.module.scss";
@import "../../MenuButtonMixin.scss";

.root {
	position: relative;
	display: flex;
	justify-content: center;
	width: 500px;
	z-index: 1;

	.list {
		display: flex;
		justify-content: center;
		list-style: none;
		// padding: 0;
		// margin: 0;
	}

	.items {
		width: 100%;
		margin: 0;
		padding: 0;
		// padding: 2em;
	}

	.trigger {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include NavButton;

		&:hover {
			background: compRef(
				site-horizontal-menu,
				trigger-background-color,
				__hover
			);
		}

		&[data-state="open"] {
			background: compRef(
				site-horizontal-menu,
				trigger-background-color,
				__open
			);
		}

		&[data-state="open"],
		&:hover {
			.caretDown {
				color: compRef(site-horizontal-menu, caret-color, __hover);
			}
		}
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		animation-duration: 250ms;
		animation-timing-function: ease;
		box-sizing: border-box;
		padding: 1em;

		&[data-motion="from-start"] {
			animation-name: enterFromLeft;
		}
		&[data-motion="from-end"] {
			animation-name: enterFromRight;
		}
		&[data-motion="to-start"] {
			animation-name: exitToLeft;
		}
		&[data-motion="to-end"] {
			animation-name: exitToRight;
		}

		// @media only screen and (min-width: 600px) {
		// 	.content {
		// 	width: auto;
		// 	}
		// }
	}

	.indicator {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 10px;
		top: 50px;
		overflow: hidden;
		z-index: 2;
		transition: width, transform 250ms ease;

		&[data-state="visible"] {
			animation: fadeIn 200ms ease;
		}
		&[data-state="hidden"] {
			animation: fadeOut 200ms ease;
		}
	}

	.viewport {
		position: relative;
		transform-origin: top center;
		// margin-top: 0;
		width: 100%;
		background-color: white;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: globalRef(shadow-md);
		height: var(--radix-navigation-menu-viewport-height);
		transition: width, height, 300ms ease;

		&[data-state="open"] {
			animation: scaleIn 200ms ease;
		}
		&[data-state="closed"] {
			animation: scaleOut 200ms ease;
		}

		@media only screen and (min-width: 600px) {
			// .viewport {
			width: 500px; //var(--radix-navigation-menu-viewport-width);
			// }
		}
	}

	.viewportPosition {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
		top: 100%;
		left: 0;
		perspective: 2000px;
	}

	.caretDown {
		color: compRef(site-horizontal-menu, caret-color);
		transition: transform 250ms ease;
	}
	[data-state="open"] > .caretDown {
		transform: rotate(-180deg);
	}

	.arrow {
		position: relative;
		top: 70%;
		background-color: white;
		width: 12px;
		height: 12px;
		transform: rotate(45deg);
		border-top-left-radius: 2px;
	}

	.listItem {
		list-style: none;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		overflow: hidden;

		.entry {
			display: block;
			text-decoration: none;
			padding: 1em;
			cursor: pointer;
			border-radius: 6px;

			&:hover {
				background: #f0f0f0;
			}
		}
	}
}
