@namespace "ScrollbarMixin";

@st-import Scrollbar from "./scrollbar.st.css";

:vars {
	ThumbColor: #000000;
}

.root {
	-st-extends: Scrollbar;
}

.root::thumb {
	background-color: value(ThumbColor);
}
