@namespace "Scrollbar";

:vars {
  full: 100%;
  scrollbarSize: 8px;
}

.root {
	width: value(full);
	height: value(full);
	overflow: hidden;
}

.scrollbar {
	display: flex;
	user-select: none;
	touch-action: none;
	padding: 0 12px;
	transition: background 160ms ease-out;
	cursor: pointer;
  z-index: 1;
}
/* .scrollbar:hover {
  background: gray;
} */
.scrollbar[data-orientation="vertical"] {
  width: value(scrollbarSize)
}

.thumb {
  flex: 1;
	border-radius: 0;
	/* // background: '$background-neutral-strong',
	// increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
	position: relative;
}
.thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}