@use "components/content/popover/PopoverTrigger.module";
@import "styles/lib/refs";

$index: (
	popover: (
		trigger: (
			text-color: ref(link-text-color),
			radius: globalRef(radius-md),
			PopoverTrigger.state(hovered): (
				background-color: ref(color-secondary-main),
				text-color: ref(color-secondary-contrast),
			),
			PopoverTrigger.state(clicked): (
				background-color: ref(color-secondary-main),
				// background-color: ref(color-secondary-main),
				text-color: ref(color-secondary-contrast),
			),
			PopoverTrigger.state(selected): (
				background-color: ref(color-secondary-main),
				text-color: ref(color-secondary-contrast),
			),
			PopoverTrigger.state(selected-hovered): (
				background-color: ref(color-secondary-main),
				text-color: ref(color-secondary-contrast),
			),
			PopoverTrigger.state(selected-clicked): (
				background-color: ref(color-secondary-main),
				text-color: ref(color-secondary-contrast),
			),
		),
		dialog: (
			background-color: ref(color-surface-light),
			border-radius: globalRef(radius-md),
		),
	),
);
