@import "styles";

$states: $COMPONENT_STATES;

.root {
	--text-color__hovered: #000;
	--text-color__active: #888;

	cursor: pointer;

	&:link,
	&:visited {
		color: compRef(link, text-color);
	}

	&:hover {
		color: compRef(link, text-color__hover);
	}

	&:active {
		color: compRef(link, text-color__active);
	}
}
