@import "styles";

$annotationPrefix: "'['";
$annotationSuffix: "']'";
$annotationAffixOpacity: 0.65;

$index: (
	code: (
		block: (
			background-color: ref(color-container-main),
			text-color: ref(color-surface-contrast),
			border-color: ref(color-surface-dark),
			radius: globalRef(radius-sm),
			gutter: 2em,
			font-family: "monospace",
			font-weight: 500,
		),
		inline: (
			background-color: ref(color-container-main),
			text-color: ref(color-surface-contrast),
			border-color: ref(color-surface-dark),
			radius: globalRef(radius-sm),
			padding-left: 0.25em,
			padding-right: 0.25em,
			font-family: "monospace",
			font-weight: 500,
		),
	),
);
