@import "styles";

$annotationPrefix: "'['";
$annotationSuffix: "']'";
$annotationAffixOpacity: 0.65;

$index: (
	code: (
		block: (
			text-color: globalRef(color-c1-main),
			font-family: "monospace",
			font-weight: 500,
		),
		inline: (
			text-color: globalRef(color-c1-main),
			font-family: "monospace",
			font-weight: 500,
		),
	),
);
