@use "components/content/content-blocks/link/link.module" as Link;
@import "styles/lib/refs";

$index: (
	link: (
		text-color: ref(color-primary-main),
		Link.state(hovered): (
			text-color: ref(color-secondary-main),
		),
		Link.state(clicked): (
			text-color: ref(color-secondary-light),
		),
	),
);
