@import "styles";
@import "styles/mixins/content/figureMixin";

.root {
	--border-size: 1px;
	--border-color: blue;
	--border-style: solid;

	max-width: 100%;
	text-align: center;
	margin: 0;

	img {
		max-width: 100%;
	}

	padding: 1em;

	@include useBorderSize(figure);
	@include useBorderStyle(figure);
	@include useBorderColor(figure);

	// variant mixins
	@include no-border;
}
