@namespace "Figure";

@st-import [boxSizing] from "../../../../theme/common/mixins.st.css";

.root {
	-st-mixin: boxSizing;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
}

.root img {
	width: 100%;
}

.figureContent {
	flex-grow: 0;
}

.root caption>p {
	margin: 0;
	padding: 0;
}

.root caption {
	display: block;
	text-align: center;
	font-style: italic;
	font-size: 0.8em;
}

.img {}
