@namespace "Figure";

@st-import [boxSizing] from "../../../../theme/common/mixins.st.css";

.root {
	-st-mixin: boxSizing;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
}

.img {}
