@import "styles";

.root {
	--border-size: 2px;
	--border-color: #000;
	--border-style: solid;
	--radius: 4px;

	max-width: 100%;
	text-align: center;
	margin: 0;

	img {
		max-width: 100%;
	}

	padding: 1em;

	@include useBorderSize(figure);
	@include useBorderStyle(figure);
	@include useBorderColor(figure);
	@include useRadius(figure);

	// variant mixins
	&[data-type="no-border"] {
		border: none;
	}
	&[data-type="codeblock"] {
		border: none;
		margin: 0;
		padding-right: 0;
		padding-left: 0;
	}
}
