@import '../../styles/lib/component';
@import '../../styles/lib/themeVars';

$__stylesheet__: (
	name: container,
);

.root {
	display: flex;
	box-sizing: border-box;

	&[data-fixed-position='true'] {
		position: fixed;
		z-index: 1;

		&[data-position-top] {
			&[data-position='bottom'] {
				bottom: 0;
			}

			&[data-position-top='top'] {
				top: 0;
			}
		}
	}

	&[data-flex-direction] {
		&[data-flex-direction='row'] {
			flex-direction: row;
		}

		&[data-flex-direction='column'] {
			flex-direction: column;
		}
	}

	&[data-space-between='true'] {
		justify-content: space-between;
	}

	&[data-align-items-center='true'] {
		align-items: center;
	}

	&[data-align-content-right='true'] {
		justify-content: right;
	}

	&[data-align-content-left='true'] {
		justify-content: left;
	}

	&[data-full-width='true'] {
		width: 100%;
	}

	&[data-horizontal-gutter='true'] {
		@include use-horizontal-padding(name());
	}
}
