@namespace "ContentComponent";

.root {
	-st-states: type(enum(
		section,
		paragraph,
		line,
		del,
		ins,
		strong,
		em,
		code,
		blockquote,
		codeblock,
		text,
		list,
		list-item,
		item,
		link,
		image,
		figure,
		unknown,
		sub,
		sup,
		heading_1,
		heading_2,
		heading_3,
		heading_4,
		heading_5,
		heading_6
	)),
	listType(enum(ul, ol));
}

.error {}
