.root {
	--item-margin: 0.5em;

	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--site-header-background-color);
	z-index: 1;

	&[data-text-direction="ltr"] {
		.item:not(:last-child) {
			margin-right: var(--item-margin);
		}
	}

	&[data-text-direction="rtl"] {
		.item:not(:last-child) {
			margin-left: var(--item-margin);
		}
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3em;
	padding: 0 1em;
}

.section {
	display: flex;
	align-items: center;
	align-items: center;
}

.header {
}

.menu {
	// width: 480px;
	--radix-navigation-menu-viewport-width: 500px;
}

.localeSelector {
}

.themeSelector {
	width: 20px;
}

.mobileMenuTrigger {
	font-size: 1.5em;
}
