@use '../../styles/lib/hooks';
@import '../../styles/lib/component';

$__stylesheet__: (
	name: reference-content-layout,
);

.root {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;

	// background-color: red;

	.header {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		// padding-bottom: 1em;
		// background-color: blue;

		.caption {
			// background-color: green;

			display: inline-flex;
			border-radius: 4px;
			font-weight: 100;
			color: #fff;
			font-size: 1em;

			@include hooks.use-text-color;

			// padding: 0 0.25em;
			// margin-bottom: 1em;
			// .label {
			// 	// background-color: lightpink;
			// }
		}

		.term {
			// background-color: gold;
			font-size: 2em;
		}

		// .definition {
		// 	// background-color: darkcyan;
		// }
	}

	// .content {
	// 	// background-color: darkkhaki;
	// }

	// .footer {
	// 	.sources {
	// 		// background-color: aquamarine;
	// 	}
	// }
}
