// TYPOGRAPHY VARIANTS

@mixin css-vars {
	--site-logo: var(--ml-site-logo);

	// Headings
	--h1-font-size: var(--font-size-5xl);
	--h1-font-weight: var(--font-weight-medium);
	--h1-line-height: var(--font-line-height-xl);
	--h1-margin-bottom: var(--font-margin-bottom-3xl);
	--h2-font-size: var(--font-size-4xl);
	--h2-font-weight: var(--font-weight-thin);
	--h2-line-height: var(--font-line-height-lg);
	--h2-margin-bottom: var(--font-margin-bottom-2xl);
	--h3-font-size: var(--font-size-3xl);
	--h3-font-weight: var(--font-weight-thin);
	--h3-line-height: var(--font-line-height-lg);
	--h3-margin-bottom: var(--font-margin-bottom-xl);
	--h4-font-size: var(--font-size-2xl);
	--h4-font-weight: var(--font-weight-thin);
	--h4-line-height: var(--font-line-height-lg);
	--h4-margin-bottom: var(--font-margin-bottom-lg);
	--h5-font-size: var(--font-size-xl);
	--h5-font-weight: var(--font-weight-thin);
	--h5-line-height: var(--font-line-height-md);
	--h5-margin-bottom: var(--font-margin-bottom-md);
	--h6-font-size: var(--font-size-lg);
	--h6-font-weight: var(--font-weight-thin);
	--h6-line-height: var(--font-line-height-md);
	--h6-margin-bottom: var(--font-margin-bottom-md);

	// Text
	--text-font-size: var(--font-size-md);
	--text-font-weight: var(--font-weight-regular);
	--text-line-height: var(--font-line-height-sm);
	--text-margin-bottom: var(--font-margin-bottom-md);
	--text-color: var(--color-surface-contrast);

	// Link
	--link-color: var(--color-primary-main);
	--link-color-hover: var(--color-primary-dark);

	// Annotations
	--annotation-text-color-hover: var(--color-secondary-main);

	// Surfaces
	--layout-background-color: var(--color-surface-light);
	--header-background-color: var(--color-surface-main);
	--footer-background-color: var(--color-surface-dark);

	// @include cssVar(logo-url, $logo);

	// Popover
	--popover-content-background-color: var(--color-surface-light);
	--popover-content-box-shadow: var(--box-shadow-md);
	--popover-content-padding: var(--spacing-md);
}
