// TYPOGRAPHY VARIANTS

@mixin css-vars {
	--ml-font-family-1: "Roboto Slab", serif;
	--ml-font-family-2: "Assistant", sans-serif;

	--ml-font-size-default: 16px;

	--ml-font-size-xs: 0.75em;
	--ml-font-size-sm: 1em;
	--ml-font-size-md: 1.25em;
	--ml-font-size-lg: 1.5em;
	--ml-font-size-xl: 1.75em;

	--component-size-xs: var(--ml-font-size-xs);
	--component-size-sm: var(--ml-font-size-sm);
	--component-size-md: var(--ml-font-size-md);
	--component-size-lg: var(--ml-font-size-lg);
	--component-size-xl: var(--ml-font-size-xl);

	--ml-input-border-width: 1px;
	--ml-input-border-style: solid;
	--ml-input-border-color: var(--ml-color-surface-dark);

	--radix-navigation-menu-viewport-width: 500px;

	// headings
	--h1-font-size: var(--font-size-5xl);
	--h1-font-weight: var(--font-weight-medium);
	--h1-line-height: var(--font-line-height-xl);
	--h1-margin-bottom: var(--font-margin-bottom-3xl);
	--h2-font-size: var(--font-size-4xl);
	--h2-font-weight: var(--font-weight-thin);
	--h2-line-height: var(--font-line-height-lg);
	--h2-margin-bottom: var(--font-margin-bottom-2xl);
	--h3-font-size: var(--font-size-3xl);
	--h3-font-weight: var(--font-weight-thin);
	--h3-line-height: var(--font-line-height-lg);
	--h3-margin-bottom: var(--font-margin-bottom-xl);
	--h4-font-size: var(--font-size-2xl);
	--h4-font-weight: var(--font-weight-thin);
	--h4-line-height: var(--font-line-height-lg);
	--h4-margin-bottom: var(--font-margin-bottom-lg);
	--h5-font-size: var(--font-size-xl);
	--h5-font-weight: var(--font-weight-thin);
	--h5-line-height: var(--font-line-height-md);
	--h5-margin-bottom: var(--font-margin-bottom-md);
	--h6-font-size: var(--font-size-lg);
	--h6-font-weight: var(--font-weight-thin);
	--h6-line-height: var(--font-line-height-md);
	--h6-margin-bottom: var(--font-margin-bottom-md);

	// Text
	--text-font-size: var(--font-size-md);
	--text-font-weight: var(--font-weight-regular);
	--text-line-height: var(--font-line-height-sm);
	--text-margin-bottom: var(--font-margin-bottom-md);
	--text-color: var(--ml-color-surface-contrast);

	// Surfaces
	--layout-background-color: var(--ml-color-surface-light);

	// header
	// footer
	--footer-background-color: var(--ml-color-surface-dark);

	// @include cssVar(logo-url, $logo);

	// content page
	--ml-content-page-title-font-size: var(--h3-font-size);
	--ml-content-page-subtitle-font-size: var(--h1-font-size);
	--ml-content-page-abstract-font-size: var(--h4-font-size);

	// card
	--ml-card-box-shadow: var(--box-shadow-md);
	--ml-card-padding: var(--spacing-lg);

	// BUTTON
	// --button-border-radius: var(--border-radius-md);
	// --button-background-color: var(--ml-color-primary-main);
	// --button-background-color__hover: var(--ml-color-primary-dark);
	// --button-background-color__active: var(--ml-color-primary-light);
	// --button-text-color: var(--ml-color-surface-light);

	// INPUT
	--input-border-radius: var(--border-radius-md);
	--input-border-width: var(--ml-input-border-width);
	--input-border-style: var(--ml-input-border-style);
	--input-border-color: var(--ml-color-surface-dark);
	--input-background-color: var(--ml-color-surface-main);
	--input-background-color__hover: var(--ml-color-surface-light);
	--input-background-color__focus: var(--ml-color-surface-dark);

	// CONTACT FORM
	--form-title-font-size: 3em;
	--form-subtitle-font-size: 2em;
	// --contact-form-field-gap: 0;
	--form-field-background-color: var(--ml-color-surface-light);
	// --contact-form-field-border-width: var(--ml-input-border-width);
	// --contact-form-field-border-style: var(--ml-input-border-style);
	// --contact-form-field-border-color: var(--ml-input-border-color);
	--form-input-error-message-font-size: var(--ml-font-size-sm);
	--form-input-error-message-text-color: var(--ml-color-error-light);
}
