@use "sass:map";
@use "./common.scss";
@use "../utils/theme.scss";

@mixin css-vars($themeIndex) {
	// THEHE CATEGORIES
	$colors: map.get($themeIndex, color);
	$fonts: map.get($themeIndex, typography);
	$shadow: map.get($themeIndex, shadow);
	$spacing: map.get($themeIndex, spacing);
	$radius: map.get($themeIndex, radius);
	$gradient: map.get($themeIndex, gradient);
	$logo: map.get($themeIndex, logo);

	--ml-site-logo: #{map.get($logo, url)};

	// COLORS
	--ml-color-surface-main: #{theme.prop($colors, surface, main)};
	--ml-color-surface-dark: #{theme.prop($colors, surface, dark)};
	--ml-color-surface-light: #{theme.prop($colors, surface, light)};
	--ml-color-surface-contrast: #{theme.prop($colors, surface, contrast)};
	--ml-color-primary-main: #{theme.prop($colors, primary, main)};
	--ml-color-primary-dark: #{theme.prop($colors, primary, dark)};
	--ml-color-primary-light: #{theme.prop($colors, primary, light)};
	--ml-color-primary-contrast: #{theme.prop($colors, primary, contrast)};
	--ml-color-secondary-main: #{theme.prop($colors, secondary, main)};
	--ml-color-secondary-dark: #{theme.prop($colors, secondary, dark)};
	--ml-color-secondary-light: #{theme.prop($colors, secondary, light)};
	--ml-color-secondary-contrast: #{theme.prop($colors, secondary, contrast)};
	--ml-color-error-main: #{theme.prop($colors, error, main)};
	--ml-color-error-dark: #{theme.prop($colors, error, dark)};
	--ml-color-error-light: #{theme.prop($colors, error, light)};
	--ml-color-error-contrast: #{theme.prop($colors, error, contrast)};
	--ml-color-success-main: #{theme.prop($colors, success, main)};
	--ml-color-success-dark: #{theme.prop($colors, success, dark)};
	--ml-color-success-light: #{theme.prop($colors, success, light)};
	--ml-color-success-contrast: #{theme.prop($colors, success, contrast)};
	// GRADIENT 1
	--ml-color-gradient-1: #{theme.prop($gradient, gradient1, start)};
	--ml-color-gradient-2: #{theme.prop($gradient, gradient1, middle)};
	--ml-color-gradient-3: #{theme.prop($gradient, gradient1, end)};

	// RADIUS
	--border-radius-md: #{map.get($radius, md)};

	// SHADOW
	--box-shadow-md: #{map.get($shadow, md)};

	// SPACING
	--spacing-md: #{map.get($spacing, md)};
	--spacing-lg: #{map.get($spacing, lg)};

	// TYPOGRAPHY
	$common: common.$index;

	--font-size-5xl: #{theme.var($common, font, fontSize, 5xl)};
	--font-size-4xl: #{theme.var($common, font, fontSize, 4xl)};
	--font-size-3xl: #{theme.var($common, font, fontSize, 3xl)};
	--font-size-2xl: #{theme.var($common, font, fontSize, 2xl)};
	--font-size-xl: #{theme.var($common, font, fontSize, xl)};
	--font-size-lg: #{theme.var($common, font, fontSize, lg)};
	--font-size-md: #{theme.var($common, font, fontSize, md)};
	--ml-font-size-sm: #{theme.var($common, font, fontSize, sm)};
	--font-size-xs: #{theme.var($common, font, fontSize, xs)};
	--font-weight-thin: #{theme.var($common, font, fontWeight, thin)};
	--font-weight-regular: #{theme.var($common, font, fontWeight, regular)};
	--font-weight-medium: #{theme.var($common, font, fontWeight, medium)};
	--font-weight-bold: #{theme.var($common, font, fontWeight, bold)};
	--font-line-height-xl: #{theme.var($common, font, lineHeight, xl)};
	--font-line-height-lg: #{theme.var($common, font, lineHeight, lg)};
	--font-line-height-md: #{theme.var($common, font, lineHeight, md)};
	--font-line-height-sm: #{theme.var($common, font, lineHeight, sm)};
	--font-line-height-xs: #{theme.var($common, font, lineHeight, xs)};
	--font-margin-bottom-3xl: #{theme.var($common, font, margin, 3xl)};
	--font-margin-bottom-2xl: #{theme.var($common, font, margin, 2xl)};
	--font-margin-bottom-xl: #{theme.var($common, font, margin, xl)};
	--font-margin-bottom-lg: #{theme.var($common, font, margin, lg)};
	--font-margin-bottom-md: #{theme.var($common, font, margin, md)};

	// TEXT COLOR OVERRIDES
	// TODO: Optimize and remove this after moving it to theme roles
	--h1-text-color: #{theme.var($colors, surface, custom, s8)};
	--h2-text-color: #{theme.var($colors, surface, custom, s9)};
	--h3-text-color: #{theme.var($colors, surface, custom, s9)};
	--h4-text-color: #{theme.var($colors, surface, custom, s9)};
	--h5-text-color: #{theme.var($colors, surface, custom, s9)};
	--h6-text-color: #{theme.var($colors, surface, custom, s9)};

	// e.g.: group-component-part
}
