@import "lib/refs";
@import "mixins/textDirectionMixin";

$typogrpahy-direction-variants: (ltr, rtl);

@each $variant in $typogrpahy-direction-variants {
	@include TextDirection($variant);
}

html,
body {
	font-size: ref(text-direction-font-size);
	font-weight: ref(text-direction-font-weight);
}
