.main {
  background: cyan;
}

.verse {
  display: block;
  margin-bottom: 2rem;
  font-size: 14px;
}

.paragraph {
  margin: 0;
}

.error {
	color: red;
}

.ltr, .rtl {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  // margin: 0 1rem;
  padding: 2rem;
}
.rtl {
  text-align: right;
  direction: rtl;
}

.blockquote {
  font-style: italic;
}

.intro {
  font-style: italic;
  font-size: 10px;
  margin-bottom: 2rem;
}