@import "lib/refs";

@mixin text-direction-variant($direction) {
	[data-text-direction="#{$direction}"] {
		font-family: ref(typography-#{$direction}-font-family);
		font-size: ref(typography-#{$direction}-base-font-size);
		font-weight: ref(typography-#{$direction}-font-weight);
		direction: #{$direction};
	}
}

@each $variant in $typogrpahy-direction-variants {
	@include text-direction-variant($variant);
}

html,
body {
	font-size: 14px; //var(--ml-typography-font-size-md);
}
