@namespace "ContentComponent";

:import {
	-st-from: "./content-blocks/paragraph/paragraph.st.css";
	-st-default: Paragraph;
}

:import {
	-st-from: "./content-blocks/figure/figure.st.css";
	-st-default: Figure;
}

.root {
	-st-states: type(string);
}

.error {
	background: red;
	color: #fff;
}

.section {}

.text {
}

.figure {
}
