@namespace "ContentComponent";

.root {
	-st-states: listType(enum(ul, ol)), 
							type(enum(
								section,
								paragraph,
								line,
								del,
								ins,
								strong,
								em,
								code,
								blockquote,
								text,
								list,
								list-item,
								item,
								link,
								image,
								figure,
								unknown,
								sub,
								sup,
								heading_1,
								heading_2,
								heading_3,
								heading_4,
								heading_5,
								heading_6
							)
						);
}

.error {}
