@namespace "ContentComponentMixin";

@st-import ContentComponent from "./content-component.st.css";

:vars {
	LinkColor: blue;
	LinkColorHover: red;
  ErrorBgColor: red;
  ErrorTextColor: white;
}

.root {
  -st-extends: ContentComponent;
}

.root:type(section),
.root:type(blockquote) {
  margin-bottom: 1.8rem;
}

.root:type(paragraph),
.root:type(blockquote) {
  line-height: 1.8rem;
}

.root:type(blockquote) {
  padding: 0 1.8rem;
}

.root:type(link) {
	color: value(LinkColor);
}
.root:type(link):hover {
	color: value(LinkColorHover);
}

.root::error {
	background: value(ErrorBgColor);
	color: value(ErrorTextColor);
}
