@namespace "ContentComponent";

@st-import ContentComponent from "./content-component.st.css";

:vars {
	LinkColor: inherit;
	LinkColor_Hover: inherit;
}

.root {
	-st-extends: ContentComponent;
}

.root:type(link) {
	color: value(LinkColor);
}
.root:type(link):hover {
	color: value(LinkColor_Hover);
}

.root:type(paragraph) {
	margin-bottom: 1rem;
}
