@namespace "ContentComponent";

.root {
	-st-states: type(enum(
		section,
		paragraph,
		del,
		ins,
		strong,
		em,
		code,
		blockquote,
		text,
		list,
		item,
		link,
		image,
		figure,
		unknown,
		sub,
		sup
	));
}

.root:type(section),
.root:type(blockquote) {
  margin-bottom: 1.8rem;
}

.root:type(paragraph),
.root:type(blockquote) {
  line-height: 1.8rem;
}

.root:type(blockquote) {
  padding: 0 1.8rem;
}

.error {
	background: red;
	color: #fff;
}
