:vars {
	color0: #FFFFFF;
	color1: #FCFBF9;
	color2: #F2EFE4;
	color3: #E6E3D8;
	color4: #CCC9C0;
	color5: #A6A49C;
	color6: #666560;
	color7: #434440;
	color8: #20201E;
	color9: #FD658A;
	color9_1: #F178B6;
	color10: #BD5E91;
	color11: #70538A;
	color12: #4E4A7A;
	color13: #3770C5;
	color14: #274F8C;
	color15: #1A355F;
	color16: #00173A;
}
