@use "./typography";

.blockquote,
.paragraph {
	// color: colors.$level6;
	// @include typography.bodyTextNormal;
	// @include typography.ParagraphMargin;
}

.blockquote {
	padding: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 300;
	padding: 0rem 1rem;
}

.line {
	display: block;
}

.code {
	white-space: pre-wrap;
}
