@use "./reset";
@use "./theme";
// @use "./colors";
// @use "./typography";
// @use "./animations";
// @use "./content-blocks";
// @use "./menu";
// @use "./radix";

body {
	font-size: 16px;
}
.page {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 4vh;
	// min-height: 75vh;
	// min-width: 100%;
	// padding-top: 80px;

	// DEBUG
	// .section {
	// 	&:hover {
	// 		outline: 1px dashed green;
	// 		background: rgba(0, 255, 0, 0.1);
	// 	}
	// }
}

$hsl1: hsl(206 22% 7% / 35%) 0px 10px 38px -10px;
$hsl2: hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
$shadow0: $hsl1, $hsl2;

$pallette: (
	color0: #ffffff,
	color1: #fcfbf9,
	color2: #f2efe4,
	color3: #e6e3d8,
	color4: #ccc9c0,
	color5: #a6a49c,
	color6: #666560,
	color7: #434440,
	color8: #20201e,
	color9: #fd658a,
	color9_1: #f178b6,
	color10: #bd5e91,
	color11: #70538a,
	color12: #4e4a7a,
	color13: #3770c5,
	color14: #274f8c,
	color15: #1a355f,
	color16: #00173a,
);

// COLORS
$themes: (
	light: (
		colors: (
			surface: #f2efe4,
			primary: #3770c5,
			secondary: #bd5e91,
			link: #3770c5,
			error: red,
			success: green,
		),
		static: (
			g: (
				color0: map-get($pallette, color0),
				color1: map-get($pallette, color1),
				color2: map-get($pallette, color2),
				color3: map-get($pallette, color3),
				color4: map-get($pallette, color4),
				color5: map-get($pallette, color5),
				color6: map-get($pallette, color6),
				color7: map-get($pallette, color7),
				color8: map-get($pallette, color8),
			),
			r: (
				color9: map-get($pallette, color9),
				color9_1: map-get($pallette, color9_1),
				color10: map-get($pallette, color10),
				color11: map-get($pallette, color11),
				color12: map-get($pallette, color12),
			),
			b: (
				color13: map-get($pallette, color13),
				color14: map-get($pallette, color14),
				color15: map-get($pallette, color15),
				color16: map-get($pallette, color16),
			),
		),
		shadow: (
			shadow0: $shadow0,
		),
		ui: (
			footer: (
				color1: #f2efe4,
			),
		),
		factor: (
			base: 25%,
		),
		gradients: (
			gradient1: (
				start: #fd658a,
				middle: #70538a,
				end: #4e4a7a,
			),
		),
	),
	dark: (
		colors: (
			surface: #333,
			primary: #bd5e91,
			secondary: #bd5e91,
			link: #bd5e91,
			error: red,
			success: green,
		),
		shadow: (
			shadow0: $shadow0,
		),
		gradients: (
			gradient1: (
				start: #4e4a7a,
				middle: #70538a,
				end: #fd658a,
			),
		),
		factor: (
			base: 25%,
		),
	),
);

[data-theme="light"] {
	@include theme.Theme(map-get($themes, light));
}
[data-theme="dark"] {
	@include theme.Theme(map-get($themes, dark));
}

// FONTS
@mixin font($size, $weight, $lineHeight) {
	font-size: $size;
	line-height: $lineHeight;
	font-weight: $weight;
}

$FONT_FAMILY_1: "Roboto Slab", serif;
$FONT_FAMILIY_2: "Assistant", sans-serif;
$FONT_WEIGHT_REGULAR: 300;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_THIN: 100;

[data-text-direction="ltr"] {
	font-family: $FONT_FAMILY_1;
	direction: ltr;
}
[data-text-direction="rtl"] {
	font-family: $FONT_FAMILIY_2;
	direction: rtl;
}

h1 {
	@include font(2.5vmax, $FONT_WEIGHT_BOLD, 3vmax);
}
h2 {
	@include font(2.03vmax, $FONT_WEIGHT_MEDIUM, 3vmax);
}
h3 {
	@include font(1.614vmax, $FONT_WEIGHT_THIN, 2vmax);
}
h4 {
	@include font(1.302vmax, $FONT_WEIGHT_THIN, 2vmax);
}
h5 {
	@include font(1.241vmax, $FONT_WEIGHT_THIN, 1.6vmax);
}
h6 {
	@include font(1.041vmax, $FONT_WEIGHT_THIN, 1.6vmax);
}
ul li,
ol li,
table,
p {
	@include font(1vmax, $FONT_WEIGHT_REGULAR, 1.5vmax);
}
blockquote {
	@include font(1vmax, $FONT_WEIGHT_BOLD, 1.5vmax);
}
small {
	@include font(0.9vmax, $FONT_WEIGHT_REGULAR, 1.4vmax);
}

h1 {
	margin-bottom: 1.302vmax;
}
h2 {
	margin-bottom: 1.202vmax;
}
h3 {
	margin-bottom: 1.102vmax;
}
h4 {
	margin-bottom: 1.002vmax;
}
h5 {
	margin-bottom: 1vmax;
}
h6 {
	margin-bottom: 1.302vmax;
}
ul li,
ol li {
}
p {
	margin-bottom: 1vmax;
}
blockquote {
	margin: 0;
	padding: 0;
}
small {
	display: block;
}

[data-link-type],
a {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

code {
	display: block;
	margin: 1rem;
}

table {
	padding: 0.25rem 0.5rem;
	font-size: 1vmax;
	border: 1px solid;
}

// LAYOUT
.annotation {
	font-size: 0.8vmax;
	position: relative;
	top: -0.5vmax;
	&::before {
		content: "[";
		margin-right: 0.05rem;
		opacity: 0.8;
	}
	&::after {
		content: "]";
		margin-left: 0.05rem;
		opacity: 0.8;
	}
	.content::after {
		content: attr(data-prefix) attr(data-seq);
		font-weight: 500;
	}
}

// CONTENT COMPONENTS
.line {
	display: block;
}
// .moto {
// 	margin-bottom: 2rem;
// }

// .layout[data-text-direction="ltr"] .blockquote {
// 	margin-left: 1rem;
// 	border-left: 3px solid #000;
// }

// .layout[data-text-direction="rtl"] .blockquote {
// 	margin-right: 1rem;
// 	border-right: 3px solid #000;
// }

// .annotation {
// 	position: relative;
// 	top: -6px;
// 	font-size: 0.7rem;
// 	// font-weight: typography.$FONT_WEIGHT_BOLD;
// }

.popover-content {
	overflow: hidden;
	width: 414px;
	animation: fadeIn 300ms ease-out forwards;
	// border: 2px solid red;
	padding: 1rem;
	border-radius: 6px;
	// box-shadow: colors.$shadow0;
}

.popover .trigger {
	// @include typography.Link;
}

.popover.type-annotation .trigger[data-popover-visibility="true"] .annotation {
	border-radius: 3px;
}
.popover.type-glossary .trigger[data-popover-visibility="true"] .wrapper {
	border-radius: 3px;
}
.popover.type-glossary .trigger::after {
	position: relative;
	top: -6px;
	content: "\203B";
}

/* UI */
.top-bar {
	// position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 1;
	// padding: 0.5rem 2rem;
	// background-color: #ffa;
}
.top-bar .header {
	// background-color: blue;
}
.top-bar .menu {
	// background-color: green;
}
// .top-bar-items {
// 	display: flex;
// 	align-items: center;
// }

.menu {
	display: flex;
	align-items: center;
	// margin: 0 2rem;
}

.locale-selector .list .item {
	border: 2px solid red;
	display: inline-block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}
.locale-selector .list .item[data-locale="en"] {
	// @include typography.LatinText;
}
.locale-selector .list .item[data-locale="he"] {
	// @include typography.HebrewText;
}
.locale-selector .list .item[data-selected="true"] {
	cursor: default;
}

// Scrollbar
.scrollbar-root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scrollbar {
	display: flex;
	user-select: none;
	touch-action: none;
	padding: 0 12px;
	transition: background 160ms ease-out;
	cursor: pointer;
	z-index: 2;
}
.scrollbar[data-orientation="vertical"] {
	width: 8px;
}
.scrollbar-thumb {
	flex: 1;
	border-radius: 0;
	position: relative;
	/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
	/* background-color: '$background-neutral-strong' */
}
.scrollbar-thumb::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	min-width: 44px;
	min-height: 44px;
}

// loading indicator
.loading-indicator .loading-indicator-animation {
	width: 32px;
	height: 32px;
	animation: rotation 2s infinite linear;
	background-image: url(../../../public/assets/ml-logo.png);
}
.loading-indicator .rotate {
	animation: rotation 2s infinite linear;
}

// footer
.footer {
	margin-top: 2rem;
	// background-color: colors.$color2;
	// color: colors.$color8;
}
.strip {
	height: 4px;
	// background: linear-gradient(90deg, #fff 0%, #c0c0c0 50%, #000 100%);
}

// popover close
.popover-close-button {
	cursor: pointer;
	border: none;
	background: none;
	flex-grow: 0;
}

// captcha
.captcha {
	animation: fadeIn 2000ms;
	display: inline-block;
	width: 302px;
	height: 76px;
	border-radius: 6px;
}

// .root:highlight {
// 	animation: flickerAnimation 1s infinite;
// }

// light theme
// body {
// 	background-color: colors.$level1;
// }
// .scrollbar-thumb {
// 	background-color: colors.$color3;
// }
// .top-bar {
// 	background-color: colors.$level2;
// }
// .header .site-title {
// 	text-transform: uppercase;
// 	font-weight: 500;
// }
// .paragraph {
// 	color: colors.$level6;
// }
// .annotation::before,
// .annotation::after {
// 	color: colors.$level4;
// }
// .popover-content {
// 	background-color: colors.$level0;
// }
// .popover .trigger:hover {
// 	color: colors.$color10;
// }
// .popover.type-annotation .trigger[data-popover-visibility="true"] .annotation {
// 	background: colors.$color10;
// 	color: #fff;
// }
// .popover.type-glossary .trigger[data-popover-visibility="true"]::after {
// 	color: colors.$color10;
// }
// .popover.type-glossary .trigger[data-popover-visibility="true"] .wrapper {
// 	background: colors.$color10;
// 	color: #fff;
// 	border-radius: 3px;
// }
// .NavigationMenuViewport {
// 	background-color: colors.$level0;
// }

// RADIX
[data-radix-scroll-area-viewport] {
	height: 100% !important;
}
[data-radix-popper-content-wrapper] {
	z-index: 1 !important;
}
