@namespace "Global";

@st-import [boxSizing] from "../mixins.st.css";

:global(html) {
	-st-mixin: boxSizing;
	margin: 0;
	height: 100%;
}

:global(body) {
	-st-mixin: boxSizing;
	margin: 0;
	height: 100%;
}

:global(p) {
	margin: 0;
}

:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6) {
	margin: 0;
}

:global(button) {
	border: none;
	padding: 0;
	background: none;
	font-family: inherit;
}

/**
	Roboto Slab
*/
@font-face {
	font-family: 'Roboto Slab';
	src: url('../../../public/assets/fonts/roboto-slab/RobotoSlab-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Slab';
	src: url('../../../public/assets/fonts/roboto-slab/RobotoSlab-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto Slab';
	src: url('../../../public/assets/fonts/roboto-slab/RobotoSlab-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

/**
	Assistant
*/
@font-face {
	font-family: 'Assistant';
	src: url('../../../public/assets/fonts/assistant/Assistant-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Assistant';
	src: url('../../../public/assets/fonts/assistant/Assistant-SemiBold.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Assistant';
	src: url('../../../public/assets/fonts/assistant/Assistant-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
