@use "./reset";
@use "./theme";
@use "./themeVars.scss";
@use "./themes/light.scss";
@use "./themes/dark.scss";
// @use "./radix";
// @use "./animations";
// @use "./content-blocks";
// @use "./menu";

body {
	font-size: 16px;
}

$FONT_FAMILY_1: "Roboto Slab", serif;
$FONT_FAMILIY_2: "Assistant", sans-serif;

[data-text-direction="ltr"] {
	font-family: $FONT_FAMILY_1;
	direction: ltr;
}
[data-text-direction="rtl"] {
	font-family: $FONT_FAMILIY_2;
	direction: rtl;
}

[data-theme="light"] {
	@include themeVars.cssVars(light.$index);
}
[data-theme="dark"] {
	@include themeVars.cssVars(dark.$index);
}

.page {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 4vh;
	// min-height: 75vh;
	// min-width: 100%;
	// padding-top: 80px;
}

[data-link-type],
a {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

small {
	display: block;
}

code {
	display: block;
}

table {
	padding: 10.25rem 10.5rem;
	border: 1px solid;
}

.line {
	display: block;
}

.annotation {
	// font-size: 0.7vmax;
	position: relative;
	// top: -0.5vmax;
	// &::before {
	// 	// content: "[";
	// 	// margin-right: 0.05rem;
	// 	// opacity: 0.8;
	// }
	// &::after {
	// 	// content: "]";
	// 	// margin-left: 0.05rem;
	// 	// opacity: 0.8;
	// }
	.content::after {
		content: attr(data-prefix) attr(data-seq);
		// font-weight: 500;
	}
}

// CONTENT COMPONENTS
// .moto {
// 	margin-bottom: 2rem;
// }

// .layout[data-text-direction="ltr"] .blockquote {
// 	margin-left: 1rem;
// 	border-left: 3px solid #000;
// }

// .layout[data-text-direction="rtl"] .blockquote {
// 	margin-right: 1rem;
// 	border-right: 3px solid #000;
// }

// .annotation {
// 	position: relative;
// 	top: -6px;
// 	font-size: 0.7rem;
// 	// font-weight: typography.$FONT_WEIGHT_BOLD;
// }

.popover-content {
	overflow: hidden;
	width: 414px;
	animation: fadeIn 300ms ease-out forwards;
	// border: 2px solid red;
	padding: 1rem;
	border-radius: 6px;
	// box-shadow: colors.$shadow0;
}

.popover .trigger {
	// @include typography.Link;
}

.popover.type-annotation .trigger[data-popover-visibility="true"] .annotation {
	border-radius: 3px;
}
.popover.type-glossary .trigger[data-popover-visibility="true"] .wrapper {
	border-radius: 3px;
}
.popover.type-glossary .trigger::after {
	position: relative;
	top: -6px;
	content: "\203B";
}

/* UI */
.top-bar {
	// position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 1;
	// padding: 0.5rem 2rem;
	// background-color: #ffa;
}
.top-bar .header {
	// background-color: blue;
}
.top-bar .menu {
	// background-color: green;
}
// .top-bar-items {
// 	display: flex;
// 	align-items: center;
// }

.menu {
	display: flex;
	align-items: center;
	// margin: 0 2rem;
}

.locale-selector .list .item {
	border: 2px solid red;
	display: inline-block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}
.locale-selector .list .item[data-locale="en"] {
	// @include typography.LatinText;
}
.locale-selector .list .item[data-locale="he"] {
	// @include typography.HebrewText;
}
.locale-selector .list .item[data-selected="true"] {
	cursor: default;
}

// Scrollbar
.scrollbar-root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scrollbar {
	display: flex;
	user-select: none;
	touch-action: none;
	padding: 0 12px;
	transition: background 160ms ease-out;
	cursor: pointer;
	z-index: 2;
}
.scrollbar[data-orientation="vertical"] {
	width: 8px;
}
.scrollbar-thumb {
	flex: 1;
	border-radius: 0;
	position: relative;
	/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
	/* background-color: '$background-neutral-strong' */
}
.scrollbar-thumb::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	min-width: 44px;
	min-height: 44px;
}

// loading indicator
.loading-indicator .loading-indicator-animation {
	width: 32px;
	height: 32px;
	animation: rotation 2s infinite linear;
	background-image: url(../../../public/assets/ml-logo.png);
}
.loading-indicator .rotate {
	animation: rotation 2s infinite linear;
}

// footer
.footer {
	margin-top: 2rem;
	// background-color: colors.$color2;
	// color: colors.$color8;
}
.strip {
	height: 4px;
	// background: linear-gradient(90deg, #fff 0%, #c0c0c0 50%, #000 100%);
}

// popover close
.popover-close-button {
	cursor: pointer;
	border: none;
	background: none;
	flex-grow: 0;
}

// captcha
.captcha {
	animation: fadeIn 2000ms;
	display: inline-block;
	width: 302px;
	height: 76px;
	border-radius: 6px;
}

// .root:highlight {
// 	animation: flickerAnimation 1s infinite;
// }

// light theme
// body {
// 	background-color: colors.$level1;
// }
// .scrollbar-thumb {
// 	background-color: colors.$color3;
// }
// .top-bar {
// 	background-color: colors.$level2;
// }
// .header .site-title {
// 	text-transform: uppercase;
// 	font-weight: 500;
// }
// .paragraph {
// 	color: colors.$level6;
// }
// .annotation::before,
// .annotation::after {
// 	color: colors.$level4;
// }
// .popover-content {
// 	background-color: colors.$level0;
// }
// .popover .trigger:hover {
// 	color: colors.$color10;
// }
// .popover.type-annotation .trigger[data-popover-visibility="true"] .annotation {
// 	background: colors.$color10;
// 	color: #fff;
// }
// .popover.type-glossary .trigger[data-popover-visibility="true"]::after {
// 	color: colors.$color10;
// }
// .popover.type-glossary .trigger[data-popover-visibility="true"] .wrapper {
// 	background: colors.$color10;
// 	color: #fff;
// 	border-radius: 3px;
// }
// .NavigationMenuViewport {
// 	background-color: colors.$level0;
// }

// RADIX
[data-radix-scroll-area-viewport] {
	height: 100% !important;
}
[data-radix-popper-content-wrapper] {
	z-index: 1 !important;
}
