@namespace "Global";

@st-import [boxSizing] from "../mixins.st.css";

@st-import [
	heading1,
	heading2
] from "./typography.st.css";

:global(html) {
	-st-mixin: boxSizing;
	margin: 0;
	height: 100%;
}

:global(body) {
	-st-mixin: boxSizing;
	margin: 0;
	height: 100%;
}

:global(h1) {
	-st-mixin: heading1;
}
:global(h2) {
	-st-mixin: heading2;
}

/* :global(p), */
:global(blockquote),
:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6) {
	margin: 0;
}

:global(button) {
	border: none;
	padding: 0;
	background: none;
	font-family: inherit;
}

:global(ul),
:global(ol),
:global(li) {
	list-style: none;
	margin: 0;
	padding: 0;	
}
