html {
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

cite {
	font-style: normal;
}

button {
	border: none;
	padding: 0;
	background: none;
}
