// @use "./utils/colors.scss";
@use "./utils/typography.scss";

[data-theme] {
	background-color: var(--layout-background-color);

	h1 {
		font-size: var(--h1-font-size);
		font-weight: var(--h1-font-weight);
		line-height: var(--h1-line-height);
		margin-bottom: var(--h1-margin-bottom);
	}
	h2 {
		font-size: var(--h2-font-size);
		font-weight: var(--h2-font-weight);
		line-height: var(--h2-line-height);
		margin-bottom: var(--h1-margin-bottom);
	}
	h3 {
		font-size: var(--h3-font-size);
		font-weight: var(--h3-font-weight);
		line-height: var(--h3-line-height);
		margin-bottom: var(--h1-margin-bottom);
	}
	h4 {
		font-size: var(--h4-font-size);
		font-weight: var(--h4-font-weight);
		line-height: var(--h4-line-height);
		margin-bottom: var(--h1-margin-bottom);
	}
	h5 {
		font-size: var(--h5-font-size);
		font-weight: var(--h5-font-weight);
		line-height: var(--h5-line-height);
		margin-bottom: var(--h1-margin-bottom);
	}
	h6 {
		font-size: var(--h6-font-size);
		font-weight: var(--h6-font-weight);
		line-height: var(--h6-line-height);
		margin-bottom: var(--h1-margin-bottom);
	}
	ul li,
	ol li,
	table,
	p {
		font-size: var(--text-font-size);
		font-weight: var(--text-font-weight);
		line-height: var(--text-line-height);
		margin-bottom: var(--h1-margin-bottom);
	}

	blockquote {
		@include typography.get(md, sm, bold);
	}
	small {
		@include typography.get(sm, xs, regular);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	table,
	blockquote,
	p,
	pre {
		color: var(--text-color);
	}

	[data-link-type],
	a {
		color: var(--link-color);
		&:link,
		&:visited {
			color: var(--link-color);
		}
		&:hover {
			color: var(--link-color-hover);
		}
		&:active {
			color: var(--link-color-active);
		}
	}

	pre {
		// background-color: map-get($surface, dark);
	}

	// moved to footer.module.css
	footer {
		background-color: var(--color-surface-dark);
	}

	.strip {
		// @include colors.gradient(map-get($gradient, gradient1));
	}

	.annotation {
		font-size: 0.7vmax;
		top: -0.5vmax;
		&::before {
			content: "[";
			margin-right: 0.05rem;
			opacity: 0.8;
		}
		&::after {
			content: "]";
			margin-left: 0.05rem;
			opacity: 0.8;
		}
		.content::after {
			font-weight: 500;
		}
	}
}

// $colors-map: ();
// $colors: (
// 	surface: map-get(map-get($theme, colors), surface),
// 	primary: map-get(map-get($theme, colors), primary),
// 	secondary: map-get(map-get($theme, colors), secondary),
// 	link: map-get(map-get($theme, colors), link),
// 	error: map-get(map-get($theme, colors), error),
// 	success: map-get(map-get($theme, colors), success),
// );
// @each $key, $value in $colors {
// 	$map: ();
// 	$map: map-merge(
// 		$map,
// 		(
// 			$key: colors.createColorMap($value, $factor0),
// 		)
// 	);
// 	$colors-map: map-merge($colors-map, $map);
// }
