.LatinText {
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	direction: ltr;
}
.HebrewText {
	font-family: "Assistant", sans-serif;
	font-weight: 300;
	direction: rtl;
}

.h1 {
	font-size: 2.5vmax;
	line-height: 3vmax;
	font-weight: 500;
	margin-bottom: 1.302vmax;
}
.h2 {
	font-size: 2.03vmax;
	line-height: 3vmax;
	font-weight: 500;
	margin-bottom: 0;
}
.h3 {
	font-size: 1.614vmax;
	line-height: 2vmax;
	font-weight: 500;
	margin-bottom: 0;
}
/* .h4 {
	font-size: 1.302vmax;
	line-height: 31px;
	font-weight: 400;
	margin-bottom: 0;
}
.h5 {
	font-size: 1.041vmax;
	line-height: 25px;
	font-weight: 700;
	margin-bottom: 0;
}
.h6 {
	font-size: 0.833vmax;
	line-height: 20px;
	font-weight: 700;
	margin-bottom: 0;
} */

.bodyTextNormal {
	font-size: 0.875rem;
	line-height: 21px;
	font-weight: 300;
}

.SectionBox {
	border-radius: 4px;
	padding: 2rem;
}

.Topic {
	-st-mixin: h3;
}

.Title {
	-st-mixin: h1;
}

.Subtitle {
	-st-mixin: h2;
}

.Date {
	-st-mixin: h3;
	color: red;
}

.InlineCode {
	border-radius: 6px;
	border: 1px solid;
	padding: 0 0.25rem;
}
.CodeBlockStyle {
	border-radius: 6px;
	padding: 0.5rem;
	margin-bottom: 1rem;
}

.ListBullet {
	font-size: 14px;
}

.ParagraphMargin {
	margin-bottom: 1.302vmax	
}
.SubtitleMargin1 {
	margin-top: 4rem;
	margin-bottom: 1.302vmax;
}
.SubtitleMargin2 {
	margin: 2rem 0 1rem	
}


.Paragraph {
	-st-mixin: bodyTextNormal;
}

.Blockquote {
	-st-mixin: bodyTextNormal;
	font-weight: 700;
	padding: 0rem 1rem;
}

/* Top Bar Menu */
.TopMenuTriggerLabel {
	font-size: 1rem;
	line-height: 32px;
}
.TopMenuItemTitle {
	font-size: 1rem;
	line-height: 0.25rem;
	font-weight: 500;
}
.TopMenuItemSubtitle {
	font-size: 0.85rem;
	/* ItemLabelIconMargin 0.35rem, */
}
