@st-import [TextNode] from "../mixins.st.css";

:vars {
	fontSize1: 2.5vmax;
	fontSize2: 2.03vmax;
	fontSize3: 1.614vmax;
	fontSize4: 1.302vmax;
	fontSize5: 1.041vmax;
	fontSize6: 0.833vmax;
	fontSize7: 0.875rem;
	fontSize8: 0.75rem;
	lineHeight1: 3vmax;
	lineHeight2: 49px;
	lineHeight3: 39px;
	lineHeight4: 31px;
	lineHeight5: 25px;
	lineHeight6: 20px;
	lineHeight7: 21px;
	lineHeight8: 16px;
	fontWeightBold: 700;
	fontWeightMedium: 500;
	fontWeightSemiBold: 600;
	fontWeightRegular: 400;

	h1_size: value(fontSize1);
	h2_size: value(fontSize2);
	h3_size: value(fontSize3);
	h4_size: value(fontSize4);
	h5_size: value(fontSize5);
	h6_size: value(fontSize6);

	h1_lineHeight: value(lineHeight1);
	h2_lineHeight: value(lineHeight2);
	h3_lineHeight: value(lineHeight3);
	h4_lineHeight: value(lineHeight4);
	h5_lineHeight: value(lineHeight5);
	h6_lineHeight: value(lineHeight6);

	h1_weight: value(fontWeightMedium);
	h2_weight: value(fontWeightBold);
	h3_weight: value(fontWeightBold);
	h4_weight: value(fontWeightMedium);
	h5_weight: value(fontWeightMedium);
	h6_weight: value(fontWeightMedium);

	h1_color: value(HeadingColor);
	h2_color: value(HeadingColor);
	h3_color: value(HeadingColor);
	h4_color: value(HeadingColor);
	h5_color: value(HeadingColor);
	h6_color: value(HeadingColor);

	h1_margin: value(BaseMargin);
	h2_margin: value(BaseMargin);
	h3_margin: value(BaseMargin);
	h4_margin: value(BaseMargin);
	h5_margin: value(BaseMargin);
	h6_margin: value(BaseMargin);

	HeadingColor: inherit;
	BodyTextColor: inherit;
	BaseMargin: 0;
}

.LatinText {
	font-family: "Roboto Slab", serif;
	direction: ltr;
}
.HebrewText {
	font-family: "Assistant", sans-serif;
	direction: rtl;
}

.heading1 {
	-st-mixin: TextNode(
		TextSize value(h1_size),
		TextLineHeight value(h1_lineHeight),
		TextWeight value(h1_weight),
		TextColor value(h1_color)
	);
  margin-bottom: 1.302vmax;
}

.heading2 {
	-st-mixin: TextNode(
		TextSize value(h2_size),
		TextLineHeight value(h2_lineHeight),
		TextWeight value(h2_weight),
		TextColor value(h2_color)
	);
  margin-bottom: value(h2_margin);
}

.heading3 {
	-st-mixin: TextNode(
		TextSize value(h3_size),
		TextLineHeight value(h3_lineHeight),
		TextWeight value(h3_weight),
		TextColor value(h3_color)
	);
  margin-bottom: value(h3_margin);
}

.heading4 {
	-st-mixin: TextNode(
		TextSize value(h4_size),
		TextLineHeight value(h4_lineHeight),
		TextWeight value(h4_weight),
		TextColor value(h4_color)
	);
  margin-bottom: value(h4_margin);
}

.heading5 {
	-st-mixin: TextNode(
		TextSize value(h5_size),
		TextLineHeight value(h5_lineHeight),
		TextWeight value(h5_weight),
		TextColor value(h5_color)
	);
  margin-bottom: value(h5_margin);
}

.heading6 {
	-st-mixin: TextNode(
		TextSize value(h6_size),
		TextLineHeight value(h6_lineHeight)
		TextWeight value(h6_weight),
		TextColor value(h6_color)
	);
  margin-bottom: value(h6_margin);
}

.bodyTextNormal {
	-st-mixin: TextNode(
		TextSize value(fontSize7),
		TextLineHeight value(lineHeight7),
		TextWeight value(fontWeightRegular),
		TextColor value(BodyTextColor)
	);
}
