$FONT_FAMILY_1: "Roboto Slab", serif;
$FONT_FAMILIY_2: "Assistant", sans-serif;

[data-text-direction="ltr"] {
	font-family: $FONT_FAMILY_1;
	direction: ltr;
}
[data-text-direction="rtl"] {
	font-family: $FONT_FAMILIY_2;
	direction: rtl;
}

// .Topic {
// 	// -st-mixin: h3;
// }
// .Term {
// 	// -st-mixin: h5;
// 	margin-bottom: 2rem;
// }

// .Title {
// 	// -st-mixin: h1;
// }

// .SubtitleMargin1 {
// 	margin-top: 4rem;
// 	margin-bottom: 1.302vmax;
// }
// .SubtitleMargin2 {
// 	margin: 2rem 0 1rem;
// }

// .InlineCode {
// 	font-family: monospace;
// 	font-size: 0.8rem;
// 	font-weight: $FONT_WEIGHT_MEDIUM;
// 	border-radius: 6px;
// 	border: 1px solid;
// 	padding: 0 0.25rem;
// }
// .CodeBlockStyle {
// 	border-radius: 6px;
// 	padding: 0.5rem;
// 	margin-bottom: 1rem;
// }

// .ListBullet {
// 	font-size: 14px;
// }

// .Paragraph {
// 	// -st-mixin: bodyTextNormal;
// }
// @mixin ParagraphMargin {
// 	margin-bottom: 1.302vmax;
// }

// .Blockquote {
// 	// -st-mixin: bodyTextNormal;
// 	font-weight: $FONT_WEIGHT_REGULAR;
// 	padding: 0rem 1rem;
// }

// /* Top Bar Menu */
// .TopMenuTriggerLabel {
// 	font-size: 1rem;
// 	line-height: 32px;
// }

// .SiteTitle {
// 	text-transform: uppercase;
// 	letter-spacing: 1px;
// 	font-weight: $FONT_WEIGHT_MEDIUM;
// }
// .SiteSubtitle {
// 	text-transform: lowercase;
// }

// /* Footer */
// .FooterTitle {
// 	font-size: 0.85rem;
// 	font-weight: $FONT_WEIGHT_BOLD;
// 	text-transform: uppercase;
// }
// .FooterButton {
// 	font-size: 14px;
// 	line-height: 21px;
// }
// .FooterSectionTitle {
// 	font-weight: $FONT_WEIGHT_MEDIUM;
// 	font-size: 0.85rem;
// }

// .SmallCaption {
// 	font-size: 0.8rem;
// }

// .InlineAnnotation {
// 	font-size: 0.7rem;
// 	font-weight: $FONT_WEIGHT_BOLD;
// }
// .InlineAnnotation::before,
// .InlineAnnotation::after {
// 	font-weight: $FONT_WEIGHT_REGULAR;
// }

// .ButtonSubtitleSmall {
// 	font-size: 0.85rem;
// }

// .ToggleButton {
// 	font-size: 14px;
// 	line-height: 32px;
// 	font-weight: 400;
// }
// .ToggleButtonSelected {
// 	font-weight: $FONT_WEIGHT_MEDIUM;
// }

// .MenuItemLabel {
// 	font-weight: $FONT_WEIGHT_BOLD;
// 	text-transform: uppercase;
// }

// /* INPUT */
// .InputLabel {
// 	font-weight: $FONT_WEIGHT_MEDIUM;
// 	line-height: 40px;
// }

// .InputText {
// 	font-family: inherit;
// 	font-weight: $FONT_WEIGHT_REGULAR;
// }

// .ArticleByline {
// 	// -st-mixin: Paragraph;
// 	text-transform: uppercase;
// }

// .Caption {
// 	// -st-mixin: bodyTextNormal;
// 	margin-top: 0.5rem;
// 	font-style: italic;
// }
