$FONT_FAMILY_1: "Roboto Slab", serif;
$FONT_FAMILIY_2: "Assistant", sans-serif;

$index: (
	color: (
		pallette: (
			a1: #ffffff,
			a2: #fcfbf9,
			a3: #f2efe4,
			a4: #e6e3d8,
			a5: #ccc9c0,
			a6: #a6a49c,
			a7: #666560,
			a8: #434440,
			a9: #20201e,
			b1: #fd658a,
			b2: #f178b6,
			b3: #bd5e91,
			b4: #70538a,
			b5: #4e4a7a,
			c1: #3770c5,
			c2: #274f8c,
			c3: #1a355f,
			c4: #00173a,
			y1: #f44,
			z1: #4a4,
			hsl1: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsl2: hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
		),
	),
	typography: (
		fontSize: (
			5xl: 2.5vmax,
			4xl: 2.03vmax,
			3xl: 1.614vmax,
			2xl: 1.302vmax,
			xl: 1.241vmax,
			lg: 1.041vmax,
			md: 1vmax,
			sm: 0.9vmax,
			xs: 0.7vmax,
		),
		lineHeight: (
			xl: 3vmax,
			lg: 2vmax,
			md: 1.6vmax,
			sm: 1.5vmax,
			xs: 1.4vmax,
		),
		fontWeight: (
			thin: 100,
			regular: 300,
			medium: 500,
			bold: 700,
		),
		margin: (
			3xl: 1.302vmax,
			2xl: 1.202vmax,
			xl: 1.102vmax,
			lg: 1.002vmax,
			md: 1vmax,
		),
	),
);
