.root {
	overflow-x: auto;
}

.table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: var(--ml-space-md);
	font-size: var(--ml-font-size-body);
}

.table th,
.table td {
	padding: var(--ml-space-sm) 0.75rem;
	border: 1px solid var(--ml-border-color);
	text-align: start;
}

.table th {
	font-weight: var(--ml-font-weight-medium);
	background-color: var(--ml-background-color-alt);
}

.table tr:nth-child(even) {
	background-color: var(--ml-background-color-alt);
}
