@namespace "Layout";

@st-import Nav from "../../components/nav/nav.st.css";
@st-import LocaleSelector from "../../components/locale-selector/locale-selector.st.css";
@st-import MobileNav from "../../components/nav/nav-mobile.st.css";
@st-import Popover from "../../theme/popover-theme.st.css";
@st-import Globals from "../../theme/globals.st.css";
@st-import LightTheme from "../../theme/light-theme.st.css";

.root {
	-st-states: locale(enum(en, he)), theme(enum(light, dark));
	-st-mixin: Globals, Popover;
}
.root:theme(light) {
	-st-mixin: LightTheme;
}
/* .root:theme(dark) {
	-st-mixin: DarkTheme;
} */
.root:locale(en) {
	direction: ltr;
	font-family: "Nunito", sans-serif;
}
.root:locale(he) {
	direction: rtl;
	font-family: "Heebo", sans-serif;
}

.mobileNav {
	-st-extends: MobileNav;
}
.mobileNav::burgerButton {
		right: 1rem;
		border: 2px solid red;
		/* left: auto; */
}

.primaryNav {}

.nav {
	-st-extends: Nav;
}
.nav::list {
	display: inline-flex;
}

/* .siteHeader:viewState(normal) {
	top: 0;
}
.siteHeader:viewState(compact) {
  top: 0;
	background-color: rgba(225, 225, 225, 0.9)
}
.siteHeader:viewState(compact) .header {
	padding: 0;
}
.siteHeader:viewState(compact) .nav {
	position: static;
} */

/* .page {} */

@media (min-width: 320px) and (max-width: 767px) {
	.primaryNav {
		display: none;
	}
}
