@namespace "Layout";

@st-import TopBar from "../../components/top-bar/top-bar.st.css";
@st-import SiteFooter from "../../components/footer/footer.st.css";
@st-import Page from "../../components/page/page.st.css";
@st-import MobileMenu from "../../components/mobile-menu/mobile-menu.st.css";
@st-import Globals from "../../theme/common/globals.st.css";
@st-import [LatinText, HebrewText] from "../../theme/common/typography.st.css";

.root {
	-st-states: locale(enum(en, he));
	-st-mixin: Globals;
}

.root:locale(en) {
	-st-mixin: LatinText;
}

.root:locale(he) {
	-st-mixin: HebrewText;
}

.topBar {
	-st-extends: TopBar;
}

.mobileMenu {
	-st-extends: MobileMenu;
}

.page {
	-st-extends: Page;
}

.footer {
	-st-extends: SiteFooter;
}
.root:locale(en) .footer::column {
	padding-right: 2rem;
}
.root:locale(he) .footer::column {
	padding-left: 2rem;
}
