@namespace "BibliographyMixin";

@st-import Bibliography from "./bibliography.st.css";
@st-import ButtonMixin from "../ui/button/button-mixin.st.css";
@st-import [bodyTextNormal] from "../../theme/common/typography.st.css";

:vars {
	/* BibliographyBgColor: #c0c0c0;
	BibliographyBorderColor: #d0d0d0; */
	ButtonTextSize: auto;
	ButtonTextColor: inherit;
	ButtonTextColor_Hover: inherit;
}

.root {
	-st-extends: Bibliography;
	/* border-top: 1px solid value(BibliographyBorderColor); */
	/* background-color: value(BibliographyBgColor); */
}

.root::title {
	-st-mixin: bodyTextNormal;
}

.root::button {
	-st-mixin: bodyTextNormal, ButtonMixin(
		ButtonTextColor value(ButtonTextColor),
		ButtonTextColor_Hover value(ButtonTextColor_Hover),
		ButtonLabelTextSize value(ButtonTextSize),
	);
}