@namespace "Bibliography";

@st-import Button from "../ui/button/button.st.css";

.root {
	margin-top: 2rem;
}

.title {}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.button {
	-st-extends: Button;
}
