@import '../../styles/lib/component';
@import '../../styles/lib/themeVars';

$__stylesheet__: (
	name: code-inline,
);

.root {
	--background-color: #f0f0f0;
	--radius: 4px;
	--padding-right: 0.15em;
	--padding-left: 0.15em;
	--border-size: 1px;
	--border-style: solid;

	@include use-horizontal-padding;
	@include use-font-family;
	@include use-font-weight;
	@include use-text-color;
	@include use-background-color;
	@include use-border-size;
	@include use-border-style;
	@include use-border-color;
	@include use-radius;
}
