@use "./HorizontalMenuMixins.scss";
@use "../NavListItem/navListItemMixin.scss";
@import "../../../styles/baseComponentStyle";
@import "../../../styles/lib/themeVars";
@import "../../../styles/lib/states";
@import "../../../styles/lib/merge";

$__stylesheet__: (
	name: site-horizontal-menu,
);

$states: deep(
	$COMPONENT_STATES,
	(
		opened: open,
	)
);

.root {
	width: 250px;

	.list {
		@include HorizontalMenuMixins.ListMixin;
	}

	.items {
		width: 100%;
		margin: 0;
		@include useInnerGutter(name(list));
	}

	.trigger {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include HorizontalMenuMixins.MenuTriggerButtonMixin;
		@include HorizontalMenuMixins.TriggerButtonMixin(name(trigger), $states);
	}

	.content {
		@include HorizontalMenuMixins.ContentMixin(name());
	}

	.indicator {
		@include HorizontalMenuMixins.IndicatorMixin(name());
	}

	.viewport {
		@include HorizontalMenuMixins.ViewPortMixin(name());
	}

	.viewportPosition {
		@include HorizontalMenuMixins.ViewPortPosition;
	}

	@include HorizontalMenuMixins.ButtonCaret(name(trigger-caret));

	.arrow {
		@include HorizontalMenuMixins.ArrowMixin;
	}

	.listItem {
		list-style: none;
	}

	@include navListItemMixin.ListItemMixin(name(item), $states);
}
