@use '../popover/PopoverTrigger.module' as trigger;
@use '../popover/Popover.mixin' as popover;
@use './Annotation.mixin' as mixin;
@import '../../styles/lib/component';
@import '../../styles/lib/states';
@import '../../styles/lib/themeVars';

$__stylesheet__: (
	name: annotation,
);

.root {
	--font-size: 0.75em;
	--font-weight: normal;
	--line-height: 1em;
	--offset-y: -0.5em;
	--padding-left: 0.15em;
	--padding-right: 0.15em;
	--data-content: #{attr(data-prefix-content) attr(data-seq)};

	position: relative;

	@include use-font-size;
	@include use-line-height;
	@include use-offset-y;
	@include popover.trigger(trigger.name());

	.content {
		@include mixin.suffix-content-data(name(), var(--data-content));
	}

	&::before {
		@include mixin.prefix(name());
	}

	&::after {
		@include mixin.suffix(name());
	}
}
