@use 'styles/mixins/typographyMixins';
@use 'styles/mixins/popoverMixin';
@use '../popover/PopoverTrigger.module.scss' as PopoverTrigger;
@import 'styles/baseComponentStyle';
@import 'styles/lib/themeVars';
@import 'styles/lib/states';

$__stylesheet__: (
	name: annotation,
);

.root {
	--font-size: 0.75em;
	--font-weight: normal;
	--line-height: 1em;
	--offset-top: -0.5em;
	--padding-left: 0.15em;
	--padding-right: 0.15em;
	--data-content: #{attr(data-prefix-content) attr(data-seq)};

	position: relative;

	@include useFontSize();
	@include useLineHeight();
	@include useOffsetTop();

	@include popoverMixin.PopoverTrigger(PopoverTrigger.name());

	.content {
		@include typographyMixins.SuffixDataContentMixin(
			name(),
			var(--data-content)
		);
	}

	&::before {
		@include typographyMixins.PrefixMixin(name());
	}

	&::after {
		@include typographyMixins.SuffixMixin(name());
	}
}
