@import "styles";

.root {
	--vertical-menu-trigger-color__hover: #808080;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	@include useBackgroundColor(site-header);

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 0 2em;
		min-height: 48px;
	}

	.section {
		display: flex;
		align-items: center;

		gap: 1em;
	}

	// @media (min-width: 451px) and (max-width: 767px) {
	// 	.content {
	// 		display: block;
	// 		text-align: center;
	// 	}
	// 	justify-content: center;
	// }

	.siteTitle {
		@media (min-width: 1080px) and (max-width: 1280px) {
			// background-color: red;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			display: block;

			#{varName(site-title-subtitle-separator-content)}: "";
			#{varName(site-title-subtitle-separator-margin)}: 4em;
		}
		// @media (min-width: 451px) and (max-width: 767px) {
		// 	background-color: green;
		// }
		@media (min-width: 0px) and (max-width: 450px) {
			#{varName(site-title-subtitle-visibility)}: none;
		}

		@media (min-width: 451px) and (max-width: 767px) {
			#{varName(site-title-subtitle-visibility)}: none;
		}
	}
}
