@use "../vars.scss";

@function get($name) {
	@return map-get(map-get(map-get(vars.$index, color), pallette), $name);
}

@function contrast($color) {
	$result: invert($color);
	$lightness: lightness($result);
	@if ($lightness < 50) {
		$result: get(a7);
	} @else {
		$result: get(a2);
	}
	@return $result;
}

@mixin gradient($gradient) {
	$start: map-get($gradient, start);
	$middle: map-get($gradient, middle);
	$end: map-get($gradient, end);
	background: linear-gradient(90deg, $start 0%, $middle 50%, $end 100%);
}

// @function createColorMap($color, $percentage) {
// 	$map: (
// 		main: $color,
// 		light: lighten($color, $percentage),
// 		dark: darken($color, $percentage),
// 		contrast: contrast($color),
// 	);
// 	@return $map;
// }
