/*
This is an agnostic CSS var map, contains only vars in states.

We use this map to define CSS vars in different states, while the property mappings of these vars are defined
in a mixin (see: `PopoverMixin.PopoverTrigger`), which be included in the trigger element's classname.
This allowes us, for instance, to achieve different highlighting, regardless any imeplentation detail.

the fallback format allows us to fallback to component's default style (--part-prop__state),
and override it from the theme.
*/

@import "styles/lib/states";
@import "styles/lib/refs";
@import "styles/lib/merge";

$__namespace: popover-trigger;

$states: deep-merge(
	$COMPONENT_STATES,
	(
		selected: open,
		selected-hovered: (
			(open, hover),
		),
		selected-clicked: (
			(open, active),
		),
	)
);

.root {
	--background-color: none;
	--text-color: #000;
	--background-color__hover: #e0e0e0;
	--text-color__hover: inherit;
	--background-color__active: #c0c0c0;
	--text-color__active: inherit;
	--text-color__open: inherit;
	--background-color__open: #e0e0e0;
	--background-color__open__hover: #e0e0e0;
	--text-color__open__hover: inherit;
	// --background-color__open__active: #e0e0e0;
	// --text-color__open__active: inherit;

	// custom state 'open' is provided by Radix Popover
	&[data-state="open"] {
		#{varName(popover-trigger-background-color)}: compRef(
			popover-trigger,
			background-color,
			state(selected)
		);

		#{varName(popover-trigger-text-color)}: compRef(
			popover-trigger,
			text-color,
			state(selected)
		);

		&:hover {
			#{varName(popover-trigger-background-color)}: compRef(
				popover-trigger,
				background-color,
				state(selected-hovered)
			);

			#{varName(popover-trigger-text-color)}: compRef(
				popover-trigger,
				text-color,
				state(selected-hovered)
			);
		}
	}
}
