// this mixin provides a shared style for popover triggers.
// a trigger can provide its own styling (e.g. Annotation's before/after content)
// and use this mixin to define where in its implementation the shared styling should apply.
// See PopoverTrigger.module.scss - an agnostic CSS var map which defines these CSS vars
// in different states, shared by all triggers.

@import "styles/lib/refs";
@import "PopoverTrigger.module";

@mixin PopoverTrigger($comp: "popover-trigger") {
	cursor: pointer;

	background: compRef($comp, background-color);
	color: compRef($comp, text-color);
	border-radius: compRef($comp, radius);

	&:hover {
		color: compRef($comp, text-color, state(hovered));
		background: compRef($comp, background-color, state(hovered));
	}

	&:active {
		user-select: none;
	}
}
