@import "styles/lib/refs";

.root {
	--dialog-animation-type: fadeIn;
	--dialog-animation-duration: 250ms;
	--dialog-animation-easing: ease-out forwards;
	--dialog-width: 25em;
	--dialog-border-width: 1px;
	--dialog-border-style: solid;
	--dialog-border-color: #808080;
	--dialog-border-radius: 4px;
	--dialog-box-shadow: none;
	--dialog-background-color: #e0e0e0;

	border: 2px solid red;
	overflow: hidden;
	width: compRef(popover, dialog-width);
	background-color: compRef(popover, dialog-background-color);
	box-shadow: compRef(popover, dialog-box-shadow);
	border-width: compRef(popover, dialog-border-width);
	border-style: compRef(popover, dialog-border-style);
	border-color: compRef(popover, dialog-border-color);
	border-radius: compRef(popover, dialog-border-radius);

	animation: fadeIn compRef(popover, dialog-animation-duration)
		compRef(popover, dialog-animation-easing);

	.content {
		background-color: compRef(popover, dialog-background-color);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
