@namespace "Button";

.root {
	-st-states: selected(boolean);
}

.contentWrapper {
	display: flex;
}

.icon {
	/* text-align: center; */
}

.content {}

.label {}


.text {}

.img {
	position: relative;
	display: flex;
}

.children {}
