@namespace "Button";

@st-import Button from "./button.st.css";

:vars {
	ButtonTextColor: inherit;
	ButtonTextColor_Hover: inherit;
	ButtonBgColor_Hover: inherit;

	ButtonLabelLineHeight: inherit;
	ButtonRadius: inherit;
	ButtonPadding: inherit;
	/* ButtonLabelTextWeight: inherit; */
	/* ButtonLabelTextSize: inherit; */
	ButtonSubtitleTextSize: inherit;
	ButtonChildrenTextColor: inherit;

	ButtonBorderTopSize: 0;
	ButtonBorderTopColor: transparent;
	ButtonBorderBottomSize: 0;
	ButtonBorderBottomColor: transparent;

	ButtonLabelIconMargin: 0;
}

.root {
	-st-extends: Button;
	border-top: value(ButtonBorderTopSize) solid value(ButtonBorderTopColor);
	border-bottom: value(ButtonBorderBottomSize) solid value(ButtonBorderBottomColor);
	padding: value(ButtonPadding);
	color: value(ButtonTextColor);
}

.root:hover {
	background-color: value(ButtonBgColor_Hover);
	border-radius: value(ButtonRadius);
}

.root:hover,
.root:hover::label {
	color: value(ButtonTextColor_Hover);
}

.root::label {
	color: value(ButtonTextColor);
	line-height: value(ButtonLabelLineHeight);
}

.root::children {
	font-size: value(ButtonSubtitleTextSize);
	color: value(ButtonChildrenTextColor);
}

.root::content:addIconMargin {
	margin: 0 value(ButtonLabelIconMargin);
}
