@use "../../../scss/utils/components.scss";
@use "../ComponentMixin.scss";

@mixin Default {
	@include ComponentMixin.ComponentSize;

	--button-mixin-background-color: magenta;

	background-color: magenta; //var(--button-background-color);
	border-radius: var(--button-border-radius);
	color: var(--button-text-color);

	&:hover {
		background-color: var(--button-background-color__hover);
	}

	&:active {
		background-color: var(--button-background-color__active);
	}
}
