@namespace "Button";

@st-import Button from "./button.st.css";

:vars {
	ButtonRadius: inherit;
	ButtonPadding: inherit;
	ButtonTextColor: inherit;
	ButtonTextColor_Hover: inherit;
	ButtonBgColor_Hover: inherit;
	ButtonLabelTextColor: inherit;
	ButtonLabelTextColor_Hover: inherit;
	ButtonLabelTextWeight: inherit;
	ButtonLabelLineHeight: inherit;
	ButtonLabelTextSize: inherit;
	ButtonSubtitleLineHeight: inherit;
	ButtonSubtitleTextSize: inherit;
	ButtonChildrenTextColor: inherit;
}

.root {
	-st-extends: Button;
	color: value(ButtonTextColor);
	text-decoration: none;
}

.root:hover {
	color: value(ButtonTextColor_Hover);
}

.root::contentWrapper {
	border-radius: value(ButtonRadius);
	background-color: value(ButtonBgColor_Hover);
}

.root::content {
	padding: value(ButtonPadding);
}

.root::label {
	font-weight: value(ButtonLabelTextWeight);
	line-height: value(ButtonLabelLineHeight);
	font-size: value(ButtonLabelTextSize);
}

.root::children {
	line-height: value(ButtonSubtitleLineHeight);
	font-size: value(ButtonSubtitleTextSize);
	color: value(ButtonChildrenTextColor);
}
