@namespace "Button";

.root {
	-st-states: selected(boolean);
}

.content {
	display: inline-flex;
}

.label {
	flex: 1;
}

.icon {
	flex: 1;
	overflow: hidden;
	/* width: 100%; */
	text-align: center;
}

.text {}

.img {
	position: relative;
	display: inline-block;
}
