@use '../button/Button.variants' as buttons;
@import '../component';

$__stylesheet__: (
	name: locale-select,
);

.root {
	--gap: 4px;

	@include use-gap;

	display: flex;

	.item {
		// background-color: transparent;
		// border: none;
		// padding: 0;

		// @include buttons.topbar-item-toggle;

		// @include buttonMixin.toggle-button-mixin;
		// .button {
		// }
	}
}
