@use 'styles/mixins/buttonMixin.scss';
@import 'styles/lib/component';
@import 'styles/lib/states';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: locale-select,
);

.root {
	--gap: 4px;

	display: flex;

	@include use-gap;

	.item {
		background-color: transparent;
		border: none;
		padding: 0;

		.button {
			@include buttonMixin.toggle-button-mixin;
		}
	}
}
