@use './NavItem.meta' as meta;
@use '../../../styles/lib/refs' as refs;
@import '../../../styles/lib/hooks';
@import '../../../styles/lib/states';

// used by module to hook texts into this properties
@mixin text-hooks-mixin($var) {
	@include use-font-weight($var);
	@include use-text-transform($var);
	@include use-text-color($var);
	@include use-background-color($var);
}

// private mixin, used by this mixin
@mixin -text-refs-mixin(
	$var,
	$text-transform: refs.ref(#{meta.name(#{$var}-text-transform)}),
	$font-weight: 100,
	$text-color: blue,
	$text-color-hover: green
) {
	// hooks helper sass variables
	$textTransformVar: refs.use(#{meta.name(#{$var}-text-transform)});
	$fontWeightVar: refs.use(#{meta.name(#{$var}-font-weight)});
	$textColorVar: refs.use(#{meta.name(#{$var}-text-color)});
	$textColorHoverVar: refs.use(#{meta.name(#{$var}-text-color, state(hovered))});

	#{$textTransformVar}: $text-transform;
	#{$fontWeightVar}: $font-weight;
	#{$textColorVar}: $text-color;
	#{$textColorHoverVar}: $text-color-hover;
}

@mixin item($radius: 0, $bg-color-hover: red) {
	$borderRadius: refs.use(meta.name(radius));
	$bgColorHover: refs.use(meta.name(background-color, state(hovered)));

	#{$borderRadius}: $radius;
	#{$bgColorHover}: $bg-color-hover;
}

// public mixin api
@mixin title(
	$text-transform: capitalize,
	$font-weight: 300,
	$text-color: red,
	$text-color-hover: green
) {
	@include -text-refs-mixin(
		title,
		$text-transform: $text-transform,
		$font-weight: $font-weight,
		$text-color: $text-color,
		$text-color-hover: $text-color-hover
	);
}

@mixin subtitle(
	$text-transform,
	$font-weight: 300,
	$text-color: blue,
	$text-color-hover: green
) {
	@include -text-refs-mixin(
		subtitle,
		$text-transform: $text-transform,
		$font-weight: $font-weight,
		$text-color: $text-color,
		$text-color-hover: $text-color-hover
	);
}
