@use './NavItem.mixin' as mixins;
@import './NavItem.meta';

.root {
	text-decoration: none;
	display: block;

	@include use-background-color;
	@include use-radius;

	.content {
		display: flex;
		flex-direction: row;

		@include use-gap(name(item));
		@include use-padding-top(name(item));
		@include use-padding-bottom(name(item));
		@include use-padding-right(name(item));
		@include use-padding-left(name(item));

		.icon {
			position: relative;
			top: 0.1em; // todo: use offset

			@include use-text-color(name(icon));
		}

		.meta {
			display: flex;
			flex-direction: column;

			@include use-gap(name(content));

			.title {
				@include mixins.text-hooks-mixin(name(title));
			}

			.author,
			.description {
				@include mixins.text-hooks-mixin(name(subtitle));
			}
		}
	}

	&:hover {
		@include use-background-color(name(), state(hovered));
		.content {
			.title {
				@include use-text-color(name(title), state(hovered));
			}

			.author,
			.description {
				@include use-text-color(name(subtitle), state(hovered));
			}

			.icon {
				@include use-text-color(name(icon), state(hovered));
			}
		}
	}
}
