@import '../../../styles/lib/component';
@import '../../../styles/lib/themeVars';
@import '../../../styles/lib/states';

$__stylesheet__: (
	name: nav-list-item,
);

.root {
	.item {
		display: flex;
		text-decoration: none;

		@include use-radius(site-nav-item);
		@include use-inner-gutter(site-nav-item);
		@include use-text-color(site-nav-item);
		@include use-background-color(site-nav-item);
		@include use-border-bottom-size(site-nav-item);
		@include use-border-bottom-style(site-nav-item);
		@include use-border-bottom-color(site-nav-item);

		&:hover {
			@include use-text-color(site-nav-item, state(hovered));
			@include use-background-color(site-nav-item, state(hovered));
		}
	}

	.content {
		display: flex;
		align-items: flex-start;
		width: 100%;

		@include use-gap(site-nav-item-content);
		@include use-inner-gutter(site-nav-item-content);
	}
}
