@import './horizontalNavAnimationMixin.scss';
@import '../../styles/mixins/buttonMixin.scss';

@mixin ButtonCaret($var) {
	.caretDown {
		@include useTextColor($var);
		transition: transform 250ms ease;
	}
	[data-state='open'] > .caretDown {
		transform: rotate(-180deg);
	}
}

@mixin IndicatorMixin($var) {
	--indicator-height: 10px;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: var(--indicator-height);
	// todo: fix calc
	top: calc(var(--bar-height) - var(--indicator-height) - 8px);
	overflow: hidden;
	z-index: 2;
	transition: width, transform 250ms ease;

	@include indicatorAnimations($var);
}

@mixin ViewPortMixin($var) {
	width: 100%;
	position: relative;
	transform-origin: top center;
	overflow: hidden;
	// margin-top: 0;
	background-color: white;
	border-radius: 6px;
	box-shadow: globalRef(shadow-md);
	height: var(--radix-navigation-menu-viewport-height);
	transition: width, height, 300ms ease;

	@include viewportAnimations($var);
}

@mixin ViewPortPosition {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 100%;
	left: 0;
	perspective: 2000px;
}

@mixin ArrowMixin {
	position: relative;
	top: 70%;
	background-color: white;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-top-left-radius: 2px;
}

@mixin ContentMixin($var) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	margin: 0;

	@include contentAnimations($var);
}

@mixin ListMixin {
	@include useDirection(locale);

	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin TriggerButtonMixin($module, $states) {
	@include MenuTriggerButtonMixin;

	// this `hover` state aims to fix the slight delay in applying
	// background-color to the menu trigger which his based on its
	// `open` state
	&[data-state='open'],
	&:hover {
		@include useBackgroundColor($module, state(opened, $states));
		.caretDown {
			@include useTextColor(#{$module}-caret, state(hovered, $states));
		}
	}
}
