@import "styles";

.root {
	--border-top-size: 1px;
	--border-top-style: solid;
	--border-top-color: #c0c0c0;
	--border-bottom-size: 1px;
	--border-bottom-style: solid;
	--border-bottom-color: #c0c0c0;
	--border-right-size: 1px;
	--border-right-style: solid;
	--border-right-color: #c0c0c0;
	--border-left-size: 1px;
	--border-left-style: solid;
	--border-left-color: #c0c0c0;

	--radius: 4px;

	margin: 0 auto;
	border-spacing: 0;

	// &[data-type="bit-layout"] {
	// 	border: 1px solid blue;
	// 	padding: 1em;
	// }

	@include useRadius(content-table);

	@include useBorderTopSize(content-table);
	@include useBorderTopStyle(content-table);
	@include useBorderTopColor(content-table);

	@include useBorderLeftSize(content-table);
	@include useBorderLeftStyle(content-table);
	@include useBorderLeftColor(content-table);

	td,
	th {
		padding: 1rem 2rem;

		@include useBorderRightSize(content-table);
		@include useBorderRightStyle(content-table);
		@include useBorderRightColor(content-table);

		@include useBorderBottomSize(content-table);
		@include useBorderBottomStyle(content-table);
		@include useBorderBottomColor(content-table);
	}
}
