@import "styles/lib/themeVars";

@mixin editToRightKeyframes {
	@keyframes exitToRight {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(200px);
		}
	}
}

@mixin useExitToRight($comp: "", $anim: exitToRight) {
	@include useExitToRight;
	@include useAnimation($anim, #{$comp}-#{$anim});
}
