@import "styles/lib/themeVars";

@mixin fadeOutKeyframes {
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0.75;
		}
		100% {
			opacity: 1;
		}
	}
}

@mixin useFadeIn($comp: "", $anim: fadeIn) {
	@include fadeOutKeyframes();
	@include useAnimation($anim, #{$comp}-#{$anim});
}
