@import "styles/lib/themeVars";

@mixin scaleOutKeyframes {
	@keyframes scaleOut {
		from {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
		to {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.95);
		}
	}
}

@mixin useScaleOut($comp: "", $anim: scaleOut) {
	@include scaleOutKeyframes;
	@include useAnimation($anim, #{$comp}-#{$anim});
}
