@namespace "BaseTheme";

:vars {
    color0: #fff;
    color1: #f0f0f0;
    color2: #fa90fa;
    color3: #4f8;
    color4: #89f;
    color5: #239;
}

:vars {
    /* Layout */
    LayoutBgColor: value(color1);
    /* Header */
    HeaderBgColor: value(color2);
    /* Footer */
    FooterBgColor: value(color3);
    /* Nav */
    NavBgColor: value(color4);
    /* Page */
    PageBgColor: value(color5);
}

:vars {
    siteTitleFontSize: 4rem;
}
