@namespace "LightTheme";

@st-import Header from "../components/header/header.st.css";
@st-import Footer from "../components/footer/footer.st.css";
@st-import Menu from "../components/nav/menu.st.css";
@st-import MobileNav from "../components/nav/nav-mobile.st.css";
@st-import Page from "../components/page/page.st.css";
@st-import LocaleSelector from "../components/locale-selector/locale-selector.st.css";

@st-import Popover from "../components/popover/popover.st.css";
@st-import PopoverMixin from "./popover-mixin.st.css";

@st-import ContentComponent from "../components/content/content-component.st.css";
@st-import ContentComponentMixin from "./content-component-mixin.st.css";

@st-import [boxSizing, preventSelection, verticalAlignSuper] from "./mixins.st.css";
@st-import [heading1] from "./typography.st.css";

@st-import [
	PageWidth,
	accent1,
	primary2
] from './common.st.css';

:vars {
	linkColor: green;
	linkHoverColor: red;
}

@st-scope .root {	
	Page {
		width: value(PageWidth);
	}

	ContentComponent {
		-st-mixin: ContentComponentMixin;
	}
	Popover {
		-st-mixin: PopoverMixin(
				linkColor value(accent1),
				linkHoverColor value(primary2)
		);
	}

	/* MOBILE NAV */
	MobileNav::nav {
		background-color: transparent;
		text-align: left;
	}
	MobileNav::nav::button {
		color: #fff;
	}
	MobileNav::nav::button:selected {
		background-color: #c00;
	}
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
	:global(.mobileNavTrigger) {
		display: block;
	}
	:global(img) {
		width: 100%;
	}
	
	@st-scope .root {	
		Page {
			width: 100%;
			overflow: hidden;
			margin: 0 auto;
		}
		Page::gutter {
			padding: 0 3rem;
		}
	}
}

/*
---------------------------------
DEBUG
---------------------------------
*/
/* Debug Media Queries */
/* @st-import Responsive from "./responsive-mixin.st.css"; */
/* .root {
	-st-mixin: Responsive;
} */

/*
	Debug Line Index
*/
/* @st-scope .root {	
	ContentComponent:type(paragraph):hover::before {
		color: red;
	}
	ContentComponent:type(paragraph)::before {
		content: attr(data-line-index);
		color: #c0c0c0;
		width: 20px;
		padding-right: 20px;
		text-align: right;
		display: inline-block;
	}
} */