@namespace "LightTheme";

@st-import Header from "../components/header/header.st.css";
@st-import HeaderTheme from "../components/header/header-theme.st.css";

@st-import Footer from "../components/footer/footer.st.css";
@st-import FooterTheme from "../components/footer/footer-theme.st.css";

@st-import Nav from "../components/nav/nav.st.css";
@st-import MobileNav from "../components/nav/nav-mobile.st.css";
@st-import NavTheme from "../components/nav/nav-theme.st.css";

@st-import Page from "../components/page/page.st.css";
@st-import PageTheme from "../components/page/page-theme.st.css";

@st-import LocaleSelector from "../components/locale-selector/locale-selector.st.css";
/* @st-import LocaleSelectorTheme from "../components/locale-selector/locale-selector-theme.st.css"; */

@st-import ContentComponent from "../components/content/content-component.st.css";

/* @st-import PopoverTrigger from "../components/popover/popover-trigger.st.css";
@st-import PopoverContent from "../components/popover/popover-content.st.css";
@st-import PopoverCloseButton from "../components/popover/popover-close-button.st.css";
@st-import PopoverTriggerTheme from "../components/popover/popover-trigger-theme.st.css";
@st-import PopoverContentTheme from "../components/popover/popover-content-theme.st.css";
@st-import PopoverCloseButtonTheme from "../components/popover/popover-close-button-theme.st.css";
@st-import Note from "../components/note/note.st.css";
@st-import NoteTheme from "../components/note/note-theme.st.css"; */

/* Debug Media Queries */
/* @st-import Responsive from "./responsive-mixin.st.css"; */
/* .root {
	-st-mixin: Responsive;
} */

@st-import [PageWidth] from "./common.st.css";
@st-import [heading1] from "./typography.st.css";

@st-import [
	HeaderBgColor,
	HeaderTitleColor,
	HeaderSubtitleColor,
	PrimaryNavBgColor
] from "./light-theme-commons.st.css";

/* Default */
@st-scope .root {	
	Page {
		width: value(PageWidth);
	}

	ContentComponent:type(section),
	ContentComponent:type(blockquote) {
		margin-bottom: 2rem;
	}

	ContentComponent:type(paragraph),
	ContentComponent:type(blockquote) {
		line-height: 1.75rem;
	}

	Header {
		/* -st-mixin: HeaderTheme( */
			/* HeaderBackgroundColor value(HeaderBgColor), */
			/* HeaderSiteTitleColor value(HeaderTitleColor), */
			/* HeaderSiteSubtitleColor value(HeaderSubtitleColor), */
			/* HeaderSiteTitleFontFamily inherit, */
			/* HeaderSiteTitleFontSize 4rem, */
			/* HeaderSiteTitleFontWeight 300, */
			/* HeaderPadding 4rem 0, */
		/* ); */
	}

	Footer {
		/* -st-mixin: FooterTheme(
			FooterPadding 4rem 0
		); */
	}

	Nav {
		/* -st-mixin: NavTheme(
			NavBackgroundColor value(PrimaryNavBgColor)
		); */
	}

	MobileNav::nav {
		background-color: transparent;
		text-align: left;
	}
	MobileNav::nav::button {
		color: #fff;
	}
	MobileNav::nav::button:selected {
		background-color: #c00;
	}

	/* PopoverTrigger {
    -st-mixin: PopoverTriggerTheme(
      triggerColor blue,
      triggerColorOpen green,
      triggerColorHover orange
    )
  }
  PopoverContent {
		border: 2px solid blue;
    -st-mixin: PopoverContentTheme(
      PopoverContentBorder none,
      PopoverContentRadius 6px,
      PopoverContentBgColor #fff,
      PopoverContentMaxWidth 350px,
      PopoverContentMaxHeight 300px,
      PopoverContentShadow 0 0 10px rgba(0, 0, 0, 0.5)
    )
  }
  PopoverCloseButton {
		border: 2px solid green;
    -st-mixin: PopoverCloseButtonTheme(
      PopoverCloseMarginTop 1rem,
      PopoverCloseBorderRadius 50%,
      PopoverCloseFontSize 12px,
      PopoverCloseSize 30px,
      PopoverCloseBgHover red,
      PopoverClosePosRight 1rem,
      PopoverClosePosLeft 1rem,
      PopoverCloseIconColor blue,
      PopoverCloseIconColorHover #fff
    );
  }
  Note {
		-st-mixin: NoteTheme;
	} */

}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
	:global(.mobileNavTrigger) {
		display: block;
	}
	:global(img) {
		width: 100%;
	}
	
	@st-scope .root {	
		Page {
			width: 100%;
			overflow: hidden;
			margin: 0 auto;
		}
		Page::gutter {
			padding: 0 3rem;
		}

		Header::siteTitle {
			font-size: 14px
		}
		Header::siteSubtitle {
			font-size: 14px
		}
		Header {
			/* -st-mixin: HeaderTheme(
				HeaderBackgroundColor value(HeaderBgColor),
				HeaderSiteTitleColor value(HeaderTitleColor),
				HeaderSiteSubtitleColor value(HeaderSubtitleColor),
				HeaderSiteTitleFontFamily inherit,
				HeaderSiteTitleFontSize 2rem,
				HeaderSiteTitleFontWeight 300,
				HeaderPadding 2rem 0,
			); */
		}

		Footer {
			/* -st-mixin: FooterTheme(
				FooterPadding 4rem 0
			); */
		}
	}
}
