@namespace "LightThemeCommons";

@st-import [
	level1,
	level2,
	level3,
	level4,
	level5,
	level6,
	level7,
	primary1,
	primary2,
	primary3,
	primary4,
	accent1,
	accent2,
	accent3,
	accent4
] from "./common.st.css";

:vars {
	HeaderBgColor: value(level7);
	HeaderTitleColor: value(accent1);
	HeaderSubtitleColor: value(accent2);
	PrimaryNavBgColor: value(primary2);
}
