@namespace "Mixins";

@st-import Button from "../components/ui/button/button.st.css";

.NavButton {
	-st-extends: Button;
	cursor: pointer;
	padding: 10px;
	text-decoration: none;
}

.NavButton:selected {
	color: red;
}

.NavButton:hover {
	background-color: #808080;
	color: #fff;
}
