@namespace "Mixins";

.boxSizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* https://css-tricks.com/almanac/properties/u/user-select/ */
.preventSelection {
	-webkit-user-select: none;	/* Chrome all / Safari all */
	-moz-user-select: none;		/* Firefox all */
	-ms-user-select: none;		/* IE 10+ */
user-select: none;				/* Likely future */
}

.verticalAlignSuper {
	position: relative;
	top: -6px;
	font-size: 12px;
}
