@namespace "Mixins";

:import {
	-st-from: "../components/ui/button/button.st.css";
	-st-default: Button;
}

.NavButton {
	-st-extends: Button;
	cursor: pointer;
}

.NavButton:selected {
	color: red;
}

.NavButton:hover {
	background-color: #808080;
	color: #fff;
}
