@namespace "PopoverTheme";



:import {
  -st-from: "../components/content/popover-item/popover-item.st.css";
  -st-default: PopoverItem;
}

:vars {
  TestBg: red;
}

.root {
  -st-extends: PopoverItem;
  background: value(TestBg);
}
