@namespace "PopoverTheme";

@st-import PopoverTrigger from "../components/popover/popover-trigger.st.css";
@st-import PopoverContent from "../components/popover/popover-content.st.css";
@st-import PopoverCloseButton from "../components/popover/popover-close-button.st.css";
@st-import PopoverTriggerTheme from "../components/popover/popover-trigger-theme.st.css";
@st-import PopoverContentTheme from "../components/popover/popover-content-theme.st.css";
@st-import PopoverCloseButtonTheme from "../components/popover/popover-close-button-theme.st.css";
@st-import Note from "../components/note/note.st.css";
@st-import NoteTheme from "../components/note/note-theme.st.css";

@st-scope .root {
  PopoverTrigger {
    -st-mixin: PopoverTriggerTheme(
      triggerColor blue,
      triggerColorOpen green,
      triggerColorHover orange
    )
  }
  PopoverContent {
    -st-mixin: PopoverContentTheme(
      PopoverContentBorder none,
      PopoverContentRadius 6px,
      PopoverContentBgColor #fff,
      PopoverContentMaxWidth 350px,
      PopoverContentMaxHeight 300px,
      PopoverContentShadow 0 0 10px rgba(0, 0, 0, 0.5)
    )
  }
  PopoverCloseButton {
    -st-mixin: PopoverCloseButtonTheme(
      PopoverCloseMarginTop 1rem,
      PopoverCloseBorderRadius 50%,
      PopoverCloseFontSize 12px,
      PopoverCloseSize 30px,
      PopoverCloseBgHover red,
      PopoverClosePosRight 1rem,
      PopoverClosePosLeft 1rem,
      PopoverCloseIconColor blue,
      PopoverCloseIconColorHover #fff
    );
  }
  Note {
		-st-mixin: NoteTheme;
	}
}
