:vars {
	fontSize1: 48px;
	fontSize2: 39px;
	fontSize3: 31px;
	fontSize4: 25px;
	fontSize5: 20px;
	fontSize6: 16px;
	fontSize7: 12px;
}

:vars {
	fontWeightBold: 700;
	fontWeightMedium: 500;
	fontWeightSemiBold: 600;
	fontWeightRegular: 400;
}

:vars {
	lineHeight1: 60px;
	lineHeight2: 49px;
	lineHeight3: 39px;
	lineHeight4: 31px;
	lineHeight5: 25px;
	lineHeight6: 20px;
	lineHeight7: 24px;
	lineHeight8: 16px;
}

.LatinText {
	font-family: "Roboto Slab", serif;
	direction: ltr;
}
.HebrewText {
	font-family: "Assistant", sans-serif;
	direction: rtl;
}

.heading1 {
	font-size: value(fontSize1);
	font-weight: value(fontWeightMedium);
	/* line-height: value(lineHeight1); */
}
.heading2 {
	font-size: value(fontSize2);
	font-weight: value(fontWeightBold);
	/* line-height: value(lineHeight2); */
}
.heading3 {
	font-size: value(fontSize3);
	font-weight: value(fontWeightBold);
	/* line-height: value(lineHeight3); */
}
.heading4 {
	font-size: value(fontSize4);
	font-weight: value(fontWeightMedium);
	/* line-height: value(lineHeight4); */
}
.heading5 {
	font-size: value(fontSize5);
	font-weight: value(fontWeightMedium);
	/* line-height: value(lineHeight5); */
}
.heading6 {
	font-size: value(fontSize6);
	font-weight: value(fontWeightMedium);
	/* line-height: value(lineHeight6); */
}
.bodyTextNormal {
	font-size: value(fontSize6);
	font-weight: value(fontWeightRegular);
	/* line-height: value(lineHeight7); */
}
