@namespace "PageBase";

@st-import Button from "../components/ui/button/button.st.css";
@st-import ContentComponent from "../components/content/content-component/content-component.st.css";
@st-import Link from "../components/content/content-blocks/link/link.st.css";
@st-import CodeBlock from "../components/content/content-blocks/code-block/code-block.st.css";
@st-import Table from "../components/content/content-blocks/table/table.st.css";
@st-import Figure from "../components/content/content-blocks/figure/figure.st.css";
@st-import [
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	Topic,
	Paragraph,
	Blockquote,
	InlineCode,
	CodeBlockStyle,
	ParagraphMargin,
	SubtitleMargin1,
	SubtitleMargin2,
	ListBullet,
	ArticleByline,
	Caption,
] from "../theme/common/typography.st.css";
@st-import [SectionBox] from "../theme/common/mixins.st.css";

:vars {
	BlockQuoteBorder: 3px solid;
}

.root {
	-st-states: textDirection(enum(ltr, rtl));
}

.contentComponent {
	-st-extends: ContentComponent;
}

.topic {
	-st-mixin: Topic;
}

.title,
.root::contentComponent:type(heading_1) {
	-st-mixin: h1;
}

.subtitle,
.root::contentComponent:type(heading_2) {
	-st-mixin: h2;
}
.root::contentComponent:type(heading_2) {
	-st-mixin: SubtitleMargin1;
}

.sectionTitle,
.root::contentComponent:type(heading_3) {
	-st-mixin: h3, SubtitleMargin2;
}

.root::contentComponent:type(heading_4) {
	-st-mixin: h4, SubtitleMargin2;
}

.root::contentComponent:type(heading_5) {
	-st-mixin: h5, SubtitleMargin2;
}

.root::contentComponent:type(heading_6) {
	-st-mixin: h6, SubtitleMargin2;
}

.paragraph,
.root::contentComponent:type(paragraph) {
	-st-mixin: Paragraph, ParagraphMargin;
}

.blockquote {}
.root::contentComponent:type(blockquote) {
	-st-mixin: Blockquote;
	border-left: value(BlockQuoteBorder);
	margin-left: 1rem;
}
.root::contentComponent:type(blockquote) :type(cite) {
	display: block;
}

.root::contentComponent:type(figure) :type(figcaption),
.root::contentComponent:type(blockquote) :type(cite) {
	-st-mixin: Caption;
}
.root::contentComponent:type(figure) :type(figcaption) {
	text-align: center;
	padding: 1rem 0;
}

.root:textDirection(rtl)::contentComponent:type(blockquote) {
	margin-left: auto;
	border-left: none;
	margin-right: 1rem;
	border-right: value(BlockQuoteBorder);
}

/* .root::contentComponent:type(table) .root::contentComponent:type(th), */
.root::contentComponent:type(figure) Table th,
.root::contentComponent:type(figure) Table td {
	border: 1px solid;
}

.root::contentComponent:listType(ul),
.root::contentComponent:listType(ol) {
	-st-mixin: ListBullet;
}

.root::contentComponent:type(list-item)  {
	-st-mixin: Paragraph, ParagraphMargin;
}

.code {}
.root code,
.root::contentComponent:type(code) {
	-st-mixin: InlineCode;
}
.root CodeBlock::pre {
	-st-mixin: CodeBlockStyle;
	padding: 1rem;
}
.root CodeBlock::code {
	background: none;
	border: none;
	background: none;
	padding: 0;
	border-radius: 0;
}

.root::contentComponent:type(figure) {
	border: 1px solid;
	padding: 0;
	box-sizing: border-box;
	margin: 2rem 0;
}
.root::contentComponent:type(figure) img {
	display: block;
}

/* .root::contentComponent:type(figure):skin(skin1) {
	border: none;
} */
.root::contentComponent:type(figure)[data-type="codeblock"] {
	border: none;
	display: block;
}

.link {}

.section {
	-st-mixin: SectionBox;
	-st-states: seperator(boolean);
	margin-bottom: 2rem;
}

.moto {
	-st-mixin: Paragraph;
	margin-bottom: 2rem;
	font-style: italic;
}

.header {
	margin-bottom: 2rem;
}

.meta {
	-st-states: hasContent(boolean);
	margin: 1.302vmax 0 0;
}

.meta:hasContent {
	padding: 0.5rem 0;
	border-top: 1px solid;
	display: flex;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
}

.byline {
	-st-mixin: ArticleByline;
}
.date {
	-st-mixin: Paragraph;
}

.noContent {}

.error {}

.form {}

.credits {}

.smallButton {
	-st-mixin: Paragraph, ParagraphMargin;
}

.button {
	-st-extends: Button;	
}
