@namespace "PageBase";

@st-import ContentComponent from "../components/content/content-component.st.css";

.root {
	-st-states: textDirection(enum(ltr, rtl));
}

.contentComponent {
	-st-extends: ContentComponent;
}

.topic {}
.title {}
.subtitle {}
.paragraph {}
.blockquote {}
.link {}
.code {}

.section {
	-st-states: seperator(boolean);
	margin-bottom: 2rem;
}

.moto {}

/**
	Dynamic Page
*/
.header {
	margin-bottom: 2rem;
}
.abstract {}
.meta {
	-st-states: hasContent(boolean);
}
.meta:hasContent {
	padding: 0.5rem 0;
	border-top: 1px solid;
	display: flex;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
}
.byline {}
.date {}



/**
	Common Styles

.heading1 {
	color: red;
}
.heading2 {}
.heading3 {}
.heading4 {}
.heading5 {}
.heading6 {}

*/

/* .section:seperator {
	border-top: 2px solid black;
	margin: 2rem 0;
	padding-top: 2rem;
} */



.noContent {}
.error {}

.info {
	/* margin: 2rem 0; */
	/* background: #f0f0f0; */
	/* border: 1px solid #c0c0c0; */
	/* padding: 2rem 2rem 0; */
	/* border-radius: 4px; */
}

/* .scrambleEmailAddress {
	unicode-bidi: bidi-override;
	direction: rtl;
} */

.form {}
