@namespace "PageBaseMixin";

@st-import PageBase from "./page-base.st.css";
@st-import ButtonMixin from "../components/ui/button/button-mixin.st.css";
@st-import Link from "../components/content/content-blocks/link/link.st.css";
@st-import CodeBlock from "../components/content/content-blocks/code-block/code-block.st.css";

:vars {
	LinkColor: #808080;
	LinkColor_Hover: #000;
	TopicTextColor: #000;
	Heading1TextColor: #000;
	Heading2TextColor: value(Heading1TextColor);
	Heading3TextColor: value(Heading2TextColor);
	Heading4TextColor: value(Heading3TextColor);
	Heading5TextColor: value(Heading4TextColor);
	Heading6TextColor: value(Heading5TextColor);
	ParagraphTextColor: #000;
	InlineCodeBgColor: #f0f0f0;
	InlineCodeBorderColor: #c0c0c0;
	SectionBgColor: #fff;
	SectionBoxShadowColor: rgba(0, 0, 0, 0.5);
	ContentHeaderMetaBorderColor: #c0c0c0;
	ImageBorderColor: #000;
	CodeSyntaxColor: #000;
	ArticleMetaTextColor: #000;
}

.root {
	-st-extends: PageBase;
}

.root::section {
	box-shadow: value(SectionBoxShadowColor);
	background: value(SectionBgColor);
}
@media (min-width: 320px) and (max-width: 767px) {
	.root::section {
		padding: 0;
		box-shadow: none;
		background: none;
	}
}

.root::topic {
	color: value(TopicTextColor);
}

.root::title,
.root::contentComponent:type(heading_1) {
	color: value(Heading1TextColor);
}
.root::subtitle,
.root::contentComponent:type(heading_2) {
	color: value(Heading2TextColor);
}
.root::sectionTitle,
.root::contentComponent:type(heading_3) {
	color: value(Heading3TextColor);
}
.root::contentComponent:type(heading_4) {
	color: value(Heading4TextColor);
}
.root::contentComponent:type(heading_5) {
	color: value(Heading5TextColor);
}
.root::contentComponent:type(heading_6) {
	color: value(Heading6TextColor);
}

.root::moto,
.root::paragraph,
.root::contentComponent:type(paragraph),
.root::contentComponent:type(blockquote),
.root::contentComponent:listType(ul),
.root::contentComponent:listType(ol),
.root::contentComponent:type(list-item),
.root::contentComponent:type(figure) :type(figcaption),
.root::contentComponent:type(blockquote) :type(cite) {
	color: value(ParagraphTextColor);
}

.root Link,
.root::link,
.root::link:visited,
.root::contentComponent:type(link) {
	color: value(LinkColor);
}
.root Link:hover,
.root::link:hover,
.root::contentComponent:type(link):hover {
	color: value(LinkColor_Hover);
}

.root code,
.root::contentComponent:type(code) {
	border-color: value(InlineCodeBorderColor);
	color: value(CodeSyntaxColor);
}
.root code,
.root::contentComponent:type(code),
.root CodeBlock::pre {
	color: value(CodeSyntaxColor);
	background-color: value(InlineCodeBgColor);
}

.root::contentComponent:type(figure) {
	border-color: value(ImageBorderColor);
}

.root::meta {
	color: value(ArticleMetaTextColor);
}
.root::meta:hasContent {
	border-color: value(ContentHeaderMetaBorderColor);
}

.root::smallButton {
	color: value(LinkColor);
}
.root::smallButton:hover {
	color: value(LinkColor_Hover);
}

.root::button {
	-st-mixin: ButtonMixin(
		ButtonTextColor value(LinkColor),
		ButtonTextColor_Hover value(LinkColor_Hover)
	);
}
