@namespace "PageBaseMixin";

@st-import PageBase from "./page-base.st.css";
@st-import Link from "../components/content/content-blocks/link/link.st.css";
@st-import CodeBlock from "../components/content/content-blocks/code-block/code-block.st.css";
@st-import Figure from "../components/content/content-blocks/figure/figure.st.css";

:vars {
	LinkColor: #808080;
	LinkColor_Hover: #000000;
	TopicTextColor: #000000;
	TitleTextColor: #000000;
	SubtitleTextColor: #000000;
	ParagraphTextColor: #000000;
	InlineCodeBgColor: #f0f0f0;
	InlineCodeBorderColor: #c0c0c0;
	SectionBoxShadowColor: rgba(0, 0, 0, 0.5);
	ContentHeaderMetaBorderColor: #c0c0c0;
	ImageBorderColor: #000000;
}

.root {
	-st-extends: PageBase;
}

.root::section {
	box-shadow: 0 0 10px value(SectionBoxShadowColor);
}

.root::topic {
	color: value(TopicTextColor);
}

.root::title,
.root::contentComponent:type(heading_1) {
	color: value(TitleTextColor);
}

.root::subtitle,
.root::contentComponent:type(heading_2) {
	color: value(SubtitleTextColor);
}

.root::moto,
.root::paragraph,
.root::contentComponent:type(paragraph),
.root::contentComponent:type(blockquote),
.root::contentComponent:listType(ul),
.root::contentComponent:listType(ol),
.root::contentComponent:type(list-item)  {
	color: value(ParagraphTextColor);
}

.root Link,
.root::link,
.root::link:visited,
.root::contentComponent:type(link) {
	color: value(LinkColor);
}
.root Link:hover,
.root::link:hover,
.root::contentComponent:type(link):hover {
	color: value(LinkColor_Hover);
}

.root code,
.root::contentComponent:type(code) {
	border-color: value(InlineCodeBorderColor);
}
.root code,
.root::contentComponent:type(code),
.root CodeBlock::pre {
	background-color: value(InlineCodeBgColor);
}

.root::contentComponent:type(figure) {
	border-color: value(ImageBorderColor);
}

.root::meta:hasContent {
	border-color: value(ContentHeaderMetaBorderColor);
}
