@namespace "PageBase";

@st-import ContentComponent from "../components/content/content-component.st.css";

.root {}

.title {}

.byline {}

.genericPage {
  -st-states: type(string);
}

.contentComponent {
	-st-extends: ContentComponent;
}

.error {}

.noContent {}
