@namespace "PageBase";

@st-import ContentComponent from "../components/content/content-component.st.css";

.root {
	-st-states: textDirection(enum(ltr, rtl));
}

.root:textDirection(rtl) {
	direction: rtl;
}

/* Header Components */

.header {
	margin-bottom: 2rem;
}

.title {}

.abstract {}

.meta {
	-st-states: hasContent(boolean);
}
.meta:hasContent {
	padding: 1vmax 0;
	border-top: 2px solid;
	border-bottom: 2px solid;
	display: flex;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
}

.byline {}
.date {}

/* ---------------- */

.genericPage {
	-st-states: type(string);
}

.contentComponent {
	-st-extends: ContentComponent;
}

.error {}

.noContent {}
