@namespace "Posts";

@st-import Button from "../components/ui/button/button.st.css";
@st-import ContentComponent from "../components/content/content-component.st.css";
@st-import FigureBlock from "../components/content/content-blocks/figure/figure.st.css";

.root {}

.sectionTitle {}

.post {
  margin-bottom: 2rem;
  /* border: 1px solid #e0e0e0; */
  /* padding: 4rem; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}

.postHeader {
  margin-bottom: 2rem;
}

.postMain {}

.postHeading {
  margin: 0;
}

.postTitle {
  -st-extends: Button;
}

.postTitle:hover {}

.postDate {}

.postContent {
  -st-extends: ContentComponent;
}
