@namespace "PostsMixin";

@st-import Posts from "./posts.st.css";
@st-import PostMixin from "../components/post/post-mixin.st.css";

:vars {
	LinkColor: #000;
	LinkColor_Hover: #c0c0c0;
}

.root {
	-st-extends: Posts;
}

.root::post {
	-st-mixin: PostMixin(
		LinkColor value(LinkColor),
		LinkColor_Hover value(LinkColor_Hover),
	)
}
