@namespace "Blog";

:import {
  -st-from: "../components/ui/button/button.st.css";
  -st-default: Button;
}

:import {
  -st-from: "../components/content/content-component.st.css";
  -st-default: ContentComponent;
}

.root {}

.sectionTitle {}

.post {
  margin-bottom: 2rem;
  border: 1px solid #e0e0e0;
  padding: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.postHeader {
  margin-bottom: 2rem;
}

.postMain {}

.postHeading {
  margin: 0;
}

.postTitle {
  -st-extends: Button;
  font-size: 3rem;
  font-weight: normal;
  text-decoration: none;
}

.postTitle:hover {}

.postDate {}

.postContent {
  /* -st-extends: ContentComponent; */
  /* color: red; */
}
/* .postContent::section {
  color: blue;
} */