@namespace "Layout";

/* @st-import Globals from "../../theme/common/globals.st.css"; */
@st-import [LatinText, HebrewText] from "../../theme/common/typography.st.css";

.root {
	/* -st-states: textDirection(enum(ltr, rtl)); */
	/* -st-mixin: Globals; */
}

/* .root:textDirection(ltr) {
	-st-mixin: LatinText;
}

.root:textDirection(rtl) {
	-st-mixin: HebrewText;
} */


