@use '../../styles/mixins/animations' as keyframes;
@import '../../styles/lib/component';
@import '../../styles/lib/themeVars';

$__stylesheet__: (
	name: loading-indicator,
);

.root {
	--size: 24px;
	--height: 20em;
	--label-margin: 1em;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	@include use-height;

	.image {
		@include keyframes.rotation(name());

		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-duration: 2s;

		@include use-size;
		@include use-content-url;
	}

	.label {
		--margin-top: var(--label-margin);

		display: block;

		@include use-vertical-margin(name(label));
	}
}
