@namespace "LoadingIndicator";

@st-import LoadingIndicator from "./loading-indicator.st.css";

:vars {
	IndicatorImage: url("/public/assets/ml-logo.png");
}

.root {
	-st-extends: LoadingIndicator;
}

.root::animation {
	background-image: value(IndicatorImage);
}
