@import 'styles/lib/component';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: loading-indicator,
);

.root {
	--size: 24px;
	--height: 20em;
	--label-margin: 1em;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include use-height;

	// TODO: use rotation mixin

	.image {
		animation: rotation 2s infinite linear;

		@include use-size;
		@include use-content-url;
	}
}

.label {
	--margin-top: var(--label-margin);

	display: block;

	@include use-vertical-margin(name(label));
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}
