@namespace "LoadingIndicator";

.root {}

.container {}

.animation {
	background-image: url("/public/assets/ml-logo.png");
	width: 32px;
	height: 32px;
  animation: rotation 2s infinite linear;
}

.label {}

.rotate {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
