@import "styles";

.root {
	.item {
		display: flex;
		text-decoration: none;

		@include useRadius(site-nav-item);
		@include useInnerGutter(site-nav-item);
		@include useTextColor(site-nav-item);
		@include useBackgroundColor(site-nav-item);

		&:hover {
			@include useTextColor(site-nav-item, state(hovered));
			@include useBackgroundColor(site-nav-item, state(hovered));
		}
	}

	.content {
		display: flex;
		align-items: flex-start;
		width: 100%;
		@include useGap(site-nav-item-content);
		// gap: 2em;
	}

	.icon {
		display: flex;

		@include useBorderSize(site-nav-item-icon);
		@include useBorderStyle(site-nav-item-icon);
		@include useBorderColor(site-nav-item-icon);
		@include useRadius(site-nav-item-icon);
		@include useInnerGutter(site-nav-item-icon);
		@include useGap(site-nav-item-icon);
		@include useBackgroundColor(site-nav-item-icon);
	}

	.title {
		display: flex;

		@include useFontWeight(site-nav-item-title);
		@include useTextTransform(site-nav-item-title);
		@include useLineHeight(site-nav-item-title);
	}
}
