@namespace "HeaderTheme";

@st-import Header from "./header.st.css";

:vars {
	HeaderBackgroundColor: transparent;
	HeaderSiteTitleColor: #000;
	HeaderSiteSubtitleColor: #000;
	SiteLogoBgProps: #000;
}

.root {
	-st-extends: Header;
	background-color: value(HeaderBackgroundColor);
}

.root::siteTitle {
	color: value(HeaderSiteTitleColor);
}

.root::siteSubtitle {
	color: value(HeaderSiteSubtitleColor);
}

.root::siteLogo {
	background-image: value(SiteLogoBgProps);
}
