@namespace "Header";

@st-import Button from "../ui/button/button.st.css";
@st-import [SiteTitle, SiteSubtitle] from "../../theme/common/typography.st.css";
@st-import [boxSizing] from "../../theme/common/mixins.st.css";

:vars {
	iconMargin: 0.5rem;
}

.root {
	-st-states: textDirection(enum(ltr, rtl));
	-st-mixin: boxSizing;
	padding: 0;
	display: flex;
	text-align: left;	
}

.container {
	display: flex;
	align-items: center;
	align-content: center;
}

.siteTitle {
	-st-extends: Button;
	-st-mixin: SiteTitle;
}
.siteTitle::label {
	border-bottom: 2px solid transparent;
}

.siteSubtitle {
	-st-mixin: SiteSubtitle;
}

.siteSubtitle::before {
	margin: 0 0.5rem;
	opacity: 0.3;
	content: '|';
}

.siteLogo {
	width: 24px;
	height: 24px;
	background-size: contain;
}

.root:textDirection(rtl) .siteTitle::icon {
	margin-left: value(iconMargin);
}
.root:textDirection(ltr) .siteTitle::icon {
	margin-right: value(iconMargin);
}
