@namespace "HeaderTheme";

@st-import Header from "./header.st.css";

:vars {
  HeaderBackgroundColor: red;
  HeaderSiteTitleFontFamily: Arial, sans-serif;
  HeaderSiteTitleFontSize: 1rem;
  HeaderSiteTitleFontWeight: 300;
  HeaderPadding: 0;
}

.root {
  -st-extends: Header;
  background-color: value(HeaderBackgroundColor);
  padding: value(HeaderPadding)
}

.root::siteTitle {
  font-size: value(HeaderSiteTitleFontSize);
  font-family: value(HeaderSiteTitleFontFamily);
  font-weight: value(HeaderSiteTitleFontWeight);
}
