@use '../input/Input.module.scss' as input;
@import '../../styles/lib/component';
@import '../../styles/lib/themeVars';
@import '../../styles/lib/states';

$__stylesheet__: (
	name: text-area,
);
$states: deep(
	$COMPONENT_STATES,
	(
		valid: valid,
		invalid: invalid,
	)
);

.root {
	width: 100%;
	box-sizing: border-box;
	min-height: 10em;
	resize: vertical;

	@include input.input-field-mixin(name());
}
