@namespace "ThemeSelector";

@st-import [preventSelection] from "../../theme/common/mixins.st.css";

.root {
	-st-states: theme(enum(light, dark));
	-st-mixin: preventSelection;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	align-items: center;
	align-content: center;
}

.icon {
	flex: 1;
}
