:root {
	--ml-password-toggle-color: var(--ml-text-muted-color);
	--ml-password-toggle-color-hover: var(--ml-text-color);
}

.toggle {
	color: var(--ml-password-toggle-color);
}

.toggle:hover {
	color: var(--ml-password-toggle-color-hover);
}
