:root {
	--ml-figure-margin: var(--ml-space-lg);
	--ml-figure-caption-font-size: var(--ml-font-size-body);
	--ml-figure-caption-color: var(--ml-text-secondary-color);
}

.root {
	margin: var(--ml-figure-margin) 0;
	text-align: center;
}

.root img {
	max-width: 100%;
	height: auto;
	border-radius: var(--ml-radius-md);
}

.root figcaption {
	font-size: var(--ml-figure-caption-font-size);
	font-style: italic;
	color: var(--ml-figure-caption-color);
	margin-top: var(--ml-space-sm);
}
