@use 'sass:map';
@use '../../components/toggle/toggle-group/ToggleGroup.mixin' as mixin;

@mixin button($vars) {
	@include mixin.button(
		$text-color: map.get($vars, text-color),
		$text-color-hover: map.get($vars, text-color-hover),
		$text-color-selected: map.get($vars, text-color-selected),
		$bg-color: map.get($vars, bg-color),
		$bg-color-hover: map.get($vars, bg-color-hover),
		$bg-color-selected: map.get($vars, bg-color-selected)
	);
}
