@namespace "LocaleSelectorMixin";

@st-import LocaleSelector from "./locale-selector.st.css";

:vars {
	ContainerRadius: 6px;
	SelectedItemTextColor: #fff;
	ContainerBorderColor: #000;
	ItemTextColor: #000;
	ItemBgColorHover: #000;
	SelectedItemBgColor: #000;
}

.root {
	-st-extends: LocaleSelector;
	border-radius: value(ContainerRadius);
	border-color: value(ContainerBorderColor);
}

.root::button {
	border-radius: value(ContainerRadius);
	color: value(ItemTextColor);
}

.root::button:hover {
	background-color: value(ItemBgColorHover);
}

.root::button:selected {
	color: value(SelectedItemTextColor);
	background-color: value(SelectedItemBgColor);
}
