$vars: (
	// layout bg
	level1: #fcfbf9,
	// header/footer surface bg
	level2: #f2efe4,
	level3: #e6e3d8,
	level4: #ccc9c0,
	level5: #a6a49c,
	level6: #666560,
	level7: #434440,
	level8: #20201e,

	primary1: #fd658a,
	primary2: #bd5e91,
	primary3: #70538a,
	primary4: #4e4a7a,
	accent1: #3770c5,
	accent2: #274f8c,
	accent3: #1a355f,
	accent4: #00173a,

	error1: #f44,
	success1: #4a4
);

// b2: #f178b6,
