$index: (
	// a1: #fff,
	//selector-text-color
	a2: #fcfbf9,
	a3: #f2efe4,
	a4: #e6e3d8,
	a5: #ccc9c0,

	// section-title-text-color
	a6: #a6a49c,

	// section-title-border-color
	a7: #666560,

	a8: #434440,

	// #FFF -author text color
	// item-background-color__hover
	// selector-background-color__hover
	a9: #20201e,

	// item-text-color
	b1: #fd658a,
	b2: #f178b6,
	b3: #bd5e91,
	b4: #70538a,
	b5: #4e4a7a,
	c1: #3770c5,
	c2: #274f8c,
	c3: #1a355f,
	c4: #00173a,
	y1: #f44,
	z1: #4a4
);
