@import '../../lib/theme';
@import '../../lib/themeVars';

$index: (
	typography: (
		font-family: (
			font1: 'Roboto Slab, serif',
			font2: 'Assistant, sans-serif',
		),
		font-size: (
			base: 14px,
			xs: 0.7em,
			sm: 0.9em,
			md: 1em,
			lg: 1.041em,
			xl: 1.241em,
			2xl: 1.302em,
			3xl: 1.614em,
			4xl: 2.03em,
			5xl: 2.5em,
		),
		font-weight: (
			thin: 100,
			regular: 300,
			medium: 500,
			bold: 700,
		),
		line-height: (
			xs: 1.4em,
			sm: 1.4em,
			md: 1.6em,
			lg: 2em,
			xl: 3em,
		),
		spacing: (
			xs: 0.5em,
			sm: 0.75em,
			md: 1em,
			lg: 1.002em,
			xl: 1.102em,
			2xl: 1.202em,
			3xl: 1.302em,
		),
		variants: (
			h1: (
				font-size: globalRef(typography-font-size-2xl),
				font-weight: globalRef(typography-font-weight-bold),
			),
			h2: (
				font-size: globalRef(typography-font-size-xl),
				font-weight: globalRef(typography-font-weight-bold),
			),
			h3: (
				font-size: globalRef(typography-font-size-lg),
				font-weight: globalRef(typography-font-weight-bold),
			),
			h4: (
				font-size: globalRef(typography-font-size-md),
				font-weight: globalRef(typography-font-weight-regular),
			),
			h5: (
				font-size: globalRef(typography-font-size-sm),
				font-weight: globalRef(typography-font-weight-regular),
			),
			h6: (
				font-size: globalRef(typography-font-size-xs),
				font-weight: globalRef(typography-font-weight-regular),
			),
			body1: (
				font-size: globalRef(typography-font-size-md),
				font-weight: globalRef(typography-font-weight-regular),
			),
			body2: (
				font-size: globalRef(typography-font-size-sm),
				font-weight: globalRef(typography-font-weight-regular),
			),
		),
	),
);
