@namespace "DropDown";

@st-import Option from "../dropdown/option.st.css";
@st-import Button from "../../ui/button/button.st.css";

.root {
	-st-states: optionListVisible;
}

.triggerContainer {
	display: inline-flex;
	position: relative;
}

.triggerButton {
	-st-extends: Button;
	display: block;
}

.triggerIcon {
	position: absolute;
}

.root:not(:optionListVisible):hover .triggerIcon {
	color: blue;
}
.root:optionListVisible::triggerContainer .triggerIcon {
	color: #808080;
}
.root:optionListVisible::triggerContainer:hover .triggerIcon {
	color: red;
}

.triggerIcon {}

.optionListContainer {}

.optionList {
	-st-states: isCurrent(boolean), id(string);
}

.option {
	-st-extends: Option;
	-st-states: isCurrent(boolean), id(string);
}
