@namespace "ContactForm";

@st-import Form from "../form/form.st.css";
@st-import [SmallCaption, InputLabel, InputText] from "../../theme/common/typography.st.css";

.root {}

.form {
	-st-extends: Form;
}

.form::field {
	margin-bottom: 1rem;
	display: flex;
}

.form::field::label {
	align-content: center;
}

.form::field::caption {
	-st-mixin: InputLabel;
	width: 150px;
	display: flex;
	align-items: flex-start;
	align-content: center;
}

.form::field::inputContainer {
	flex: 1;
}

.form::field::input {
	-st-mixin: InputText;
	width: 100%;
	padding: 0.5rem;
	height: 40px;
	border: 1px solid;
}

.form::field::input:tag(textarea) {
	height: 250px;
}

.form::field::error {
	padding: 0.25rem 0;
	display: flex;
}
.form::field::errorIcon {
	margin: 0 0.25rem;
	position: relative;
	top: 1px;
}

.form::field::error {
	-st-mixin: SmallCaption;
}

@media (min-width: 320px) and (max-width: 767px) {
	@st-scope .root {
		::form::field {
			display: block;
		}
	}
}
