@namespace "ContactForm";

@st-import Form from "../form/form.st.css";

.root {
	-st-extends: Form;
}

.root::field {
	margin-bottom: 1rem;
}

.root::field::label {
	display: flex;
	align-content: center;
}

.root::field::caption {
	width: 150px;
	font-weight: 500;
	line-height: 40px;
	display: flex;
	align-items:flex-start;
	align-content: center;
}

.root::field::input {
	width: 100%;
	padding: 0.5rem;
	height: 40px;
	line-height: 40px;
	border: 1px solid #444;
}

.root::field::input:validation(invalid) {
	border-color: #c00;
}

.root::field::input:validation(valid) {
	border-color: #0a0;
	background: none;
}

.root::field::input:type(textarea) {
	height: 250px;
	line-height: 20px;
	resize: none;
}

.root::field::inputContainer {
	width: 100%;
	flex: 1;
}
