@import '../../styles/lib/component';
@import '../../styles/lib/states';
@import '../../styles/mixins/typographyMixins';

$__stylesheet__: (
	name: blockquote,
);

.root {
	margin: 0;

	@include use-vertical-padding;
	@include use-horizontal-padding;

	p {
		@include running-text-mixin(name());
	}

	cite {
		@include use-vertical-padding(name(cite));
		@include use-horizontal-padding(name(cite));
		@include running-text-mixin(name(cite));
	}
}
