@import 'styles/lib/component';
@import 'styles/lib/states';
@import 'styles/mixins/typographyMixins';

$__stylesheet__: (
	name: blockquote,
);

.root {
	margin: 0;

	@include useVerticalPadding;
	@include useHorizontalPadding;

	p {
		@include RunningTextMixin(name());
	}

	cite {
		@include useVerticalPadding(name(cite));
		@include useHorizontalPadding(name(cite));
		@include RunningTextMixin(name(cite));
	}
}
