@import '../../styles/lib/component';
@import '../../styles/lib/states';
@import '../../styles/lib/themeVars';

$__stylesheet__: (
	name: blockquote,
);

.root {
	margin: 0;

	@include use-vertical-padding;
	@include use-horizontal-padding;

	// p {
	// 	// @include variant(name());
	// }

	cite {
		@include use-vertical-padding(name(cite));
		@include use-horizontal-padding(name(cite));

		// @include variant(name(cite));
	}
}
