@namespace "LocaleSelector";

:import {
	-st-from: "../dropdown/dropdown.st.css";
	-st-default: DropDown;
}

.root {
	border: none;
	background: none;
	cursor: pointer;
	user-select: none;
	display: flex;
}

.select {
	-st-extends: DropDown;
}

.current {}