@namespace "LocaleSelector";

:import {
	-st-from: "../dropdown/dropdown.st.css";
	-st-default: DropDown;
}

.root {
	background: none;
	cursor: pointer;
	display: flex;
}

.localeDropDown {
	-st-extends: DropDown;
	/* user-select: none; */
	display: block;
	width: 150px;
	border: 2px solid red;
}

.localeDropDown::optionFromDropDown {
	position: relative;
	padding: 0 1rem;
}
.localeDropDown::optionFromDropDown:current:id(en) {
	color: red;
}
.localeDropDown::optionFromDropDown:id(he):current {
	color: blue;
}

.dropDownContainer {}

.current {
}