@namespace "LocaleSelector";

@st-import [boxSizing] from "../../theme/mixins.st.css";
@st-import [LatinText, HebrewText] from "../../theme/typography.st.css";

:vars {
	buttonMargin: 38px;
	triggerIconMargin: 10px;
	height: 40px;
}

.root {
	-st-states: locale(string), isOpen(boolean);
	-st-mixin: boxSizing;
  justify-content: right;
	display: inline-block;
	cursor: pointer;
	border: 1px solid black;
	overflow: hidden;
}

.root:locale(en) {
	direction: ltr;
	text-align: left;
}
.root:locale(he) {
	direction: rtl;
	text-align: right;
}

.list {
	display: flex;
}

.item {
	-st-states: locale(enum(en, he)), selected(boolean);
	border: none;
	padding: 0;
	display: block;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	text-align: center;
	width: 30px;
}

.item:locale(en) {
	-st-mixin: LatinText;
}
.item:locale(he) {
	-st-mixin: HebrewText;
}
