@namespace "LocaleSelector";

:import {
	-st-from: "../dropdown/dropdown.st.css";
	-st-default: DropDown;
}

.root {
	cursor: pointer;
	display: flex;
}

.dropDownContainer {}

.localeDropDown {
	-st-extends: DropDown;
	user-select: none;
	display: block;
	width: 200px;
	background: #fff;
}

.localeDropDown:hover::optionListTrigger {
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
}
.localeDropDown::optionList {
	/* padding: 8px; */
	border: 1px solid #808080;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.localeDropDown::optionListTrigger {
	/* padding: 8px 18px; */
	height: 32px;
	line-height: 32px;
	display: block;
	border: 1px solid #808080;
}

.localeDropDown::optionListTrigger:id(en):optionListVisible::before {
	left: 6px;
}
.localeDropDown::optionListTrigger:id(he):optionListVisible::before {
	right: 6px;
}

 .localeDropDown::optionListTrigger:hover {
	background-color: #f0f0f0;
}

.localeDropDown::optionListTrigger:optionListVisible {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.localeDropDown::option::optionButton {
	position: relative;
	display: block;
	/* padding: 0.5rem 0; */
}

.localeDropDown::option::optionButton::labelContainer {
	display: block;
}

.localeDropDown::option::optionButton::iconContainer {
	display: block;
	margin: 0 0.5rem;
}

.localeDropDown::option::optionButton:hover {
	background-color: #f0f0f0;
}
.localeDropDown::option:current::optionButton {
	font-weight: 700;
}
.localeDropDown::option:current::optionButton {
	/* background: #808080; */
}

.localeDropDown::option:current::optionButton::after {
	content: '\002714';
	font-size: 10px;
	line-height: 20px;
	position: absolute;
}
.localeDropDown::option:current:id(en)::optionButton::after {
	right: 1rem;
}
.localeDropDown::option:current:id(he)::optionButton::after {
	left: 1rem;
}

.localeDropDown::option::optionButton::icon {
	display: block;
}
