@namespace "LocaleSelectorMixin";

@st-import LocaleSelector from "./locale-selector.st.css";

:vars {
	ContainerRadius: 6px;
	SelectedItemTextColor: white;
	ContainerBorderColor: black;
	ItemBgColorHover: black;
	SelectedItemBgColor: black;
}

.root {
	-st-extends: LocaleSelector;
	border-radius: value(ContainerRadius);
	border-color: value(ContainerBorderColor);
}

.root:first-child {
	border-top-left-radius: value(ContainerRadius);
	border-bottom-left-radius: value(ContainerRadius);
}

.root:last-child {
	border-top-right-radius: value(ContainerRadius);
	border-bottom-right-radius: value(ContainerRadius);
}

.root::item:hover {
	background-color: value(ItemBgColorHover);
}

.root::item:selected {
	color: value(SelectedItemTextColor);
	background-color: value(SelectedItemBgColor);
}
