@import 'styles/lib/component';
@import 'styles/lib/themeVars';
@import 'styles/config/consts';

$__stylesheet__: (
	name: css-var-image,
);

.root {
	--size: 24px;
	--url: url('https://placehold.co/40x40');

	@include use-content-url;
	@include use-size;
}

// Export properties to make them available in JS
// see: CSSVarImage - getCustomStyle helper
// stylelint-disable selector-pseudo-class-no-unknown
// stylelint-disable property-no-unknown
:export {
	theme-prefix: #{$theme-namespace-prefix};
	component-name: name();
	property: url;
}
