@import 'styles/baseComponentStyle';
@import 'styles/lib/themeVars';
@import 'styles/config/consts';

$__stylesheet__: (
	name: css-var-image,
);

.root {
	--size: 24px;
	--url: url(https://placehold.co/40x40);

	@include useContentUrl();
	@include useSize();
}

:export {
	theme_prefix: #{$theme-namespace-prefix};
	component_name: name();
	property: url;
}
