@use '../nav-item/NavListItem.module' as NavListItem;
@use '../nav-item/navListItemMixin' as nav-list-item-mixin;
@use '../nav-item-content/navItemContentMixin' as nav-item-content-mixin;

@import 'styles/lib/component';
@import 'styles/lib/states';

$__stylesheet__: (
	name: menu-drawer,
);

.root {
	.list {
		padding: 0;
		margin: 0;
	}

	@include nav-list-item-mixin.list-item-mixin(name(item), $states);
	@include nav-item-content-mixin.nav-item-content-mixin(
		site-item-content-variant-base
	);
}
