@use '../nav-item/NavListItem.module' as NavListItem;
@import './menuDrawerMixin';
@import '../nav-item/navListItemMixin';
@import '../nav-item-content/navItemContentMixin';
@import 'styles/lib/component';
@import 'styles/lib/states';

$__stylesheet__: (
	name: menu-drawer,
);

.root {
	.list {
		padding: 0;
		margin: 0;
	}

	@include ListItemMixin(name(item), $states);
	@include NavItemContentMixin(site-item-content-variant-base);
}
