@namespace "FooterMixin";

@st-import Footer from "./footer.st.css";
@st-import ButtonMixin from "../ui/button/button-mixin.st.css";
@st-import [IconFill, GradientStrip] from "../../theme/mixins.st.css";

:vars {
  BackgroundColor: #f0f0f0;
  Padding: 0;
  StripGradientStartColor: white;
  StripGradientMidColor: gray;
  StripGradientEndColor: black;
  IconFill_Github: black;
  IconFill_Twitter: black;
  IconFill_Contact: black;
  LabelColor: black;
  LabelColor_Hover: black;
  LabelColor_Active: black;
  LabelBorderColor: magenta;
  LabelBorderColor_Hover: black;
  LabelBorderColor_Active: black;
}

.root {
  -st-extends: Footer;
  background-color: value(BackgroundColor);
  padding: value(Padding);
}

.root::strip {
  -st-mixin: GradientStrip(
    StripGradientStartColor value(StripGradientStartColor),
    StripGradientMidColor value(StripGradientMidColor),
    StripGradientEndColor value(StripGradientEndColor)
  );
}
