// @use "../../theme/common/theme.scss";

footer {
	&.footer {
		background: var(--footer-background-color);
		margin-top: 2rem;
	}

	.pageContainer {
		margin: 0 auto;
		padding: 2rem;
		max-width: 1600px;
	}

	.layout {
		display: flex;
	}

	.title {
		text-transform: uppercase;
	}
}
