@namespace "Footer";

.root {
  margin-top: 4rem;
}

.strip {
  height: 4px;
}

.layout {
  display: inline-flex;
}

.column {
  -st-states: size(number);
}
.column:size(1) {
  flex: 1;
}
.column:size(2) {
  flex: 2;
}
.column:size(3) {
  flex: 3;
}

.title {
  font-weight: 500;
}

.subtitle {}

.license {}

.year {}

.sitePages {
  flex: 1;
}

.pageContainer {
  margin: 0 auto;
  padding: 4rem 0;
}

.item {
}