@namespace "FooterMixin";

@st-import Footer from "./footer.st.css";
@st-import ButtonMixin from "../../components/ui/button/button-mixin.st.css";
@st-import [IconFill, GradientStrip] from "../../theme/common/mixins.st.css";

:vars {
	BgColor: #f0f0f0;
	LinkColor: #000;
	LinkColor_Hover: #c0c0c0;
	TextColor: #000;
	StripGradientStartColor: white;
	StripGradientMidColor: gray;
	StripGradientEndColor: black;
}

.root {
	-st-extends: Footer;
	background-color: value(BgColor);
	color: value(TextColor);
}

.root::strip {
	-st-mixin: GradientStrip(
		StripGradientStartColor value(StripGradientStartColor),
		StripGradientMidColor value(StripGradientMidColor),
		StripGradientEndColor value(StripGradientEndColor),
		StripGradientHeight 4px
	);
}

.root::button {
	-st-mixin: ButtonMixin(
		ButtonTextColor value(LinkColor),
		ButtonTextColor_Hover value(LinkColor_Hover)
	);
}
