@namespace "Footer";

@st-import Button from "../ui/button/button.st.css";
@st-import [ResetListStyle] from "../../theme/mixins.st.css";
@st-import [pageWidth] from "../page/page.st.css";
@st-import [bodyTextNormal, FooterTitle, FooterButton, FooterSectionTitle] from "../../theme/common/typography.st.css";

.root {
	-st-states: textDirection(enum(ltr, rtl));
	margin-top: 2rem;
}
.root:textDirection(ltr)::column {
	padding-right: 2rem;
}
.root:textDirection(rtl)::column {
	padding-left: 2rem;
}

.strip {}

.layout {
	display: flex;
	max-width: 800px;
	margin: 0 auto;
}

.column { -st-states: size(number) }
.column:size(1) { flex: 1 }
.column:size(2) { flex: 2 }
.column:size(3) { flex: 3 }
.column:size(4) { flex: 4 }

.title {
	-st-mixin: FooterTitle;
}

.subtitle {
	-st-mixin: bodyTextNormal
}

.license {}

.year {}

.sitePages {
	flex: 1;
}

.pageContainer {
	margin: 0 auto;
	padding: 4rem 0;
}

.itemList {
	-st-mixin: ResetListStyle;
}

.item {}

.footerTitle {
	margin-bottom: 1rem;
}

.excerpt {
	-st-mixin: bodyTextNormal;
}

.button {
	-st-extends: Button;
	-st-mixin: FooterButton;
}

.columnTitle {
	-st-mixin: FooterSectionTitle;
	margin-bottom: 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
	@st-scope .root {
		.layout {
			display: block;
			padding: 0 2rem;
		}
		.column {
			margin-top: 1rem;
		}
	}
}
