@namespace "Footer";

@st-import Button from "../ui/button/button.st.css";

.root {
  -st-states: direction(enum(ltr, rtl));
  margin-top: 4rem;
}

.root:direction(ltr) .button::icon {
  margin-right: 0.25rem;
}
.root:direction(rtl) .button::icon {
  margin-left: 0.25rem;
}

.strip {
  height: 4px;
}

.layout {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.column {
  -st-states: size(number);
}
.column:size(1) {
  flex: 1;
}
.column:size(2) {
  flex: 2;
}
.column:size(3) {
  flex: 3;
}
.column:size(4) {
  flex: 4;
}

.title {
  font-weight: 500;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.license {}

.year {}

.sitePages {
  flex: 1;
}

.pageContainer {
  margin: 0 auto;
  padding: 4rem 0;
}

.itemList {
  line-height: 1.4rem;
}

.item {
  -st-states: icon(enum(twitter, github, contact));
  font-size: 0.85rem;
}

.footerTitle {
  margin-bottom: 1rem;
}

.excerpt {
  font-size: 0.85rem;
  margin: 0;
}

.button {
  -st-extends: Button;
}

.columnTitle {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
	@st-scope .root {
    .layout {
      display: block;
      padding: 0 2rem;
    }
    .column {
      margin-top: 1rem;
    }
	}
}
