:root {
	--ml-group-gap: var(--ml-space-md);
}

.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--ml-group-gap);
}

.gap-xs {
	--ml-group-gap: var(--ml-space-xs);
}

.gap-sm {
	--ml-group-gap: var(--ml-space-sm);
}

.gap-md {
	--ml-group-gap: var(--ml-space-md);
}

.gap-lg {
	--ml-group-gap: var(--ml-space-lg);
}

.gap-xl {
	--ml-group-gap: var(--ml-space-xl);
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-space-between {
	justify-content: space-between;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.nowrap {
	flex-wrap: nowrap;
}
