@import '../../../styles/lib/component';
@import '../../../styles/lib/themeVars';

$__stylesheet__: (
	name: site-item-content,
);

@mixin root-mixin($module) {
	@include use-background-color($module);
}

@mixin icon-mixin($module) {
	--background-color: transparent;

	@include use-border-size($module);
	@include use-border-style($module);
	@include use-border-color($module);
	@include use-radius($module);
	@include use-inner-gutter($module);
	@include use-gap($module);
	@include use-background-color($module);
}

@mixin title-mixin($module) {
	@include use-font-weight($module);
	@include use-text-transform($module);
	@include use-line-height($module);
}

@mixin description-mixin($module) {
	@include use-text-color($module);
}

.root {
	@include root-mixin(item-content-variant-base);

	.icon {
		display: flex;

		@include icon-mixin(item-content-variant-base-icon);
	}

	.title {
		display: flex;

		@include title-mixin(item-content-variant-base-title);
	}

	.author,
	.description {
		@include description-mixin(item-content-variant-base-description);
	}
}
