@use 'styles/lib/overrides';
@use './NavItemContent.module.scss';

@mixin nav-item-content-mixin($module) {
	@include overrides.transform(
		$module,
		(
			comp: item-content-variant-base,
			overrides: (
				_: (
					_: (
						background-color,
					),
				),
				icon: (
					_: (
						border-size,
						border-style,
						border-color,
						background-color,
						radius,
						gutter,
						gap,
					),
				),
				title: (
					_: (
						text-transform,
						line-height,
						font-weight,
					),
				),
			),
		)
	);
}
