@namespace "Page";

@st-import [boxSizing] from "../../theme/mixins.st.css";

:vars {
	pageWidth: 800px;
	PageTopMargin: 80px;
	PageMobileGutter: 2rem;
}

.root {
	-st-mixin: boxSizing;
	/* overflow: hidden; */
	margin: 0 auto;
	min-height: 75vh;
	max-width: value(pageWidth);
	padding-top: value(PageTopMargin);
}

.gutter {}

@media (min-width: 320px) and (max-width: 767px) {
	@st-scope .root {
		.gutter {
			padding: value(PageMobileGutter);
		}
	}
}
