@namespace "Page";

@st-import [boxSizing] from "../../theme/mixins.st.css";

:vars {
	pageWidth: 800px;
	PageTopMargin: 80px;
	PageMobileGutter: 1rem;
}

.root {
	-st-mixin: boxSizing;
	overflow: hidden;
	margin: 0 auto;
	max-width: value(pageWidth);
	padding-top: value(PageTopMargin);
}

.gutter {}

@media (min-width: 320px) and (max-width: 767px) {
	@st-scope .root {
		.root::gutter {
			margin: value(PageMobileGutter);
		}
	}
}
