@import "styles";

@mixin ParagraphMixin {
	--margin-bottom: 1em;
	--line-height: 1.4em;

	color: compRef(paragraph, text-color);
	margin-bottom: compRef(paragraph, margin-bottom);
	line-height: compRef(paragrpah, line-height);
}
