.root {
	--content-paragraph-margin-bottom: 1em;
	--content-paragraph-line-height: 1.4em;

	margin-bottom: var(--content-paragraph-margin-bottom);
	line-height: var(--content-paragraph-line-height);
}
