@use '../../../lib/refs';

$vars: (
	color: (
		level: (
			base: refs.globalRef(color-level1-main),
			main: refs.globalRef(color-level2-main),
			alt: refs.globalRef(color-level3-main),
			accent: refs.globalRef(color-level4-main),
			level5: refs.globalRef(color-level5-main),
			level6: refs.globalRef(color-level6-main),
			level7: refs.globalRef(color-level7-main),
			inverse: refs.globalRef(color-level8-main),
		),

		surface: (
			main: refs.globalRef(color-level2-main),
			light: refs.globalRef(color-level1-main),
			dark: refs.globalRef(color-level4-main),
			contrast: refs.globalRef(color-level8-main),
		),
		container: (
			main: refs.globalRef(color-level3-main),
			// light: globalRef(color-a2-main),
			dark: refs.globalRef(color-level4-dark),
			contrast: refs.globalRef(color-level6-main),
		),
		primary: (
			main: refs.globalRef(color-accent1-main),
			light: refs.globalRef(color-accent2-light),
			dark: refs.globalRef(color-accent3-dark),
			contrast: refs.globalRef(color-accent3-contrast),
		),
		secondary: (
			main: refs.globalRef(color-primary2-main),
			light: refs.globalRef(color-primary3-light),
			dark: refs.globalRef(color-primary1-dark),
			contrast: refs.globalRef(color-primary1-contrast),
		),
		error: (
			main: refs.globalRef(color-error1-main),
			light: refs.globalRef(color-error1-light),
			dark: refs.globalRef(color-error1-dark),
			contrast: refs.globalRef(color-error1-contrast),
		),
		success: (
			main: refs.globalRef(color-success-main),
			light: refs.globalRef(color-success-light),
			dark: refs.globalRef(color-success-dark),
			contrast: refs.globalRef(color-success-contrast),
		),
	),
	gradient: (
		primary: (
			main:
				linear-gradient(
					90deg,
					refs.globalRef(color-primary1-main) 0%,
					refs.globalRef(color-primary3-main) 50%,
					refs.globalRef(color-primary4-main) 100%
				),
		),
	),
);
