@use '../../../lib/refs';

$vars: (
	locale: (
		en: (
			font-family: refs.globalRef(typography-font-family-font1),
			font-size: refs.globalRef(typography-font-size-base),
			font-weight: refs.globalRef(typography-font-weight-regular),
			direction: ltr,
		),
		he: (
			font-family: refs.globalRef(typography-font-family-font2),
			font-size: refs.globalRef(typography-font-size-base),
			font-weight: refs.globalRef(typography-font-weight-regular),
			direction: rtl,
		),
	),
);
