// @use "../../../../../components/ui/ThemeSelector/ThemeSelector.module.scss" as
// 	ThemeSelector;
@import '../../../../baseThemeStyle';
@import '../../../../lib/refs';

$index: (
	empty: true,
	/*
	toggle: (
		height: 2.2855em,
		width: 2.2855em,
		radius: globalRef(radius-md),
		background-color: red,
		text-color: ref(color-surface-contrast),
		font-weight: globalRef(typography-font-weight-thin),
		ThemeSelector.state(hovered): (
			background-color: ref(color-container-main),
			text-color: ref(color-surface-contrast),
		),
		ThemeSelector.state(selected): (
			background-color: ref(color-surface-dark),
			text-color: ref(color-surface-contrast),
			font-weight: globalRef(typography-font-weight-bold),
		),
	)
	*/
);
