@import '../../../../lib/theme';

$index: (
	padding-top: 0,
	padding-bottom: 0,
	padding-right: 1em,
	padding-left: 1em,
	text-color: ref(color-container-contrast),
	line-height: 2em,
	font-weight: 700,
);
