@use '../../../../lib/refs';

$vars: (
	background-color: refs.ref(color-surface-main),
	text-color: refs.ref(color-surface-contrast),
	border-color: refs.ref(color-surface-dark),
	radius: globalRef(radius-sm),
	font-family: 'monospace',
	font-weight: 500,
	gutter: 2em,
);
