@use '../../../../lib/refs';

$vars: (
	background-color: refs.ref(color-surface-light),
	gutter: 2em,
	header: (
		background-color: refs.ref(color-surface-main),
		height: 48px,
	),
	footer: (
		background-color: refs.ref(color-surface-main),
	),
	page: (
		margin-top: 4em,
	),
	logo: (
		gap: 1em,
	),
);
