@use '../../../../../layout/Layout.module' as layout;
@import '../../../../lib/theme';
@import '../../../../lib/refs';
@import '../../../../lib/states';

$index: (
	background-color: ref(color-surface-light),
	gutter: 2em,
	scrollbar: (
		background-color: ref(color-container-main),
		layout.state(hovered): (
			background-color: ref(color-surface-dark),
		),
	),
	// selection: (
	// 	background-color: ref(color-secondary-dark),
	// 	text-color: ref(color-secondary-contrast),
	// ),
	top-bar:
		(
			background-color: ref(color-surface-main),
			height: 48px,
		),
	footer: (
		background-color: ref(color-surface-main),
	),
	page: (
		margin-top: 4em,
	),
	logo: (
		gap: 1em,
	),
);
