@use '../../../../lib/refs';
@use '../../../../../components/nav/nav-item/NavItem.module' as nav-item;
@use '../../../../../components/toggle/toggle-button/ToggleButton.module' as
	toggle-button;

$vars: (
	background-color: refs.ref(color-surface-light),
	gutter: 2em,

	header: (
		background-color: refs.ref(color-surface-main),
		height: 48px,
	),

	footer: (
		background-color: refs.ref(color-surface-main),
	),

	page: (
		margin-top: 4em,
	),

	logo: (
		gap: 1em,
	),

	menu: (
		nav: (
			item: (
				empty: true,
				radius: 100px,
				nav-item.state(hovered): (
					background-color: refs.ref(color-surface-mid),
				),
			),
		),
	),

	drawer: (
		background-color: refs.ref(color-surface-alt),
		panel: (
			separator: (
				color: refs.ref(color-surface-body),
			),
		),

		toggle-item: (
			background-color: none,
			text-color: refs.ref(color-surface-dark),
			toggle-button.state(hovered): (
				background-color: refs.ref(color-surface-contrast),
				text-color: refs.ref(color-surface-light),
			),
			toggle-button.state(selected): (
				background-color: refs.ref(color-secondary-dark),
				text-color: refs.ref(color-surface-light),
			),
		),

		nav: (
			item: (
				radius: 0,

				nav-item.state(hovered): (
					background-color: refs.ref(color-surface-contrast),
				),

				title: (
					text-transform: capitalize,
					text-color: refs.ref(color-secondary-dark),
					font-weight: 100,
					nav-item.state(hovered): (
						text-color: refs.ref(color-secondary-dark),
					),
				),

				subtitle: (
					text-color: refs.ref(color-surface-light),
					nav-item.state(hovered): (
						text-color: refs.ref(color-surface-light),
					),
				),

				icon: (
					text-color: refs.ref(color-surface-body),
					nav-item.state(hovered): (
						text-color: refs.ref(color-surface-mid),
					),
				),
			),
		),
	),
);
