@use '../../../../../components/link/Link.module.scss' as link;
@import '../../../../lib/theme';
@import '../../../../lib/refs';

$index: (
	text-color: ref(color-primary-main),
	link.state(hovered): (
		text-color: ref(color-secondary-main),
	),
	link.state(clicked): (
		text-color: ref(color-secondary-light),
	),
);
