@use '../../../../../components/nav/menu-drawer/MenuDrawer.module' as
	menu-drawer;
@import '../../../../lib/theme';
@import '../../../../lib/refs';

$index: (
	header: (
		text-color: ref(color-surface-light),
	),

	item: (
		text-color: ref(color-secondary-main),
		// radius: globalRef(radius-xs),
		gutter: 1.375em,

		border-bottom-size: 1px,
		border-bottom-style: solid,
		border-bottom-color: ref(color-surface-dark),
		content: (
			gap: 1em,
			gutter: 1em,
		),

		menu-drawer.state(hovered): (
			text-color: ref(color-secondary-main),
			background-color: ref(color-surface-contrast),
		),
	),
);
