@use '../../../../lib/refs';
@use '../../../../../components/nav/nav-item/NavItem.module' as comp;

$vars: (
	radius: refs.globalRef(radius-md),
	item: (
		gap: 0.5em,
		padding-top: 1em,
		padding-bottom: 1em,
		padding-right: 1em,
		padding-left: 1em,
	),
	content: (
		gap: 0.25em,
	),
	title: (
		text-transform: uppercase,
		font-weight: 700,
	),
	comp.state(hovered): (
		background-color: refs.ref(color-surface-main),
	),
);
