@use '../../../../../components/popover/PopoverTrigger.module' as PopoverTrigger;
@import '../../../../baseThemeStyle';
@import '../../../../lib/refs';

$index: (
	dada: false,
	text-color: ref(link-text-color),
	radius: globalRef(radius-sm),
	astriek-color: ref(link-text-color),
	PopoverTrigger.state(hovered): (
		text-color: ref(color-secondary-main),
		astriek-color: ref(color-secondary-main),
	),
	PopoverTrigger.state(clicked): (
		astriek-color: ref(color-primary-dark),
		background-color: ref(color-primary-dark),
		text-color: ref(color-secondary-contrast),
	),
	PopoverTrigger.state(selected): (
		background-color: ref(color-secondary-main),
		text-color: ref(color-secondary-contrast),
		astriek-color: ref(color-secondary-main),
	),
	PopoverTrigger.state(selected-hovered): (
		astriek-color: ref(color-secondary-dark),
		background-color: ref(color-secondary-dark),
		text-color: ref(color-secondary-contrast),
	),
	PopoverTrigger.state(selected-clicked): (
		astriek-color: ref(color-secondary-main),
		background-color: ref(color-secondary-main),
		text-color: ref(color-secondary-contrast),
	),
);
