@use '../../../../../components/popover/PopoverTrigger.module' as PopoverTrigger;
@import '../../../../baseThemeStyle';
@import '../../../../lib/refs';

$index: (
	trigger: (
		text-color: ref(link-text-color),
		astriek-color: ref(link-text-color),
		radius: globalRef(radius-sm),
		PopoverTrigger.state(hovered): (
			text-color: ref(color-secondary-main),
			astriek-color: ref(color-secondary-main),
		),
		PopoverTrigger.state(clicked): (
			background-color: ref(color-primary-dark),
			text-color: ref(color-secondary-contrast),
			astriek-color: ref(color-primary-dark),
		),
		PopoverTrigger.state(selected): (
			background-color: ref(color-secondary-main),
			text-color: ref(color-secondary-contrast),
			astriek-color: ref(color-secondary-main),
		),
		PopoverTrigger.state(selected-hovered): (
			background-color: ref(color-secondary-dark),
			text-color: ref(color-secondary-contrast),
			astriek-color: ref(color-secondary-dark),
		),
		PopoverTrigger.state(selected-clicked): (
			background-color: ref(color-secondary-main),
			text-color: ref(color-secondary-contrast),
			astriek-color: ref(color-secondary-main),
		),
	),
	dialog: (
		background-color: ref(color-surface-light),
		radius: globalRef(radius-xs),
		shadow: globalRef(shadow-md),
		border-color: ref(color-surface-dark),
		border-style: solid,
		border-size: 1px,
		width: 29.5em,
		fadeIn-animation: (
			duration: globalRef(animation-duration-sm),
			easing: globalRef(animation-easing-in),
		),
	),
	toolbar: (
		gutter: 0.25em,
	),
);
