@use '../../../../../components/popover/PopoverDialog.module' as PopoverTrigger;
@import '../../../../baseThemeStyle';
@import '../../../../lib/refs';

$index: (
	background-color: ref(color-surface-light),
	radius: globalRef(radius-xs),
	border-color: ref(color-surface-dark),
	width: 29.5em,
	fadeIn-animation: (
		duration: globalRef(animation-duration-sm),
		easing: globalRef(animation-easing-in),
	),
);
