@import '../../../../lib/theme';
@import '../../../../lib/refs';

$index: (
	background-color: ref(gradient-primary-main),
	height: 4px,
	border-color: blue,
	border-size: 4px,
	border-style: dashed,
);
