@import '../../../../baseThemeStyle';
@import '../../../../lib/refs';

$annotation-suffix: "'\203B'";
$annotation-suffix-opacity: 0.65;
$index: (
	suffix: (
		content: $annotation-suffix,
		opacity: $annotation-suffix-opacity,
	),
);
