@import '../../../../baseThemeStyle';
@import '../../../../lib/refs';

$annotationSuffix: "'\203B'";
$annotationAffixOpacity: 0.65;

$index: (
	suffix: (
		content: $annotationSuffix,
		opacity: $annotationAffixOpacity,
	),
);
