@import '../../../../lib/theme';
@import '../../../../lib/refs';

$index: (
	variants: (
		h1: (
			text-color: ref(color-surface-contrast),
			// font-family: arial,
			// font-size: 3vmax,
			font-weight: 900,
			line-height: 2em,
			text-transform: uppercase,
			letter-spacing: 2px,
		),
		h2: (
			text-color: ref(color-surface-contrast),
			font-size: 1vmax,
			font-weight: 100,
			font-style: italic,
		),
		subtitle1: (
			font-size: 0.85vmax,
			font-weight: 500,
			letter-spacing: 1px,
			text-transform: uppercase,
		),
		subtitle4: (
			text-transform: lowercase,
		),
		body1: (
			text-color: ref(color-container-contrast),
			line-height: 1.5em,
			// margin-bottom: 1em,
		),
	),
);
