@use '../../../../../components/theme-select/ThemeSelect.module' as theme-select;
@use '../../../../lib/refs';

$vars: (
	icon: (
		text-color: refs.ref(color-surface-contrast),
		theme-select.state(hovered): (
			text-color: refs.ref(color-surface-contrast),
		),
	),
);
