@import "styles/baseComponentStyle";
@import "styles/mixins/popoverMixin";
@import "styles/mixins/typographyMixins";

$__stylesheet__: (
	name: term,
);

.root {
	--content: "*";
	--offset-top: -0.3em;
	--decoration-color: #000;

	.popoverTrigger {
		@include PopoverTrigger;
	}

	&:after {
		position: relative;

		@include disableUserSelection;
		@include cursorPointer;

		@include SuffixMixin(popover-trigger);
		@include useTextColor(popover-trigger);
		@include useOffsetTop(popover-trigger);
	}
}
