@import "styles";

$index: (
	layout: (
		background-color: ref(color-container-dark),
		selection: (
			background-color: ref(color-secondary-dark),
			text-color: ref(color-secondary-contrast),
		),
	),
);
