@namespace "Post";

@st-import Button from "../ui/button/button.st.css";
@st-import ContentComponent from "../content/content-component/content-component.st.css";
@st-import [boxSizing] from "../../theme/mixins.st.css";

.root {
	-st-states: textDirection(enum(ltr, rtl));
	margin-bottom: 2rem;
}

.root img {
	-st-mixin: boxSizing;
	width: 100%;
}

.wrapper {}

.header {}

.main {}

.heading {}

.title {}

.button {
	-st-extends: Button;
}

.date {}

.contentComponent {
	-st-extends: ContentComponent;
}

