@namespace "PostMixin";

@st-import Post from "./post.st.css";
@st-import [bodyTextNormal, Date] from "../../theme/common/typography.st.css";

:vars {
	PostTitleColor: #000000;
	PostTitleColor_Hover: #c0c0c0;
	PostDateTextColor: #000000;
}

.root {
	-st-extends: Post;
}

.root::button,
.root::title {
	color: value(PostTitleColor);
	padding: 1rem 0 0;
}
.root::button:hover,
.root::title:hover {
	color: value(PostTitleColor_Hover);
}

.root::date {
	-st-mixin: Date;
	color: value(PostDateTextColor)
}
