@namespace "PostMixin";

@st-import Post from "./post.st.css";
@st-import [bodyTextNormal, Date] from "../../theme/common/typography.st.css";

:vars {
	PostTitleColor: inherit;
	PostTitleColor_Hover: inherit;
	PostTextColor: inherit;
	BlogPostShadow: none;
	PostTitleBorderColor: inherit;
	PostDateTextColor: inherit;
}

.root {
	-st-extends: Post;
}

.root::wrapper {}

.root::heading {}

.root::header {}

.root::title {
	/* color: value(PostTitleColor) */
	/* color: value(PostTitleColor);
	padding: 1rem 0 0; */
}
.root::title:hover {
	color: value(PostTitleColor_Hover);
}

.root::date {
	-st-mixin: Date;
	color: value(PostDateTextColor)
}
