.root {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--header-background-color);
	z-index: 1;

	&[data-text-direction="ltr"] {
		.item:not(:last-child) {
			margin-right: 1em;
		}
	}

	&[data-text-direction="rtl"] {
		.item:not(:last-child) {
			margin-left: 1em;
		}
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	padding: 0 1em;
}

.section {
	display: flex;
	align-items: center;
	align-items: center;
}

.header {
}

.menu {
	// width: 480px;
}

.localeSelector {
}

.themeSelector {
	width: 20px;
}
