@import '../component.scss';

$__stylesheet__: (
	name: table,
);

.root {
	--border-top-size: 1px;
	--border-top-style: solid;
	--border-top-color: #c0c0c0;
	--border-bottom-size: 1px;
	--border-bottom-style: solid;
	--border-bottom-color: #c0c0c0;
	--border-right-size: 1px;
	--border-right-style: solid;
	--border-right-color: #c0c0c0;
	--border-left-size: 1px;
	--border-left-style: solid;
	--border-left-color: #c0c0c0;
	--radius: 4px;

	margin: 0 auto;
	border-spacing: 0;

	@include use-radius;
	@include use-border-top-size;
	@include use-border-top-style;
	@include use-border-top-color;
	@include use-border-left-size;
	@include use-border-left-style;
	@include use-border-left-color;

	td,
	th {
		padding: 1rem 2rem;

		@include use-border-right-size;
		@include use-border-right-style;
		@include use-border-right-color;
		@include use-border-bottom-size;
		@include use-border-bottom-style;
		@include use-border-bottom-color;
	}

	// &[data-type="bit-layout"] {
	// 	border: 1px solid blue;
	// 	padding: 1em;
	// }
}
