@import 'styles/baseComponentStyle';
@import 'styles/lib/themeVars';

$__stylesheet__: (
	name: table,
);

.root {
	--border-top-size: 1px;
	--border-top-style: solid;
	--border-top-color: #c0c0c0;
	--border-bottom-size: 1px;
	--border-bottom-style: solid;
	--border-bottom-color: #c0c0c0;
	--border-right-size: 1px;
	--border-right-style: solid;
	--border-right-color: #c0c0c0;
	--border-left-size: 1px;
	--border-left-style: solid;
	--border-left-color: #c0c0c0;
	--radius: 4px;

	margin: 0 auto;
	border-spacing: 0;

	// &[data-type="bit-layout"] {
	// 	border: 1px solid blue;
	// 	padding: 1em;
	// }

	@include useRadius();

	@include useBorderTopSize();
	@include useBorderTopStyle();
	@include useBorderTopColor();

	@include useBorderLeftSize();
	@include useBorderLeftStyle();
	@include useBorderLeftColor();

	td,
	th {
		padding: 1rem 2rem;

		@include useBorderRightSize();
		@include useBorderRightStyle();
		@include useBorderRightColor();

		@include useBorderBottomSize();
		@include useBorderBottomStyle();
		@include useBorderBottomColor();
	}
}
