@use 'sass:meta';
@use '../../styles/lib/refs';
@import '../../styles/lib/hooks';
@import '../../styles/lib/states';

@mixin toggle-button($ref) {
	display: flex;

	align-items: center;
	justify-content: center;
	border-radius: 4px;
	height: 2.286em;
	min-width: 32px;

	@include use-text-color($ref);
	@include use-background-color($ref);

	&[data-state='on'] {
		cursor: default;

		@include use-background-color($ref, state(selected));
		@include use-text-color($ref, state(selected));
	}

	&[data-state='off'] {
		cursor: pointer;

		&:hover {
			@include use-background-color($ref, state(hovered));
			@include use-text-color($ref, state(hovered));
		}
	}
}
