@use '../button/Button.variants' as buttons;
@use '../../styles/lib/merge';
@import '../component.scss';

$__stylesheet__: (
	name: toggle,
);
// $states: merge.deep(
// 	$COMPONENT_STATES,
// 	(
// 		valid: valid,
// 	)
// );
.root {
	@include buttons.topbar-item;

	display: flex;
	padding: 0;
	border: none;

	// img {
	// 	// width: 100%;
	// 	// border: 2px solid blue;
	// }
}
