@use '../button/Button.variants' as buttons;
@import '../component.scss';

$__stylesheet__: (
	name: toggle,
);

.root {
	@include buttons.topbar-item;

	display: flex;
	padding: 0;
	border: none;

	// img {
	// 	// width: 100%;
	// 	// border: 2px solid blue;
	// }
}
