@use '../button/Button.variants' as buttons;
@import '../component';

$__stylesheet__: (
	name: toggle,
);

.root {
	@include buttons.topbar-item-toggle;

	display: flex;
	padding: 0;
	border: none;
}
