@use "sass:map";
@use "./reset";
@use "./vars/theme.scss";
@use "./vars/components.scss";
@use "./themes/light.scss";
@use "./themes/dark.scss";
@use "./base";
@use "./mixins/typography.scss";

html,
body {
	font-size: var(--ml-font-size-default);
}

[data-text-direction="ltr"] {
	font-family: var(--ml-font-family-1);
	direction: ltr;
}

[data-text-direction="rtl"] {
	font-family: var(--ml-font-family-2);
	direction: rtl;
}

[data-theme] {
	@include components.css-vars;
}

[data-theme="light"] {
	@include theme.css-vars(light.$index);
}

[data-theme="dark"] {
	@include theme.css-vars(dark.$index);
}

[data-radix-scroll-area-viewport] {
	height: 100% !important;
}

[data-radix-popper-content-wrapper] {
	z-index: 1 !important;
}

.EZDrawer .EZDrawer__checkbox {
	display: none;
}
.EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__overlay {
	display: block;
	opacity: 1;
}
.EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__container {
	visibility: visible;
	transform: translate3d(0, 0, 0) !important;
}
.EZDrawer .EZDrawer__overlay {
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.EZDrawer .EZDrawer__container {
	position: fixed;
	visibility: hidden;
	background: white;
	transition: all;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
