@use "sass:map";
@use "./vars/theme.scss";
@use "./themes/light.scss";
@use "./themes/dark.scss";
@use "./vars/components.scss";

[data-text-direction="ltr"] {
	font-family: var(--ml-font-family-1);
	direction: ltr;
}

[data-text-direction="rtl"] {
	font-family: var(--ml-font-family-2);
	direction: rtl;
}

[data-theme] {
	@include components.css-vars;
}

[data-theme="light"] {
	@include theme.css-vars(light.$index);
}

[data-theme="dark"] {
	@include theme.css-vars(dark.$index);
}
