@mixin text-direction-variant($name, $font) {
	[data-text-direction="#{$name}"] {
		font-family: var(--ml-typography-font-family-#{$font});
		font-weight: var(--ml-typography-font-weight-regular);
		direction: ltr;
	}
}

html,
body {
	font-size: 14px; //var(--ml-typography-font-size-md);
}

@include text-direction-variant(ltr, font1);
@include text-direction-variant(rtl, font2);
