@import '../lib/themeVars';
@import '../lib/refs';
@import '../lib/states';
@import '../lib/merge';

$states: deep(
	$COMPONENT_STATES,
	(
		selected: selected,
	)
);

@function -get-bg-color($var, $state) {
	@return compRef($var, background-color, $state);
}

@function -get-text-color($var, $state) {
	@return compRef($var, text-color, $state);
}

@function -get-font-weight($var, $state) {
	@return compRef($var, font-weight, $state);
}

$bgVar: varName(site-button-toggle-background-color);
$textColorVar: varName(site-button-toggle-text-color);
$fontWeightVar: varName(site-button-toggle-font-weight);

@mixin icon-mixin($var) {
	.icon {
		@include use-icon-color($var);
	}

	&:hover {
		.icon {
			@include use-icon-color($var, state(hovered));
		}
	}
}

@mixin menu-trigger-button-mixin($var: site-mixins-toggle-button) {
	user-select: none;
	border: none;

	@include use-height($var);
	@include use-radius($var);
	@include use-text-color($var);
	@include use-background-color($var);
	@include use-font-weight($var);
	@include icon-mixin($var);
}

@mixin toggle-button-mixin($var: site-button-toggle) {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	@include menu-trigger-button-mixin;
	@include use-width($var);
	@include use-text-color($var);

	&:not([data-state='selected']):hover {
		cursor: pointer;

		@include use-text-color($var, state(hovered));
		@include use-background-color($var, state(hovered));
	}

	// `selected` state overrides
	&[data-state='selected'] {
		#{$bgVar}: #{-get-bg-color($var, state(selected))};
		#{$textColorVar}: #{-get-text-color($var, state(selected))};
		#{$fontWeightVar}: #{-get-font-weight($var, state(selected))};
	}
}

// @mixin Default {
// 	--text-color: magenta;
// 	// --button-mixin-background-color: magenta;

// 	background-color: var(--button-background-color);
// 	border-radius: var(--button-border-radius);
// 	color: var(--text-color);
// 	text-decoration: none;

// 	&:hover {
// 		color: var(--text-color);
// 		background-color: var(--button-background-color__hover);
// 	}

// 	&:active {
// 		color: green; //var(--text-color);
// 		background-color: var(--button-background-color__active);
// 	}
// }
