@use "./buttonMixin";
@use "./inputMixin";

@mixin FormTitle {
	margin-bottom: 2em;

	.title {
		font-size: var(--form-title-font-size);
	}
	.subtitle {
		font-size: var(--form-subtitle-font-size);
	}
}

@mixin Field {
	padding: 0 0 1em 0;
	display: flex;
	align-items: flex-start;
	width: 100%;
}

@mixin Label {
	gap: 0.5em;
	min-width: 200px;
	display: flex;
	align-items: center;
}

@mixin InputField {
	width: 100%;
}

@mixin Input {
	@include InputMixin.Default;
	width: 100%;
}

@mixin TextArea {
	min-height: 10em;
}

@mixin ErrorMessage {
	font-size: var(--form-input-error-message-font-size);
	color: var(--form-input-error-message-text-color);
	display: inline-flex;
	// .validationMessage {
	// }
	// .valueMissing {
	// }
	// .typeMismatch {
	// }
}

@mixin SubmitButton {
	@include ButtonMixin.Default;
}
