@import "../lib/themeVars";

@mixin SeparatorMixin($var, $content: "|") {
	--content: "#{$content}";
	--horizontal-margin: 0.5em;
	--font-weight: 300;
	--opacity: 0.5;

	&::before {
		@include useContent($var);
		@include useFontWeight($var);
		@include useHorizontalMargin($var);
		@include useOpacity($var);
	}
}
