@mixin Default {
	padding: 0.75em;

	background-color: var(--input-background-color);

	border-width: var(--input-border-width);
	border-style: var(--input-border-style);
	border-color: var(--input-border-color);
	border-radius: var(--input-border-radius);

	&:hover {
		background-color: var(--input-background-color__hover);
	}
	&:focus {
		background-color: var(--input-background-color__focus);
	}
}
