@mixin enter-from-left {
	@keyframes enter-from-left {
		from {
			opacity: 0;
			transform: translateX(-200px);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

@mixin enter-from-right {
	@keyframes enter-from-right {
		from {
			opacity: 0;
			transform: translateX(200px);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

@mixin exit-to-left {
	@keyframes exit-to-left {
		from {
			opacity: 1;
			transform: translateX(0);
		}

		to {
			opacity: 0;
			transform: translateX(-200px);
		}
	}
}

@mixin exit-to-right {
	@keyframes exit-to-right {
		from {
			opacity: 1;
			transform: translateX(0);
		}

		to {
			opacity: 0;
			transform: translateX(200px);
		}
	}
}

@mixin fade-in {
	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		// 50% {
		// 	opacity: 0.75;
		// }

		100% {
			opacity: 1;
		}
	}
}

@mixin fade-out {
	@keyframes fade-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}
}

@mixin scale-in {
	@keyframes scale-in {
		from {
			opacity: 0;
			transform: rotateX(-30deg) scale(0.9);
		}

		to {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
	}
}

@mixin scale-out {
	@keyframes scale-out {
		from {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}

		to {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.95);
		}
	}
}

@mixin rotation {
	@keyframes rotation {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
		}
	}
}
