@import '../lib/themeVars';

@mixin trigger($comp: '', $state: '') {
	cursor: pointer;

	@include use-background-color($comp);
	@include use-text-color($comp);
	@include use-radius($comp);

	&:active {
		user-select: none;
	}
}
