@import '../lib/themeVars';
@import '../lib/states';

@mixin base-typography-mixin($var) {
	@include use-font-family($var);
	@include use-font-size($var);
	@include use-font-weight($var);
}

@mixin running-text-mixin($var: paragraph) {
	--line-height: 1em;
	--font-size: 1em;
	--font-weight: 300;

	@include base-typography-mixin($var);
	@include use-text-color($var);
	@include use-line-height($var);
	@include use-text-transform($var);
	@include use-letter-spacing($var);
}

@mixin affix-mixin($module, $affix) {
	@include use-content(#{$module}-#{$affix});
	@include use-opacity(#{$module}-#{$affix});
}

@mixin prefix($module: default) {
	@include affix-mixin($module, prefix);
}

@mixin suffix($module: default) {
	@include affix-mixin($module, suffix);
}

@mixin suffix-content-data($var, $content: '') {
	--content: #{$content};

	&::after {
		@include use-content($var);
		@include use-font-weight($var);
		@include use-horizontal-padding($var);
	}
}

// @mixin contentSelection {
// 	// --background-color: #f0f0f0;
// 	// --text-color: #333;

// 	// ::selection {
// 	// 	@include use-text-color(site-layout-selection);
// 	// 	@include use-background-color(site-layout-selection);
// 	// }
// }
