.root {
	height: 20em;

	user-select: text;

	.article {
		padding: 1em;

		.header {
			padding-bottom: 1em;

			.title {
				font-size: 1.5em;
			}

			.topic {
				font-size: 1em;
			}

			.term {
			}
		}
	}
}
