@namespace "Menu";

@st-import [primary1, primary3, level3, level6] from "../../theme/common.st.css";
@st-import [preventSelection] from "../../theme/mixins.st.css";

.root {
	position: relative;
	display: flex;
	justify-content: center;
	width: 500px;
}

.itemStyles {
	padding: 8px 12px;
	outline: none;
	user-select: none;
	font-weight: 500;
	line-height: 1;
	border-radius: 4px;
	font-size: 15px;
	color: value(primary1);
}
.itemStyles:focus {
	position: relative;
	box-shadow: 0 0 0 2px lightgreen;
}
.itemStyles:hover {
	background-color: value(level3);
}
.itemStyles[data-state="open"] {
	background-color: value(level3);
}

.list {
	box-shadow: 0 0 1px red;
	padding: 0;
	all: unset;
	display: flex;
	justify-content: center;
	background-color: "white";
	/* padding: 4px; */
	/* line-height: 48px; */
	/* borderRadius: 6, */
	/* listStyle: "none", */
	/* // boxShadow: `0 2px 10px ${blackA.blackA7}`, */
}

.item {
	list-style: none;
}

.trigger {
	-st-mixin: itemStyles;
	all: unset;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2;
	padding: 4px 1rem;
	border-radius: 6px;
	cursor: pointer;
}

.menuContent {
	-st-states: layout(string);
	display: grid;
	padding: 22px;
	margin: 0;
	column-gap: 10;
	list-style: none;
}
@media only screen and (min-width: 600px) {
	.menuContent:layout(one) {
		width: 400px;
		grid-template-columns: ".75fr 1fr";
	}
	.menuContent:layout(two) {
		width: 400px;
		grid-auto-flow: column;
		grid-template-rows: repeat(3, 1fr);
	}
}

.viewportPosition {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 100%;
	left: 0;
	perspective: 2000px;
}

.linkTitle {
	font-weight: 500;
	line-height: 1.2rem;
	margin-bottom: 5px;
	color: value(primary3);
}
.linkText {
	all: unset;
	color: value(level6);
	line-height: 1.4rem;
	font-weight: initial;
}

.arrow {
	position: relative;
	top: 70%;
	background-color: white;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	border-top-left-radius: 2px;
	/* display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 10px;
	top: 100%;
	overflow: hidden;*/
}

.link {
	-st-mixin: itemStyles;
	display: block;
	text-decoration: none;
	font-size: 15px;
	/* lineHeight: 1; */
	padding: 12px;
	border-radius: 6px;
}
.link:hover {
	background-color: value(level3);
}
