@namespace "Menu";

@st-import Button from "../ui/button/button.st.css";
@st-import [preventSelection, boxSizing] from "../../theme/mixins.st.css";


@keyframes enterFromRight {
	from { transform: translateX(200px); opacity: 0 };
	to { transform: translateX(0); opacity: 1 };
};

@keyframes enterFromLeft {
	from { transform: translateX(-200px); opacity: 0 };
	to { transform: translateX(0); opacity: 1 };
};

@keyframes exitToRight {
	from { transform: translateX(0px); opacity: 1 };
	to { transform: translateX(200px); opacity: 0 };
};

@keyframes exitToLeft {
	from { transform: translateX(0px); opacity: 1 };
	to { transform: translateX(-200px); opacity: 0 };
};

@keyframes scaleIn {
	from { transform: rotateX(-30deg) scale(0.9); opacity: 0 };
	to { transform: rotateX(0deg) scale(1); opacity: 1 };
};
@keyframes scaleOut {
	from { transform: rotateX(0deg) scale(1); opacity: 1 };
	to { transform: rotateX(-10deg) scale(0.95); opacity: 0 };
};

/* .root {} */

.menu {
	/* -st-states: marker(string); */
}

.menu {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100vw;
	z-index: 1;
}

.list {
	/* margin: 0; */
	/* border: 2px solid blue; */
	all: unset;
	display: flex;
	justify-content: center;
	background-color: white;
	padding: 4px;
	border-radius: 6px;
	list-style: none;
	box-shadow: 0 2px 10px #000;

}

.itemMixin {
	padding: 8px 12px;
	outline: none;
	user-select: none;
	font-weight: 500;
	line-height: 1px;
	border-radius: 4px;
	font-size: 15px;
	color: magenta;
}
.itemMixin:hover {
	background-color: orange;
}
.itemMixin:focus {
	position: relative;
	box-shadow: 0 0 0 2px red;
};

.trigger {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2;
	-st-mixin: itemMixin;
	/* display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2;
	-st-mixin: itemMixin; */
}

.caret {
	position: relative;
	color: blue;
	top: 1;
}
@media (prefers-reduced-motion: no-preference) {
	.caret {
		transition: transform 250ms ease;
	}
	[data-state="open"] .caret {
		transform: rotate(-180deg);
	};
};

.styleIndicator {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 10px;
	top: 100%;
	overflow: hidden;
	z-index: 1;
};
@media (prefers-reduced-motion: no-preference) {
	.styleIndicator {
		transition: "width, transform 250ms ease";
	}
}
[data-state="visible"] .styleIndicator { animation: fadeIn 200ms ease }
[data-state="hidden"] .styleIndicator { animation: fadeOut 200ms ease }


.listItem {
	-st-states: isCurrent(boolean);
	-st-mixin: boxSizing, preventSelection;
 	position: relative;
	padding: 0;
}

.button {
	-st-extends: Button;
	position: relative;
}

.marker {
	-st-states: isCurrent(boolean);
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
}

.root {
	/* position: absolute;
	top: 0;
	left: 0;
	width: 100%; */
}

.viewportPosition {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 100%;
	left: 0;
	perspective: 2000px;
}
:vars {
	viewportHeight: var(--radix-navigation-menu-viewport-height);
	viewportWidth: var(--radix-navigation-menu-viewport-width);
}
.viewport {
	position: relative;
	transform-origin: top center;
	margin-top: 10px;
	width: 100%;
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	height: value(viewportHeight);
	width: 100px;
}
@media only screen and (min-width: 600px) {
	.viewport {
		/* width: 650px; */
		width: value(viewportWidth);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.viewport {
		transition: width, height, 300ms ease;
	}
	.viewport[data-state="open"] { animation: scaleIn 200ms ease };
	.viewport[data-state="closed"] { animation: scaleOut 200ms ease };
}

@media only screen and (min-width: 600px) {
	.root {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100vw;
	border: 2px solid red;
	z-index: 1;

		/* border: 2px solid red !important;
		background: red; */
		/* width: auto; */
	}
};

.link {
	-st-mixin: itemMixin;
	/* border: 2px solid red; */
	display: block;
	text-decoration: none;
	/* font-size: 15px; */
	/* line-height: 1px; */
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 2px solid blue;
}
@media (prefers-reduced-motion: no-preference) {
	.content {
		animation-duration: 250ms;
		animation-timing-function: ease;
	}
	.content[data-motion="from-start"] { animation-name: enterFromLeft };
	.content[data-motion="from-end"] { animation-name: enterFromRight };
	.content[data-motion="to-start"] { animation-name: exitToLeft };
	.content[data-motion="to-end"] { animation-name: exitToRight };
}

.navMenuLink {
}
.navMenuLink:hover {
	background-color: cyan;
}