@namespace "NavTheme";

@st-import Nav from "./nav.st.css";

:vars {
  NavBackgroundColor: #404040;
  NavTextAlign: center;
}

.root {
  -st-extends: Nav;
  background-color: value(NavBackgroundColor);
  text-align: value(NavTextAlign);
}
