@namespace "NavButton";

:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

.root {
	-st-mixin: NavButton;
	-st-states: current(boolean);
	text-decoration: none;
}

.root:current(true) {
	/* background-color: #ffa; */
}
