@namespace "Nav";

:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

.root {
	display: block;
	user-select: none;
}

.menu {
	width: 800px;
	margin: 0 auto;
}

.list {
	margin: 0;
	display: flex;
}

.mobileNav {
	-st-states: visible(boolean);
	position: relative;
}
.mobileNav:visible {
	position: absolute;
}
.mobileNavTrigger {
	width: 30px;
	height: 30px;
}

.mobileNavClose {
	width: 30px;
	height: 30px;
	background: red;
}
.mobileNavMenu {
	/* background: cyan; */
}

.listItem {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: flex;
	-st-states: isCurrent(boolean);
	/* border-bottom: 2px solid transparent; */
}

.listItem:isCurrent(true) {
	border-bottom: 2px solid blue;
}

.button {
	flex: 1;
	text-align: center;
}
