@namespace "Nav";

@st-import Button from "../ui/button/button.st.css";

.root {
	user-select: none;
	margin: 0 auto;
	position: relative;
}

.menu {
	-st-states: marker(string);
	display: inline-flex;
}

.list {
	margin: 0;
	display: inline-flex;
}

.listItem {
	-st-states: marker(string);
 	position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .4em .2em;
}

.button {
	-st-extends: Button;
}

/* .mobileNav {
	-st-states: visible(boolean);
	display: none;
}
.mobileNav:visible {
}
.mobileNavTrigger {
	width: 30px;
	height: value(siteHeaderHeight);
	left: 0;
}

.mobileNavMenu {
	background: #fff;
	top: value(siteHeaderHeight);
	position: relative;
} */
