@namespace "Nav";

:import {
	-st-from: "../../theme/common.st.css";
	-st-named: siteHeaderHeight, shadow1;
}
:import {
	-st-from: "../../theme/mixins.st.css";
	-st-named: NavButton;
}

.root {
	display: block;
	user-select: none;
	width: 1200px;
	position: relative;
}

.menu {
	width: 800px;
	margin: 0 auto;
	box-shadow: value(shadow1);
}

.list {
	margin: 0;
	display: flex;
}

.triggerButton {
	width: 100px;
	height: value(siteHeaderHeight);
	background: cyan;
	border: none;
	cursor: pointer;
}
.dropDownOpen {
	-st-mixin: triggerButton;
}
.dropDownClose {
	-st-mixin: triggerButton;
}

.mobileNav {
	-st-states: visible(boolean);
	position: absolute;
	left: 0;
	width: 250px;
}
.mobileNav:visible {
	position: absolute;
}
.mobileNavTrigger {
	width: 30px;
	height: value(siteHeaderHeight);
	position: absolute;
	left: 0;
}

.mobileNavMenu {
	background: #fff;
	top: value(siteHeaderHeight);
	position: relative;
	/* background: cyan; */
}

.listItem {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: flex;
	-st-states: isCurrent(boolean);
	/* border-bottom: 2px solid transparent; */
}

.listItem:isCurrent(true) {
	/* border-bottom: 2px solid blue; */
}

.button {
	flex: 1;
	text-align: center;
}
