:root {
	--ml-title-font-size: var(--ml-font-size-3xl);
	--ml-title-font-weight: var(--ml-font-weight-medium);
	--ml-title-line-height: var(--ml-line-height-tight);
	/* color */
	--ml-title-color: var(--ml-heading-color);
}

.root {
	margin: 0;
	color: var(--ml-title-color);
	font-size: var(--ml-title-font-size);
	font-weight: var(--ml-title-font-weight);
	line-height: var(--ml-title-line-height);
}

.order-1 {
	--ml-title-font-size: var(--ml-font-size-3xl);
}

.order-2 {
	--ml-title-font-size: var(--ml-font-size-2xl);
}

.order-3 {
	--ml-title-font-size: var(--ml-font-size-xl);
}

.order-4 {
	--ml-title-font-size: var(--ml-font-size-lg);
}

.order-5 {
	--ml-title-font-size: var(--ml-font-size-md);
}

.order-6 {
	--ml-title-font-size: var(--ml-font-size-body);
}
