@import "styles";
@import "styles/mixins/content/codeMixin.scss";

.root {
	--background-color: #f0f0f0;
	--radius: 4px;
	--padding-right: 0.15em;
	--padding-left: 0.15em;
	--border-size: 1px;
	--border-style: solid;

	@include useTextColor(code-inline);
	@include useBackgroundColor(code-inline);
	@include useBorderColor(code-inline);
	@include useFontWeight(code-inline);
	@include useFontFamily(code-inline);

	@include useHorizontalPadding(code-inline);
	@include useRadius(code-inline);
	@include useBorderSize(code-inline);
	@include useBorderStyle(code-inline);
}
