@import "styles";

@mixin Code($comp: "code-inline") {
	--text-color: #f00;
	--font-weight: 700
  --font-family: "Courier New";

	color: compRef($comp, text-color);
	font-weight: ref(code-font-weight);
  font-family: ref(code-font-family);
}
