@import "styles";
@import "styles/mixins/content/codeMixin.scss";

.root {
	--background-color: #f0f0f0;
	--radius: 4px;
	--padding: 0 0.15em;

	@include Code(code-inline);

	@include useBackgroundColor(code-inline);
	@include useRadius(code-inline);
	@include useHorizontalPadding(code-inline);
}
