@import 'styles/lib/component';
@import 'styles/lib/themeVars';
@import 'styles/lib/states';

$__stylesheet__: (
	name: link,
);

.root {
	--color#{state(hovered)}: #00a;
	--color#{state(clicked)}: #a00;

	cursor: pointer;

	&:link,
	&:visited {
		@include use-text-color;
		@include use-background-color;
	}

	&:hover {
		@include use-text-color(name(), state(hovered));
	}

	&:active {
		@include use-text-color(name(), state(clicked));
	}
}
