@use "../MenuButtonMixin.scss";
@import "styles";

.root {
	--button-background-color: #c0c0c0;
	--gap: 4px;

	display: flex;

	gap: compRef(site-locale-selector, gap);

	.item {
		background-color: transparent;
		border: none;
		padding: 0;

		.button {
			@include MenuButtonMixin.ToggleButton;
		}
	}
}
