@import "styles/mixins/menuButtonMixin.scss";
@import "styles";

.root {
	--gap: 4px;

	display: flex;

	@include useGap(site-locale-selector);

	.item {
		background-color: transparent;
		border: none;
		padding: 0;

		.button {
			@include ToggleButton;
		}
	}
}
