@mixin ToggleButton {
	cursor: pointer;
	text-align: center;
	gap: 15em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	font-size: 14px;
	border-radius: 5px;
	background-color: transparent;
	border: none;
	&:hover {
		background-color: #f00;
		color: #fff;
	}
}
