@use '../nav-item/NavListItem.module.scss' as NavListItem;
@import './verticalNavMixin';
@import '../nav-item/navListItemMixin.scss';
@import '../nav-item-content/navItemContentMixin.scss';
@import '../../styles/baseComponentStyle';
@import '../../styles/lib/states';

$__stylesheet__: (
	name: site-vertical-nav,
);

.root {
	.list {
		padding: 0;
		margin: 0;
	}

	@include ListItemMixin(name(item), $states);
	@include NavItemContentMixin(site-item-content-variant-base);
}
