@use '../styles/mixins/typographyMixins.scss';
@use '../styles/mixins/layoutMixins.scss';
@import '../styles/lib/component';
@import '../styles/lib/themeVars';
@import '../styles/lib/states';

$__stylesheet__: (
	name: layout,
);
$footerMinheight: 20vh;

.root {
	@include use-background-color;

	.topbar {
		@include use-background-color(name(top-bar));

		.title {
			@include use-gap(name(logo));
		}
	}

	.page {
		@include layoutMixins.page-container-mixin(name());
		@include use-margin-top(name('page'));

		min-height: calc(100vh - $footerMinheight);
	}

	.footer {
		display: flex;
		flex-direction: row;

		@include use-background-color(name(footer));

		.container {
			@include layoutMixins.page-container-mixin(name());
		}

		.columns {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 2em;
			min-height: $footerMinheight;
		}

		.column {
			display: flex;
			flex-direction: column;

			&:first-child {
				gap: 0.5em;
				max-width: 50%;
			}
		}
	}
}
