@use 'styles/mixins/typographyMixins.scss';
@use 'styles/mixins/layoutMixins.scss';
@import 'styles/baseComponentStyle';
@import 'styles/lib/themeVars';
@import 'styles/lib/states';

$__stylesheet__: (
	name: layout,
);

$footerMinheight: 20vh;

.root {
	@include useBackgroundColor();

	.topBar {
		@include useBackgroundColor(name(top-bar));
	}

	.siteTitle {
		@include useGap(name(logo));
	}

	.page {
		@include layoutMixins.PageContainerMixin(name());
		@include useMarginTop(name('page'));
		min-height: calc(100vh - $footerMinheight);
	}

	.footer {
		display: flex;
		flex-direction: row;
		@include useBackgroundColor(name(footer));
	}

	.footerSiteTitle {
		display: flex;
		flex-direction: row;
		gap: 0.25em;
		@include typographyMixins.RunningTextMixin(site-footer-primary-label);
	}

	.pageContainer {
		@include layoutMixins.PageContainerMixin(name());
	}

	.footerLayout {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2em;
		min-height: $footerMinheight;
	}

	.column {
		display: flex;
		flex-direction: column;
		&:first-child {
			gap: 0.5em;
			max-width: 50%;
		}
	}
}
