@import '../components/component';

$__stylesheet__: (
	name: layout,
);
$footerMinheight: 20vh;

@mixin page-container-mixin($var) {
	margin: 0 auto;
	max-width: 800px;

	@include use-inner-gutter($var);
}

.root {
	@include use-background-color;

	.topbar {
		@include use-background-color(name(header));
		@include use-height(name(header));

		.title {
			@include use-gap(name(logo));
		}

		.panel {
			gap: 1em;
		}
	}

	.page {
		@include page-container-mixin(name());
		@include use-margin-top(name(page));

		min-height: calc(100vh - $footerMinheight);
	}

	.footer {
		display: flex;
		flex-direction: row;

		@include use-background-color(name(footer));

		.container {
			@include page-container-mixin(name());
		}

		.columns {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 2em;
			min-height: $footerMinheight;
		}

		.column {
			display: flex;
			flex-direction: column;

			&:first-child {
				gap: 0.5em;
				max-width: 50%;
			}

			.list {
				padding: 0;

				.item {
					list-style: none;
				}
			}
		}
	}
}
