@use '../../button/Button.variants' as buttons;
@import '../../component';

$__stylesheet__: (
	name: toggle-group-item,
);

.root {
	--gap: 4px;

	display: flex;

	@include use-gap;

	.item {
		background-color: transparent;
		border: none;
		padding: 0;

		// .button {
		// 	// @include buttonMixin.toggle-button-mixin;
		// }
	}
}
